@model POYA.Areas.XLaw.Models.Arbitrament

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Arbitrament</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ComplaintId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ComplaintId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdminId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdminId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DOArbitrament)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DOArbitrament)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AdminComment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AdminComment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsComplaintContentLegal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsComplaintContentLegal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
