@model IEnumerable<POYA.Areas.LarryUserManagement.Models.LarryUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<div class="row">
    <div class="col col-12">
        <a asp-action="Edit" class="float-right">@(Localizer["Add new user"])</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @(Html.DisplayNameFor(model => model.UserName))
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.Email))
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.PhoneNumber))
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.RoleName))
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @(Html.DisplayFor(modelItem => item.UserName))
            </td>
            <td>
                @(Html.DisplayFor(modelItem => item.Email))
            </td>
            <td>
                @(Html.DisplayFor(modelItem => item.PhoneNumber))
            </td>
            <td>
                @(Html.DisplayFor(modelItem => item.RoleName))
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
