@model IEnumerable<POYA.Areas.XSchool.Models.LSchool>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainAdminId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoverMD5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Intro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DORegistering)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsVerified)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MasterUserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainAdminId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoverMD5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Intro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DORegistering)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsVerified)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MasterUserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
