@model POYA.Models.X_doveFile

@{
    ViewData["Title"] = Localizer["Delete"];
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["IsFromDelete"] = "1";
}

<h1>@Localizer["Delete file"]</h1>

<h3>@Localizer["Are you sure you want to delete"] @(Model.Name)?</h3>
<div>
    <hr />
    <partial name="_PreviewPartial" model="@Model" />
    <div class="row">
        <div class="col">
            <div class="row">
                <partial name="_X_doveFileDetailsPartial" model="Model" />
                <div class="col-sm-10" style="margin-left:1%">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <a href="javascript:history.go(-1);" class="btn btn-outline-info"><< @Localizer["Back"]</a>
                        <input type="submit" value="@Localizer[ "Delete"]" class="btn btn-outline-danger" />
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>

@section Scripts {
    <script type="text/javascript" src="~/lib/clipboard.js/dist/clipboard.js"></script>
    <script type="text/javascript">
        var clipboard = new ClipboardJS('#CopyFileUrlA');
    </script>
}
