@model POYA.Models.X_doveFile

@{
    ViewData["Title"] = Localizer["Details"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="word-wrap:break-word;word-break:break-all">@Localizer["Details of"] @(Model.Name)</h1> 
<div>
    <hr />

    <partial name="_PreviewPartial" model="@Model" />
    <div class="row">

        <div class="row" style="margin-left:2%">
            <partial name="_X_doveFileDetailsPartial" model="Model" />

            <div class="col-sm-10">
                <a href="javascript:history.go(-1);" class="btn btn-outline-success"><< @Localizer["Back"]</a>
                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-info">@Localizer["Edit"]</a>
            </div>
        </div>
    </div>

</div>

@section Scripts { 

}
