@model POYA.Areas.XUserFile.Models.LSharing

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _LUserFile = ViewData["_LUserFile"] as LUserFile;
    var _LDir = ViewData["_LDir"] as LDir;
}
    <h4>@(string.Format(Localizer["Share"]))  @(_LDir?.Name??_LUserFile.Name)
    @if (_LUserFile != null)
    {
        <span class="f-span">f</span>
    }
    else
    {
        <span class="d-span">d</span>
    }
    </h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="OrginalId" type="hidden" />
            <div class="form-group">
                <textarea asp-for="Comment" class="form-control" placeholder="@Localizer["Say something. . ."]"></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a id="BackA" class="btn btn-outline-info">&laquo; @Localizer["Back"]</a>
                <input type="submit" value="@Localizer["Share"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>

</script>
}

@section Styles{ 
<style>
    .f-span{
        font-size:70%;
       color:red;
    }
    .d-span{
        font-size:70%;
        color:blue;
    }
</style>
}