@model IEnumerable<POYA.Areas.XUserFile.Models.LSharing>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<img src="~/img/share.bmp" class="ss-icon" title="@Localizer["Click to your storage"]" />
@TempData["Hello"]
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LUserFileOrDirName_)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.IsFile_)
                    {
                        <a asp-action="Details" asp-controller="LUserFiles" asp-route-id="@(item.LUserFileOrDirId)" title="@Localizer["Details"]">@(Html.DisplayFor(modelItem => item.LUserFileOrDirName_))</a>
                        <span class="f-tip">f</span>
                    }
                    else
                    {
                        <a asp-action="Details" asp-controller="LDirs" asp-route-id="@item.LUserFileOrDirId" title="@Localizer["Details"]">@(Html.DisplayFor(modelItem => item.LUserFileOrDirName_))</a>
                        <span class="d-tip">d</span>

                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
     $(document).ready(function () {
            $(".ss-icon").on("click", function () {
                window.location.href = "@Url.Action(action:"Index",controller:"LUserFiles")";
            });
        });
    </script>
}

@section Styles{
    <style>
        .d-tip {
            color: blue;
            font-size: 80%;
        }

        .f-tip {
            color: red;
            font-size: 80%;
        }

        .ss-icon {
            max-height: 80px;
            max-width: 80px;
        }
    </style>
}
