@model POYA.Models.SharedF

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>SharedF</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name_)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name_)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOSharing)
        </dt>
        <dd class = "col-sm-10">
            @( Model.DOSharing.LocalDateTime.ToString("MM-dd-yyyy"))
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOEnd)
        </dt>
        <dd class = "col-sm-10">
                @((Model.DOEnd==null || Model.DOEnd<Model.DOSharing)?Localizer["Unlimited"]:Model.DOEnd?.LocalDateTime.ToString("MM-dd-yyyy"))
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tip)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
