@model IEnumerable<POYA.Models.SharedF>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var SharedF = Model.FirstOrDefault();
    var SharingStringTemplate = $"https://{Context.Request.Host}/SharedFs/Index/" + "{0}";
}


@if (!SharedF.IsGetSharing_)
{
    <div class="row">
        <div class="col col-6 col-sm-5 col-md-4 col-lg-6">
            <h2>@Localizer["Index of the files you share"]</h2>
        </div>
        <div class="col offset-2 col-4 offset-sm-2 offset-md-4 offset-lg-4 col-lg-2">
            <a asp-action="Index" asp-controller="SharedDs" class="btn btn-outline-info">>_ @Localizer["Directories"]<span id="_CursorBounce">|</span></a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name_)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DOSharing)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DOEnd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tip)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (item.ContentType_.Contains("image"))
                        {
                            <a id="_td_@(item.Id)" name="TriggerPrevTd" asp-action="GetSharedFile" asp-route-id="@(item.Id)"> @Html.DisplayFor(modelItem => item.Name_)</a>
                        }
                        else
                        {
                            <a asp-action="GetSharedFile" asp-route-id="@(item.Id)"> @Html.DisplayFor(modelItem => item.Name_)</a>
                        }
                    </td>
                    <td>
                        @(item.DOSharing.LocalDateTime.ToString("MM-dd-yyyy"))
                    </td>
                    <td>
                        @((item.DOEnd == null || item.DOEnd < item.DOSharing) ? Localizer["Unlimited"] : item.DOEnd?.LocalDateTime.ToString("MM-dd-yyyy"))
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tip)
                    </td>
                    <td>
                        <a id="_Copy_@(item.Id)" name="CopySharingInfo" class="btn btn-outline-info" data-clipboard-text="@(string.Format(SharingStringTemplate,item.Id))">@Localizer["Copy"]</a>
                        <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id">@Localizer["Edit"]</a>
                        <a class="btn btn-outline-info" asp-action="Delete" asp-route-id="@item.Id">@Localizer["Delete"]</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <h1>@(string.Format(@Localizer["The {0} shared by {1}"], SharedF.Name_, SharedF.ShringUserName_))</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name_)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Size_)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tip)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @if (item.ContentType_.Contains("image"))
                        {
                            <a id="_td_@(item.Id)" name="TriggerPrevTd" asp-action="GetSharedFile" asp-route-id="@(item.Id)"> @Html.DisplayFor(modelItem => item.Name_)</a>
                        }
                        else
                        {
                            <a asp-action="GetSharedFile" asp-route-id="@(item.Id)"> @Html.DisplayFor(modelItem => item.Name_)</a>
                        }
                    </td>
                    <td>
                        @(item.Size_ < 1024 ? (item.Size_ + "byte") : item.Size_ < Math.Pow(1024, 2) ? ((item.Size_ / 2014) + "kb") : item.Size_ < Math.Pow(1024, 3) ? ((item.Size_ / Math.Pow(1024, 2)).ToString("0.00") + "mb") : (item.Size_ / Math.Pow(1024, 3)).ToString("0.00") + "gb")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tip)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


<img id="PrevImg" style="position: fixed;  top: 0px; left: 0px; right: 0px; bottom: 0px; margin: auto; max-height:40%; max-width:40%; border-radius:8px;box-shadow:2px 2px 18px firebrick;border:solid;border-width:2px;border-color:hotpink" />

@section Scripts{
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/clipboard.js/dist/clipboard.min.js"></script>
    <script type="text/javascript">
        var _PrevImg = $("#PrevImg");
        var clipboard = new ClipboardJS("a[name='CopySharingInfo']");

        var _CursorBounce = $("#_CursorBounce");

        _CursorBounce.css({ "color": "red" });

        setInterval(function CursorBounce() {
            if (_CursorBounce.is(":visible")) {
                _CursorBounce.hide();
            } else {
                _CursorBounce.show();
            }
        }, 600);
        $("a[name=TriggerPrevTd]").mouseover(
            function () {
                ShowPrev(String(this.id).slice(4));
            }
        );

        $("a[name=TriggerPrevTd]").mouseout(
            function () {
                _PrevImg.hide();
            }
        );

        function ShowPrev(id) {
            id = String(id);
            _PrevImg.show();
            _PrevImg.attr("src", "/SharedFs/GetSharedFile/" + id)
        }

        $(document).ready(
            function () {
                _PrevImg.hide();
            }
        );
        $("a[name='CopySharingInfo']").on("click", function () {
            var _color = '#' + (Math.random() * 0xffffff << 0).toString(16);
            $("#" + this.id).css({ "color": _color });
        });
    </script>

}
