@model POYA.Areas.XUserFile.Models.LUserFile

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var UserAllSubDirs = ViewData["UserAllSubDirs"] as List<SelectListItem>;
}

<h1>@(Localizer["Edit for"]) @(Model.Name)</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <div class="row">
                    <input asp-for="Name" class="form-control col-7" />
                    <select asp-for="CopyMove" asp-items="Model.CopyMoveSelectListItems" class=" form-control col-4"></select>
                </div>
                <span asp-validation-for="Name" data-interval="5000" class="text-danger"></span>
                <span asp-validation-for="CopyMove" data-interval="5000" class="text-danger"></span>
                <div class="row">
                    <div class="col-11" id="InDirIdEle" style="display:none">
                        <span>@Localizer["Select a directory"]</span>
                        <select asp-for="InDirId" asp-items="Model.UserAllSubDirSelectListItems" class="form-control"></select>
                        <span asp-validation-for="InDirId" data-interval="5000" class="text-danger"></span>
                    </div>
                </div>
             
            </div>
            <div class="form-group" style="margin-top:20px">
                <a class="btn btn-outline-info" asp-action="Index" asp-route-InDirId="@(Model.InDirId)">&laquo; @Localizer["Back"]</a>
                <input type="submit" value="@Localizer["Save"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            /*
            $("#SharingCode").hide();
            */

            $("#CopyMove").on("change", function () {
                if ($("#CopyMove option:selected").val() != 0) {
                    $("#InDirIdEle").show();
                } else {
                    $("#InDirIdEle").hide();
                }
            });
        });
    </script>
}

@section Styles{ 
<style>
    .row{
        margin-top:5px;
    }

   
</style>
}

@*
     #InDirId{
        display:none;
    }

        <div class="form-group">
            <label asp-for="MD5" class="control-label"></label>
            <input asp-for="MD5" class="form-control" />
            <span asp-validation-for="MD5" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserId" class="control-label"></label>
            <input asp-for="UserId" class="form-control" />
            <span asp-validation-for="UserId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SharedCode" class="control-label"></label>
            <input asp-for="SharedCode" class="form-control" />
            <span asp-validation-for="SharedCode" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DOGenerating" class="control-label"></label>
            <input asp-for="DOGenerating" class="form-control" />
            <span asp-validation-for="DOGenerating" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="InDirId" class="control-label"></label>
            <input asp-for="InDirId" class="form-control" />
            <span asp-validation-for="InDirId" class="text-danger"></span>
        </div>
*@    