@using POYA.Areas.XUserFile.Models
@model IEnumerable<POYA.Areas.XUserFile.Models.LUserFile>
@using Microsoft.AspNetCore.Http.Extensions

@{
    ViewData["Title"] = @Localizer["Your storage"]; //    "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var InDirId = ViewData["InDirId"];
    var InDirName = ViewData["_InDirName"];
    var LastDirId = ViewData["_LastDirId"];  //  BUG >_  DELETE DIR
    var UsedSpace = (long)ViewData["UsedSpace"];    //  in byte
    var SpaceRemainder = 100 - (long)(UsedSpace / (50 * Math.Pow(1024, 3)));
    var _OptimizedUsedSpace = ViewData["OptimizedUsedSpace"];

}

<div class="row">
    <div class="col col-auto">
        <img src="~/img/storage.webp" class="ss-icon" title="@Localizer["Click to your sharing"]" />

    </div>

</div>
<div class="row">
    <div class="col offset-6">
        <div class="progress space-use-progress" title="@Localizer["Total"]: 5G @Localizer["Used"]: ~@_OptimizedUsedSpace">
            <div class="progress-bar" role="progressbar" style="width:@SpaceRemainder%;" aria-valuemin="0"
                 aria-valuemax="100">@Localizer["surplus"]:@SpaceRemainder%</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-8">
            <span class="InDirNameSpan">@(InDirName)</span>(
            @if (InDirId.ToString() != Guid.Empty.ToString())
            {
                <a asp-action="Index" asp-route-InDirId="@Guid.Empty">@Localizer["Root"]</a>
                <a asp-action="Index" asp-route-InDirId="@(LastDirId)">@Localizer["Last"]</a>
            }
            <a asp-action="Create" asp-route-InDirId="@InDirId">@Localizer["Upload"]</a>
            <a asp-action="Create" asp-controller="LDirs" asp-route-InDirId="@InDirId">@Localizer["New"]</a> )
            <br />
            <span class="_PathSpan">@ViewData["_Path"]</span>
        </div>

    </div>

    <table class="table" name="FilesTABLE">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DOCreate)
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in ViewData["_LDirs"] as IEnumerable<LDir>)
            {
                <tr>
                    <td>
                        <a asp-action="Index" asp-route-InDirId="@(d.Id)"> @(Html.DisplayFor(modelItem => d.Name))</a>
                        <span style="font-size:60%;color:blue">d  </span>
                    </td>
                    <td>
                        @(d.DOCreate.LocalDateTime.ToShortDateString())
                    </td>
                    <td>
                        @*
                            <a asp-action="Create" asp-route-_id="@d.Id" asp-controller="LSharings" title="@Localizer["Share"]">&#128226;</a>
                        *@
                        <a asp-action="Edit" asp-controller="LDirs" asp-route-id="@d.Id" title="@Localizer["Rename"]">&#9997;</a>
                        <a asp-action="Details" asp-controller="LDirs" asp-route-id="@d.Id" title="@Localizer["Details"]">&#9749;</a>
                        <a asp-action="Delete" asp-controller="LDirs" asp-route-id="@d.Id" title="@Localizer["Delete"]">&#10008;</a>
                    </td>
                </tr>
            }

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@(item.Id)" title="@Localizer["Details"]">@(Html.DisplayFor(modelItem => item.Name))</a>
                        <span style="font-size:60%;color:red">f</span>
                        <span style="font-size:60%;">(<span style="color:red">@(item.OptimizedSize) </span>)</span>
                    </td>
                    <td>
                        @(item.DOCreate.LocalDateTime.ToShortDateString())
                    </td>
                    <td>
                        @*
                            <a asp-action="Create" asp-route-_id="@item.Id" asp-controller="LSharings" title="@Localizer["Share"]">&#128226;</a>
                        *@
                        <a asp-action="Edit" asp-route-id="@item.Id" title="@Localizer["Rename"]">&#9997;</a>
                        <a asp-action="Details" asp-route-id="@item.Id" title="@Localizer["Details"]">&#9749;</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" title="@Localizer["Delete"]">&#10008;</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @section Scripts{
        <script>

        class Service {
            constructor() {

            }

        }

        class UI {
            constructor() {

            }
        }

        class Data {
            constructor() {

            }

        }

        class Value {
            constructor() {
            }
        }

        var _Service = new Service();
        var _Value = new Value();
        var _Data = new Data();
        var _UI = new UI();

        $(document).ready(function () {
            $(".ss-icon").on("click", function () {
                //  window.location.href = "@Url.Action(action:"Index",controller:"LSharings")";
            });
        });
        </script>
    }

    @section Styles{
        <style>
            .ss-icon {
                max-height: 80px;
                max-width: 80px;
                position: sticky;
            }

            .InDirNameSpan {
                font-size: 200%;
            }

            ._PathSpan {
                font-size: 90%;
            }
        </style>
    }

    @*

                        <td>
                            <input name="FilCheckBox" id="FilCheckBox_@(item.Id)" class=".Zoom190p" type="checkbox" value="@(item.Id)" />
                        </td>

                            <a asp-action="Move" asp-route-id="@(item.Id)" title="@Localizer["Move"]">&#9986;</a>
                            <a asp-action="Copy" asp-route-id="@(item.Id)" title="@Localizer["Copy"]">&#9903;</a>

        <a asp-action="Move" asp-controller="LDirs" asp-route-ReturnUrl="@ReturnUrl" asp-route-id="@(d.Id)" title="@Localizer["Move"]">&#9986;</a>
        <a asp-action="Copy" asp-controller="LDirs" asp-route-ReturnUrl="@ReturnUrl" asp-route-id="@(d.Id)" title="@Localizer["Copy"]">&#9903;</a>

        asp-action="Create" asp-controller="LDirs" asp-route-InDirId="@ViewData["InDirId"]"
    *@
