@model POYA.Areas.LAdmin.Models.UserComplaint

@{
    ViewData["Title"] = "Delete";
    Layout = "/home/larry/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UserComplaint</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOComplaint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOComplaint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceptionistId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceptionistId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuditResultId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuditResultId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IllegalityType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IllegalityType)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
