@model POYA.Areas.LAdmin.Models.UserComplaint

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>UserComplaint</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @(Html.DisplayNameFor(model => model.ContentId))
        </dt>
        <dd class = "col-sm-10">
            @(Html.DisplayFor(model => model.ContentId))
        </dd>
        <dt class = "col-sm-2">
            @(Html.DisplayNameFor(model => model.DOComplaint))
        </dt>
        <dd class = "col-sm-10">
            @(Html.DisplayFor(model => model.DOComplaint))
        </dd>
        <dt class = "col-sm-2">
            @(Html.DisplayNameFor(model => model.ReceptionistId))
        </dt>
        <dd class = "col-sm-10">
            @(Html.DisplayFor(model => model.ReceptionistId))
        </dd>
        <dt class = "col-sm-2">
            @(Html.DisplayNameFor(model => model.AuditResultId))
        </dt>
        <dd class = "col-sm-10">
            @(Html.DisplayFor(model => model.AuditResultId))
        </dd>
        <dt class = "col-sm-2">
            @(Html.DisplayNameFor(model => model.Description))
        </dt>
        <dd class = "col-sm-10">
            @(Html.DisplayFor(model => model.Description))
        </dd>
        <dt class = "col-sm-2">
            @(Html.DisplayNameFor(model => model.IllegalityType))
        </dt>
        <dd class = "col-sm-10">
            @(Html.DisplayFor(model => model.IllegalityType))
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-success">Edit</a> |
    <a id="BackEle" class="btn btn-outline-info">Back to List</a>
</div>
