@model IEnumerable<POYA.Areas.LAdmin.Models.UserComplaint>

@{
    ViewData["Title"] = Localizer["Complaints"];
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    var IsChecking=Convert.ToBoolean(ViewData["IsChecking"] );
    var UserId_=Convert.ToString(ViewData["UserId"]);
}

<h1>@(ViewData["Title"])</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @(Html.DisplayNameFor(model => model.ComplainantName))
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.ContentTitle))
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.DOComplaint))
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.ReceptionistName))
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.Description))
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.IllegalityTypeString))
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @(Html.DisplayFor(modelItem => item.ComplainantName))
                </td>
                <td>
                    @(Html.DisplayFor(modelItem => item.ContentTitle))
                </td>
                <td>
                    @(Html.DisplayFor(modelItem => item.DOComplaint.LocalDateTime))
                </td>
                <td>
                    <a asp-action="Create" asp-controller="AuditResults" title='@Localizer["Check"]' asp-route-ComplainantId="@(item.Id)">@(Html.DisplayFor(modelItem => item.ReceptionistName))</a>
                </td>
                <td>
                    @(Html.DisplayFor(modelItem => item.Description))
                </td>
                <td>
                    @(Html.DisplayFor(modelItem => item.IllegalityTypeString))
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@(IsChecking && (item.ComplainantId!=UserId_)? Localizer["Check"]:Localizer["Edit"])</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
