@model IEnumerable<POYA.Areas.XAd.Models.LAd>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"]=Localizer["All advertisement"];
}

<h4>@(ViewData["Title"])</h4>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @(Html.DisplayNameFor(model => model.AdvertiserUserId))
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.Title))
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.Content))
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.DOPublishing))
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @(Html.DisplayFor(modelItem => item.AdvertiserUserId))
            </td>
            <td>
                @(Html.DisplayFor(modelItem => item.Title))
            </td>
            <td>
                @(Html.DisplayFor(modelItem => item.Content))
            </td>
            <td>
                @(Html.DisplayFor(modelItem => item.DOPublishing))
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>