@model IEnumerable<POYA.Areas.WeEduHub.Models.FunComment>

@{
    var UserId=ViewData["UserId"]?.ToString();
}


<table >  
    <caption></caption>

    <tbody >
        <tr><th id="09082799-645c-4246-84f9-39ea3c4d51cb"></th></tr>
        @foreach (var item in Model) 
        {
            <tr class="FunComment_tr">
                <td style="vertical-align: top; ">
                    <img 
                        src='/Home/GetAvatar?UserId=@(item.CommentUserId)' 
                        width="50" height="50" 
                        alt="@(item.CommentUserName)"  
                        title="@(item.CommentUserName)" 
                        class="rounded-circle  prevent-select FunComment_UserAvatar" user_id='@(item.CommentUserId)'/>
                </td>
                <td >
                    <div style="padding-left: 10px;">
                        <a class="FunComment_UserName prevent-select" asp-page="/Account/ViewUserInfo" asp-area="Identity" asp-route-UserId="@item.CommentUserId">@(item.CommentUserName)</a>
                        <br/>
                        <span class="CommentContent"> @(Html.DisplayFor(modelItem => item.CommentContent))</span> 
                        <br/>
                        <span class="DOCommenting"> @(item.DOCommenting.LocalDateTime)</span> 
                        @if(UserId==item.CommentUserId)
                        {
                            <a class="FunComment_Delete " asp-action="Delete" asp-route-id="@item.Id">@(Localizer["Delete"])</a> 
                        }
                        else
                        {
                            <a class="FunComment_Report " asp-action="Delete" asp-route-id="@item.Id">@(Localizer["Report"])</a>
                        }

                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
