@model IEnumerable<POYA.Areas.WeEduHub.Models.FunComment>

@{
    var UserId=ViewData["UserId"]?.ToString();
}


<table class="table">
    <tbody>
        @foreach (var item in Model) 
        {
            <tr>
                <td>
                    <table>
                        <td>
                            <img 
                                src='/Home/GetAvatar?UserId=@(item.CommentUserId)' 
                                width="50" height="50" 
                                alt="@(item.CommentUserName)"  
                                title="@(item.CommentUserName)" 
                                class="rounded-circle"/>
                        </td>
                        <td>
                            <a class="FunComment_UserName" asp-action="UserInfo" asp-route-id="@item.Id">@(item.CommentUserName)</a>
                            <br/>
                            <span class="CommentContent"> @(Html.DisplayFor(modelItem => item.CommentContent))</span> 
                            @if(UserId==item.CommentUserId)
                            {
                                <br/>
                                
                                <span class="DOCommenting"> @(item.DOCommenting.LocalDateTime)</span> 
                                <a class="FunComment_Delete" asp-action="Delete" asp-route-id="@item.Id">@(Localizer["Delete"])</a>
                            }
                        </td>
                    </table>
                </td>
            </tr>
        }
    </tbody>
</table>
