@model IEnumerable<POYA.Areas.WeEduHub.Models.FunComment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CommentUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WeArticleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentContent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOCommenting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsShielded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOShielding)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CommentUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeArticleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOCommenting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsShielded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOShielding)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
