

@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@(Localizer["User index"])</h2>
<hr/>
<table class="table">
    <tr>
        <th>@(Localizer["User ID"])</th>
        <th>@(Localizer["User name"])</th>
        <th>@(Localizer["Email"])</th>
        <th>@(Localizer["Email confirmed"])?</th>
    </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(item.Id)</td>
                <td>@(item.UserName)</td>
                <td>@(item.Email)</td>
                <td>@(item.EmailConfirmed?Localizer["Yes"]:Localizer["No"])</td>
            
            </tr>    
        }
    
</table>