@model POYA.Areas.XAd.Models.UserFeedback

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"]=Localizer[""];
}


<h3>@(Localizer["Are you sure you want to delete this"])?</h3>
<div>
    <h4>@(ViewData["Title"])</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @(Html.DisplayNameFor(model => model.UserId))
        </dt>
        <dd class = "col-sm-10">
            @(Html.DisplayFor(model => model.UserId))
        </dd>
        <dt class = "col-sm-2">
            @(Html.DisplayNameFor(model => model.DOFeedback))
        </dt>
        <dd class = "col-sm-10">
            @(Html.DisplayFor(model => model.DOFeedback))
        </dd>
        <dt class = "col-sm-2">
            @(Html.DisplayNameFor(model => model.Comment))
        </dt>
        <dd class = "col-sm-10">
            @(Html.DisplayFor(model => model.Comment))
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />  
        <a id="BackEle" class="btn btn-outline-info">&laquo;@(Localizer["Back"])</a>
    </form>
</div>
