@model POYA.Areas.XAd.Models.UserFeedback

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"]=Localizer[""];
}


<div>
    <h4>@(ViewData["Title"])</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @(Html.DisplayNameFor(model => model.UserId))
        </dt>
        <dd class = "col-sm-10">
            @(Html.DisplayFor(model => model.UserId))
        </dd>
        <dt class = "col-sm-2">
            @(Html.DisplayNameFor(model => model.DOFeedback))
        </dt>
        <dd class = "col-sm-10">
            @(Html.DisplayFor(model => model.DOFeedback))
        </dd>
        <dt class = "col-sm-2">
            @(Html.DisplayNameFor(model => model.Comment))
        </dt>
        <dd class = "col-sm-10">
            @(Html.DisplayFor(model => model.Comment))
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>   
    <a id="BackEle" class="btn btn-outline-info">&laquo;@(Localizer["Back"])</a>
</div>