@model POYA.Areas.XAd.Models.UserFeedback

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>UserFeedback</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @(Html.DisplayNameFor(model => model.UserId))
        </dt>
        <dd class = "col-sm-10">
            @(Html.DisplayFor(model => model.UserId))
        </dd>
        <dt class = "col-sm-2">
            @(Html.DisplayNameFor(model => model.DOFeedback))
        </dt>
        <dd class = "col-sm-10">
            @(Html.DisplayFor(model => model.DOFeedback))
        </dd>
        <dt class = "col-sm-2">
            @(Html.DisplayNameFor(model => model.Comment))
        </dt>
        <dd class = "col-sm-10">
            @(Html.DisplayFor(model => model.Comment))
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
