@model IEnumerable<POYA.Areas.WeEduHub.Models.WeArticleSet>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = Localizer["Video and article set"];
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _UserId=ViewData["UserId"];
}

<h1>@(ViewData["Title"])</h1>

<div class="row">
    <div class="col col-12">
        <a asp-action="Create" class="btn btn-outline-info float-right add-wearticleset">@(Localizer["Add"]) &raquo;</a>
    </div>
</div>

<div class="row wearticleset-row">
    @foreach (var item in Model)
    {
        <div class="col col-auto wearticleset-col" item-id="@(item.Id)">
            <div class="card" style="max-width: 18rem;"  item-id="@(item.Id)">
                <div class="card-body"  item-id="@(item.Id)">
                    <h5 class="card-title">@(item.Name)</h5>
                    <hr/>
                    <p class="card-text">@(item.Description)</p>
                    <a asp-action="Details" asp-route-Id="@(item.Id)" class="card-link">@(Localizer["Details"])</a>
                    <a asp-action="Edit" asp-route-Id="@(item.Id)" class="card-link">@(Localizer["Edit"])</a>
                </div>
            </div>
        </div>
    }
</div>

@section Scripts
{
    <script>

        $(document).ready(()=>{
            
            $(document).on(`click`,`.wearticleset-col *`,(e)=>{ WearticlesetColClick(e); });

        });
        
        /**
         * @@param {Event}e
         */
        function WearticlesetColClick(e) { window.location.href=`@(Url.Action("Index","WeArticle"))?SetId=`+$(e.target).parents().attr(`item-id`); }

    </script>
}

@section Styles
{
    <style>

        .wearticleset-row>.col{
            margin-top: 10px;
        }
        
        .card-body{
            cursor: pointer;
        }

        .card-body:hover{
            background-color: rgba(225,0,230,0.2);
            border-radius: 3px;
        }

    </style>
}