@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    var _IsSignedIn=SignInManager.IsSignedIn(User);
}

<style>
    .NavAvatar {
        height: 50px;
        width: 50px;
        position: absolute;
        box-shadow: 0px 0px 0px 1px #ff6a00;
    }

        .NavAvatar:hover {
            animation: NavAvatarZoomIn 0.2s linear 1 forwards;
            opacity:1.0;
        }

</style>

<ul class="navbar-nav float-right" style="margin-right:20px">
    @if (_IsSignedIn)
    {
        <li class="nav-item NavAvatarEle">
            <a class="nav-link " asp-area="Identity" asp-page="/Account/Manage/Index" title='@(User.Identity.Name)(@Localizer["Manage"])'>
                <img name="UserAvatarImg" src='/Home/GetAvatar' class="rounded-circle NavAvatar"  asp-append-version="true" alt=""/>
            </a>
        </li>
        <li class="nav-item" style="margin-left:55px">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl='@(Context.Request.Path)'>
                <button type="submit" class="nav-link btn btn-link" title='@(Localizer["Logout"])'>
                    <img src='~/img/logout.webp' style="width:18px;height:20px;position:absolute" alt=""/>
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link " asp-area="Identity" asp-page="/Account/Register"  asp-route-returnUrl='@(Context.Request.Path)'>@(Localizer["Register"])</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " asp-area="Identity" asp-page="/Account/Login"  asp-route-returnUrl='@(Context.Request.Path)'>@(Localizer["Login"])</a>
        </li>
    }
</ul>
