@model POYA.Areas.EduHub.Models.UserEArticleSet

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>@string.Format( Localizer[ "Are you sure you want to delete {0}"],Model.Name)?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Label)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Label)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DOCreating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DOCreating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a id="BackA" class="btn btn-outline-info">&laquo; @(Localizer["Back"])</a> 
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
