@model IEnumerable<POYA.Areas.EduHub.Models.UserEArticleSet>
@using Microsoft.AspNetCore.Identity
@using POYA.Areas.EduHub.Models
@using POYA.Unities.Helpers;
@using POYA.Areas.EduHub.Controllers;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _UserEArticleHomeInfo = ViewData["UserEArticleHomeInfo"] as UserEArticleHomeInfo;
}
@{
    /*
        <h1>Index</h1>
        <p>
            <a asp-action="Create">Create New</a>
        </p>
    */
}
<div id="EArticleSetContextMenu_Ele"></div>
<div class="row">
    <div class="col  col-12  EArticle-Home-Img-Ele">
        <div class="float-left" onclick='location.href = "@(Url.Action("Index","EArticles"))"'
             style="zoom:200%;position:fixed;cursor:pointer;color:brown">&laquo;&laquo;</div>
        <img class="rounded-circle mx-auto d-block EArticle-Home-Avatar"
             src="/Home/GetAvatar?random=@(new Random().Next())" />
        <div class="text-center">@(User.Identity.Name)</div>

        <div class="col text-center">
            <input type="text"
                   id="UserEArticleHomeInfo_Comment"
                   value="@(_UserEArticleHomeInfo.Comment)"
                   title='@Localizer["Press ENTER to save"]' />
        </div>
        <input type="file" id="UserEArticleHomeInfo_Conver_Input" hidden accept="image/*" />
        <img class="EArticle-Home-BgImg-Edit" id="UserEArticleHomeInfo_Conver" src='~/img/edit.webp' 
        title='@Localizer["Change cover"]' />
    </div>
</div>

<div class="row">
    @foreach (var i in Model)
    {
        <div class="col col-4 col-md-3 col-lg-2" style="margin-top:10px">
            <div class="card EArticleSetCard" SetId="@(i.Id)">
                <div class="card-body text-center">
                    <h5 class="card-title">@(i.Name)</h5>
                    <span class="card-text">@(i.Label)</span>
                    <span>
                        @*
                            <img src="~/img/edit.webp" class="float-right EArticleSetOperationEle"  SetId="@@(i.Id)" style="width:20px;height:20px;position:absolute" />
                        *@
                    </span>
                </div>
            </div>
        </div>
    }

</div>

@section Scripts{
    <script>
    /*====  VALUE       ====*/
    var InitHomeComment = "@(_UserEArticleHomeInfo.Comment)";
    var ConverImgMD5 = "";

    var AddEArticleSetId = "@X_DOVEValues.AddEArticleSetId";
    var DefaultEArticleSetId = "@X_DOVEValues.DefaultEArticleSetId";
    /**
     * EArticleSetContextMenu_${SetId}
     * @@param {String}SetId -The EArticle set id
     */
    var _EArticleSetContextMenuId =(SetId)=> `EArticleSetContextMenu_${SetId}`;
    /**
     * The Context Menu of EArticle set
     * @@param {String}SetId -The EArticle set id
     */
    function EArticleSetContextMenu(SetId) {
        var CommonSetIsEle = (SetId == AddEArticleSetId ||SetId==DefaultEArticleSetId)?``: `
        <div>
            <button type="button" class="btn btn-success" onclick="GoToEArticleSetEdit('${SetId}')">@Localizer["Edit"]</button>
        </div>
        <div>
            <button type="button" class="btn btn-success" onclick="GoToEArticleSetDelete('${SetId}')">@Localizer["Delete"]</button>
        </div>
        `;
        return `
        <div class="EArticle-Set-Context-Menu" id="${_EArticleSetContextMenuId(SetId)}" SetId="${SetId}">
            <div>
                <button type="button" class="btn btn-success" onclick="GoToEArticleSetDetails('${SetId}')">${SetId==AddEArticleSetId?"@Localizer["Add"]":"@Localizer["Details"]"} </button>
            </div>
            ${CommonSetIsEle}
        </div>
        `;
    }

    </script>


    <script>
        /*====  UI          ====*/
        //  ONCLICK <<<<<<


        /**
        * Return the alert html string
        * @@param {string} ClassType The class type >_
        *      primary/secondary/success/info/danger/warning/dark/light
        * @@param  {string} Message The message
        */
        function MakeAlert(ClassType, Message) {
            var _Ele =
                `
                <div class="alert alert-${ClassType} alert-dismissible fade show" role="alert">${Message}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                `;
            $(".xbody").prepend(_Ele);
            setTimeout(function () {
                $('.alert').alert('close');
            }, 2500);
        }
    </script>

    <script>
    /*====  SERVICE     ====*/
    //      AN BUG HERE AFTER FIRST UPOAD AND I CAN'T FIND IT       //
        function UploadEArticleHomeInfo() {
            if (String( $("#UserEArticleHomeInfo_Comment").val()) == InitHomeComment &&
                $("#UserEArticleHomeInfo_Conver_Input").val().length < 1) return;
            var IsUploadCoverFile = $("#UserEArticleHomeInfo_Conver_Input").val().length > 0;
            var _userEArticleHomeInfo = new FormData();
            if (IsUploadCoverFile) {
                var _File = document.getElementById("UserEArticleHomeInfo_Conver_Input").files[0];
                _userEArticleHomeInfo.append("@(nameof(UserEArticleHomeInfo.CoverFile))", _File, _File.name);
            } else {
                _userEArticleHomeInfo.append("@(nameof(UserEArticleHomeInfo.Comment))", $("#UserEArticleHomeInfo_Comment").val());
            }
            $.ajax({
                url: "@(Url.Action(nameof(UserEArticleSetsController.UploadEArticleHomeInfo)))",
                type: "POST",
                data: _userEArticleHomeInfo,
                //  dataType: "json",
                processData: false,
                contentType: false,
                headers: {
                    "L-XSRF-TOKEN": "@(csrf.GetAndStoreTokens(Context).RequestToken)"
                },
                success: function () {
                    InitHomeComment =String( $("#UserEArticleHomeInfo_Comment").val());
                    MakeAlert("info", "@Localizer[ "Update successfully"]" + "!")
                    if (IsUploadCoverFile) {
                        document.getElementById("UserEArticleHomeInfo_Conver_Input").value='';
                    }
                    let _random = Math.floor(Math.random() * 100 + 1);
                    $(".EArticle-Home-Img-Ele").css("background-image",
                        `url("@(Url.Action("GetEArticleHomeCover", new { id=_UserEArticleHomeInfo.Id}))?random=${_random}")`);
                },
                error: function () {
                    MakeAlert("danger", "@Localizer["Some errors has occurred"]" + "!");
                }
            });

        }
    </script>


    <script>
//====  DATA        ====//

    /**
     * Go to the EArticle Set
     * @@param {String}SetId -The Card id
     */
    function GoToEArticleSetDetails(SetId) {
           window.location.href = SetId == '@X_DOVEValues.AddEArticleSetId' ?
                    "@(Url.Action("Create","UserEArticleSets",new { area="EduHub"}))" :
            `@(Url.Action("XIndex","EArticles",new { area = "EduHub" }))?SetId=${SetId}`;
        event.preventDefault();
    }
    /**
     * Go to the EArticle Set
     * @@param {String}SetId -The Card id
     */
    function GoToEArticleSetEdit(SetId) {
        window.location.href = `/EduHub/UserEArticleSets/Edit/${SetId}`;
        event.preventDefault();
    }
    /**
     * Go to the EArticle Set
     * @@param {String}SetId -The Card id
     */
    function GoToEArticleSetDelete(SetId) {
        window.location.href = `/EduHub/UserEArticleSets/Delete/${SetId}`;
        event.preventDefault();
    }

        /**
         * Show context menu
         * @@param {String} SetId -The set id
         */
    function ShowEArticleSetContextMenu(SetId) {
        //  if ($(`#` + _EArticleSetContextMenuId(SetId)).length > 0) return false;
        $(".EArticle-Set-Context-Menu").remove();
        var _EArticleSetContextMenu = $(EArticleSetContextMenu(SetId));
        $("#EArticleSetContextMenu_Ele").append(_EArticleSetContextMenu);
        _EArticleSetContextMenu.offset({ top: window.event.pageY, left:  window.event.pageX });

        return false;
    }

    function RemoveEArticleSetContextMenu(SetId) {
        if ($(`#` + _EArticleSetContextMenuId(SetId)).length < 1) return;
        $(`#` + _EArticleSetContextMenuId(SetId)).remove();
    }


    function ReadMD5() {
        {
            var BlobSlice_ = File.prototype.slice || File.prototype.mozSlice || File.prototype.webkitSlice,
                ChunkSize = 20 * 1024 * 1024,
                Chunks = Math.ceil(_File.size / ChunkSize),
                CurrentChunk = 0,
                Spark_ = new SparkMD5.ArrayBuffer(),
                FileReader_ = new FileReader();
        }

        FileReader_.onload = function (e) {
            Spark_.append(e.target.result);
            CurrentChunk++;
            if (CurrentChunk < Chunks) {
                loadNext();
            } else {
                ConverImgMD5 = String(Spark_.end());
                UploadEArticleHomeInfo();
            }
        };
        FileReader_.onerror = function () {
            MakeAlert("danger","@Localizer["Some errors has occurred"]");
        };
        function loadNext() {
            var Start = CurrentChunk * ChunkSize,
                End = ((Start + ChunkSize) >= _File.size) ? _File.size : Start + ChunkSize;
            FileReader_.readAsArrayBuffer(BlobSlice_.call(File_, Start, End));
        }
        loadNext();
        }

    function CheckKeyCodeConfirmation() {
        var keyCode = event.keyCode ? event.keyCode : event.which ? event.which : event.charCode;
        if (keyCode == 13) {
            var _Comment = $("#UserEArticleHomeInfo_Comment").val();
            if (InitHomeComment != _Comment) {
                UploadEArticleHomeInfo();
            }
        }
    }

    </script>

    <script>

        $(document).ready(function () {

            $(".EArticleSetCard").contextmenu(function () {
                var SetId = $(this).attr("SetId");
                event.preventDefault();
                return ShowEArticleSetContextMenu(SetId);
            });

            $(document).on("mouseover", ".EArticleSetCard", function () {
                var SetId = $(this).attr("SetId");
                //  console.log(">>>>>>"+SetId);
                RemoveEArticleSetContextMenu(SetId);
            });

            /*
            $(".EArticle-Home-Img-Ele").css("background-image",
                'url("@@(Url.Action("GetEArticleHomeCover", new { area="EduHub",id=_UserEArticleHomeInfo.Id}))")');
            */

            $("#UserEArticleHomeInfo_Conver").on("click", function () {
                $("#UserEArticleHomeInfo_Conver_Input").click();
            });
            $("#UserEArticleHomeInfo_Comment").keypress(function () {
                CheckKeyCodeConfirmation();
            });

            $("#UserEArticleHomeInfo_Conver_Input").on("change", function () {
                //  ReadMD5();
                UploadEArticleHomeInfo();
            });

            $(".card").on("click", function () {
                var SetId = $(this).attr("SetId");
                GoToEArticleSetDetails(SetId);
            });

        });

    </script>
}

@section Styles{
    <style>
        .EArticle-Set-Context-Menu {
            border: solid;
            border-color:coral;
            border-radius: 8px;
            z-index: 999;
            padding: 2px;
            position: absolute;
            text-align:center;
        }
        .EArticle-Set-Context-Menu button{
            margin-top:2px;
            zoom:80%;
        }

        .card {
            font-size: 80%;
            width: 90%;
            box-shadow: 1px 1px 1px #888888;
        }

            .card:hover {
                animation: AnimationBoxShadow 3.2s linear infinite;
                cursor: pointer;
            }


        #UserEArticleHomeInfo_Comment {
            background-color: rgba(255,0,220,0.2);
            border: none;
            text-align: center;
        }

        .EArticle-Home-BgImg-Edit {
            position: absolute;
            right: 0px;
            bottom: 0px;
            width: 30px;
            border-radius: 10px;
        }

        .EArticle-Home-Img-Ele {
            height: 150px;
            background-image: url("@(Url.Action("GetEArticleHomeCover",new {id= _UserEArticleHomeInfo.Id}))");
            background-position: center;
            border-radius: 10px;
        }

        .EArticle-Home-Avatar {
            height: 55px;
            width: 55px;
            margin-top: 20px;
            border: 1px solid #ff00dc;
        }


            .EArticle-Home-Avatar:hover {
                animation: AvatarScale 0.2s linear 1 forwards;
            }

    </style>
}

@*

    <table class="table">

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Label)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DOCreating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
            <img src="~/img/earticle_home_default_img.webp" class="img-fluid EArticle-Home-Img" />
        .EArticle-Home-Img {
                width: 100%;
                height: 200px;
                border-radius: 10px;
            }
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Label)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DOCreating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comment)
                </th>
                <th></th>
            </tr>
        </thead>
*@