@model IEnumerable<POYA.Areas.EduHub.Models.UserEArticleSet>
@using Microsoft.AspNetCore.Identity
@using POYA.Areas.EduHub.Models
@using POYA.Unities.Helpers;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _UserEArticleHomeInfo = ViewData["UserEArticleHomeInfo"] as UserEArticleHomeInfo;
}

@*
    <h1>Index</h1>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
*@

<div class="row">
    <div class="col  col-12  EArticle-Home-Img-Ele">
        <img class="rounded-circle mx-auto d-block EArticle-Home-Avatar" />
        <div class="text-center">@(User.Identity.Name)</div>

        <div class="col text-center">
            <input type="text"
                   id="UserEArticleHomeInfo_Comment"
                   value="@(_UserEArticleHomeInfo.Comment)" title="@Localizer["Press ENTER to save"]" />
        </div>
        <input type="file" id="UserEArticleHomeInfo_Conver_Input" hidden accept="image/*" />
        <img class="EArticle-Home-BgImg-Edit" id="UserEArticleHomeInfo_Conver" />
    </div>
</div>

<div class="row" style="margin-top:10px">
    @foreach (var i in Model)
    {
        <div class="col col-4 col-md-3 col-lg-2">
            <div class="card" cardid="@(i.Id)">
                <div class="card-body text-center">
                    <h5 class="card-title">@(i.Name)</h5>
                    <p class="card-text">@(i.Label)</p>
                    @*<a href="#" class="btn btn-primary">@Localizer["ADD"]</a>*@
                </div>
            </div>
        </div>
    }

</div>


@section Scripts{
    <script>
        /*====  VALUE       ====*/
        var InitHomeComment = "@(_UserEArticleHomeInfo.Comment)";
        var ConverImgMD5 = "";

    </script>


    <script>
        /*====  UI          ====*/
        //  ONCLICK <<<<<<
        function InitHomeCover() {
            var EArticle_Home_Avatar = $(".EArticle-Home-Avatar");
            EArticle_Home_Avatar.attr("src", "@(Url.Action("GetFile","LUserFiles",new { area="XUserFile",id=_UserEArticleHomeInfo.Id}))");
            EArticle_Home_Avatar.onerror = function () {

                EArticle_Home_Avatar.attr("src", "/img/earticle_home_default_img.webp");
            }
        }

        /**
        * Return the alert html string
        * @@param {string} ClassType The class type >_
        *      primary/secondary/success/info/danger/warning/dark/light
        * @@param  {string} Message The message
        */
        function MakeAlert(ClassType, Message) {
            var _Ele =
                '\
                <div class="alert alert-'+ (ClassType) + ' alert-dismissible fade show" role="alert">' + Message + '\
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">\
                    <span aria-hidden="true">&times;</span>\
                    </button>\
                </div>\
                ';
            $(".xbody").prepend(_Ele);
            setTimeout(function () {
                $('.alert').alert('close');
            }, 2500);
        }
    </script>

    <script>
        /*====  SERVICE     ====*/
        function UploadEArticleHomeInfo() {
            if (String( $("#UserEArticleHomeInfo_Comment").val()) == InitHomeComment &&
                $("#UserEArticleHomeInfo_Conver_Input").val().length < 1) return;
            var IsUploadCoverFile = $("#UserEArticleHomeInfo_Conver_Input").val().length > 0;
            var _userEArticleHomeInfo = new FormData();
            if (IsUploadCoverFile) {
                var _File = document.getElementById("UserEArticleHomeInfo_Conver_Input").files[0];
                _userEArticleHomeInfo.append("CoverFile", _File, _File.name);
            } else {
                _userEArticleHomeInfo.append("Comment", $("#UserEArticleHomeInfo_Comment").val());
            }
            $.ajax({
                url: "@(Url.Action("UploadEArticleHomeInfo","LUserFiles",new { area="XUserFile"}))",
                type: "POST",
                data: _userEArticleHomeInfo,
                //  dataType: "json",
                processData: false,
                contentType: false,
                headers: {
                    "L-XSRF-TOKEN": "@(csrf.GetAndStoreTokens(Context).RequestToken)"
                },
                success: function () {
                    //  $("#UserEArticleHomeInfo_Comment").val();
                    InitHomeComment =String( $("#UserEArticleHomeInfo_Comment").val());
                    MakeAlert("info", "@Localizer[ "Update successfully"]" + "!")
                    if (IsUploadCoverFile) {
                        document.getElementById("UserEArticleHomeInfo_Conver_Input").value='';
                    }
                    //  console.log(">>>>>>"+InitHomeComment);
                    $(".EArticle-Home-Img-Ele").css("background-image",
                        'url("@(Url.Action("GetFile","LUserFiles", new { area="XUserFile",id=_UserEArticleHomeInfo.Id}))?random='+Math.floor(Math.random() * 100 + 1)+'")');
                },
                error: function () {
                    MakeAlert("danger", "@Localizer["Some errors has occurred"]" + "!");
                }
            });

    }
    </script>


    <script>
        /*====  DATA        ====*/

        function ReadMD5() {
            {
                var BlobSlice_ = File.prototype.slice || File.prototype.mozSlice || File.prototype.webkitSlice,
                    ChunkSize = 20 * 1024 * 1024,
                    Chunks = Math.ceil(_File.size / ChunkSize),
                    CurrentChunk = 0,
                    Spark_ = new SparkMD5.ArrayBuffer(),
                    FileReader_ = new FileReader();
            }

            FileReader_.onload = function (e) {
                Spark_.append(e.target.result);
                CurrentChunk++;
                if (CurrentChunk < Chunks) {
                    loadNext();
                } else {
                    ConverImgMD5 = String(Spark_.end());
                    UploadEArticleHomeInfo();
                }
            };
            FileReader_.onerror = function () {
                MakeAlert("danger","@Localizer["Some errors has occurred"]");
            };
            function loadNext() {
                var Start = CurrentChunk * ChunkSize,
                    End = ((Start + ChunkSize) >= _File.size) ? _File.size : Start + ChunkSize;
                FileReader_.readAsArrayBuffer(BlobSlice_.call(File_, Start, End));
            }
            loadNext();
        }

        function CheckKeyCodeConfirmation() {
            var keyCode = event.keyCode ? event.keyCode : event.which ? event.which : event.charCode;
            if (keyCode == 13) {
                var _Comment = $("#UserEArticleHomeInfo_Comment").val();
                if (InitHomeComment != _Comment) {
                    UploadEArticleHomeInfo();
                }
            }
        }

    </script>

    <script>

        $(document).ready(function () {
            InitHomeCover();
            $(".EArticle-Home-Avatar").attr("src", "/Home/GetAvatar?random=" + Math.floor(Math.random() * 100 + 1));
            $(".EArticle-Home-BgImg-Edit").attr("src", "/img/edit.webp");
            $(".EArticle-Home-Img-Ele").css("background-image",
                'url("@(Url.Action("GetFile","LUserFiles", new { area="XUserFile",id=_UserEArticleHomeInfo.Id}))")');
            $("#UserEArticleHomeInfo_Conver").on("click", function () {
                $("#UserEArticleHomeInfo_Conver_Input").click();
            });
            $("#UserEArticleHomeInfo_Comment").keypress(function () {
                CheckKeyCodeConfirmation();
            });

            $("#UserEArticleHomeInfo_Conver_Input").on("change", function () {
                //  ReadMD5();
                UploadEArticleHomeInfo();
            });

            $(".card").on("click", function () {
                var _cardid = $(this).attr("cardid");
                window.location.href = _cardid == "@(LValue.AddEArticleSetId)" ?
                    "@(Url.Action("Create","UserEArticleSets",new { area="EduHub"}))" :
                    `@(Url.Action("XIndex","EArticles",new { area = "EduHub" }))?SetId=${_cardid}`;
            });

        });

    </script>
}

@section Styles{
    <style>
        .card {
            font-size: 80%;
            width: 90%;
            box-shadow: 1px 1px 1px #888888;
        }

            .card:hover {
                animation: AnimationBoxShadow 3.2s linear  infinite;                
                cursor:pointer;
            }


        #UserEArticleHomeInfo_Comment {
            background-color: rgba(255,0,220,0.2);
            border: none;
            text-align: center;
        }

        .EArticle-Home-BgImg-Edit {
            position: absolute;
            right: 0px;
            bottom: 0px;
            width: 30px;
            border-radius: 10px;
        }

        .EArticle-Home-Img-Ele {
            height: 150px;
            background-image: url("/img/earticle_home_default_img.webp");
            background-position: center;
            border-radius: 10px;
        }

        .EArticle-Home-Avatar {
            height: 55px;
            width: 55px;
            margin-top: 20px;
            border: 1px solid #ff00dc;
        }


            .EArticle-Home-Avatar:hover {
                animation: AvatarScale 0.2s linear 1 forwards;
            }

        @@keyframes AnimationBoxShadow {
            0% {
                box-shadow: 1px 1px 1px #888888;
            }

            25%{
                box-shadow: 3px 3px 5px #888888;
            }

            50% {
                box-shadow: 5px 5px 8px #888888;
            }

            75%{
                box-shadow: 3px 3px 5px #888888;
            }

            100% {
                box-shadow: 1px 1px 1px #888888;
            }
        }

        @@keyframes AvatarScale {
            0% {
                height: 55px;
                width: 55px;
                margin-top: 20px;
                border: 1px solid #ff00dc;
                box-shadow: 0px 0px 0px #ff00dc;
            }

            100% {
                height: 75px;
                width: 75px;
                margin-top: 5px;
                border: 4px solid #ff00dc;
                box-shadow: 0px 0px 9px #ff00dc;
            }
        }
    </style>
}

@*

    <table class="table">

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Label)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DOCreating)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
            <img src="~/img/earticle_home_default_img.webp" class="img-fluid EArticle-Home-Img" />
        .EArticle-Home-Img {
                width: 100%;
                height: 200px;
                border-radius: 10px;
            }
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Label)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DOCreating)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comment)
                </th>
                <th></th>
            </tr>
        </thead>
*@