@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@*
    ////////////////////////////////////////////////////////////////////////////////
    ////////                                                                ////////
    ////////        Keep in mind that JavaScript is a single-threaded       ////////
    ////////                programming language                            ////////
    ////////                                                                ////////
    ////////////////////////////////////////////////////////////////////////////////

*@

@using POYA.Areas.EduHub.Models;
@model POYA.Areas.EduHub.Models.EArticle

@{
    var IsEdit = (bool)ViewData["IsEdit"];
    var EArticleFiles = IsEdit ? ViewData["EArticleFiles"] as List<EArticleFile> : null;
    var FileRemoveEleString = "FileRemoveEle_";
    var IsVideoFileUploaded = IsEdit ? EArticleFiles.Any(p => p.IsEArticleVideo) : false;
}

<div class="row">
    <div class="col">
        <form asp-action='@(IsEdit ? "Edit" : "Create")' id="EArticles_Form" name="EArticles_Form" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group ">
                <div class="row">
                    <input asp-for="Title" class="form-control col offset-3 col-6" placeholder="@(Localizer["Title"])" autocomplete="off" />

                </div>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div id="MenuToolbar" class="toolbar">
                </div>
                <div id="_ContentEditor" class="text">
                    @(Html.Raw(Model.Content))
                </div>
                <span id="ContentValidation" class="text-danger"></span>
            </div>

            <div class="form-group ">
                <div class="row">
                    <div class="col col-3">
                        <select id="FirstCategorySelect" asp-items="Model.FirstCategorySelectListItems" class="form-control"></select>
                    </div>
                    <div class="col col-3">
                        <select asp-for="CategoryId" asp-items="Model.SecondCategorySelectListItems" class="form-control"></select>
                    </div>
                    <div class="col col-3">
                        <input asp-for="AdditionalCategory" class="form-control" />
                    </div>

                </div>
                <div class="row">
                    <div class="col col-3">
                        <span>@Localizer["Complexity"]</span>?
                        <span>
                            <select asp-for="ComplexityRank" asp-items="Model.ComplexityRankSelectListItems" class="form-control"></select>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group offset-1">
                <div class="row">
                    <div class="col col-5" id="video_div">
                        <span class="row">@Localizer["Upload videos for your article"]</span>
                        <div class="col" id="video_list_div">
                            @if (IsEdit)
                            {
                                foreach (var v in EArticleFiles.Where(p => p.IsEArticleVideo))
                                {
                                    var _id = v.Id.ToString();
                                    <div class="SelectFileShowEle row" id="@(FileRemoveEleString+_id)"><span>@(v.FileName)</span><span class='FileInputRemoveEle' id="LVideos_@_id" onclick="RemoveFile('@_id',true,true)">  &#128500;</span></div>
                                }
                            }
                        </div>
                        <div class="row" id="video_row_div">
                            <a class="btn btn-outline-info" id="VideoSelectEle">@Localizer["Select video"]</a>
                        </div>
                    </div>
                    <div class="col offset-1 col-5" id="attachment_div">
                        <span class="row">@Localizer["Upload attachments for your article"]</span>
                        <div class="col" id="attachment_list_div">
                            @if (IsEdit)
                            {
                                foreach (var a in EArticleFiles.Where(p => !p.IsEArticleVideo))
                                {
                                    var _id = a.Id.ToString();
                                    <div class="SelectFileShowEle row" id="@(FileRemoveEleString+_id)"><span>@(a.FileName)</span><span class='FileInputRemoveEle' id="LAttachments_@_id" onclick="RemoveFile('@_id',false,true)"> &#128500;</span></div>
                                }
                            }
                        </div>
                        <div class="row" id="attachment_row_div">
                            <a class="btn btn-outline-info" id="AttachmentSelectBtn">@Localizer["Select attachment"]</a>
                        </div>

                    </div>
                </div>
            </div>

            <div class="form-group">
                <a id="BackA" class="btn btn-outline-primary">&laquo; @Localizer["Back"]</a>
                <a class="btn btn-outline-info col-4" id="EArticles_Form_Submit_A">@(IsEdit ? Localizer["Save"] : Localizer["Publish"])</a>
                <a asp-action="Donate" asp-controller="Home">@Localizer["Donate"]</a>
                <span id="SaveProgressEle"></span>
            </div>
        </form>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/wangEditor-3.1.1/release/wangEditor.min.js"></script>
<script src="~/lib/js-spark-md5/spark-md5.min.js"></script>
<script>

    var _Editor = window.wangEditor;
    var Editor = new _Editor("#MenuToolbar","#_ContentEditor");


    var ID8MD5Array = new Array();

    $(document).ready(function () {

        ReadyEditor(Editor);

        $("#video_list_div").hide();
        $("#attachment_list_div").hide();
        HandleCategorySelect();

        $("#FirstCategorySelect").on("change", function () {
            HandleCategorySelect();

        });

        $("#EArticles_Form_Submit_A").on("click", function () {
            if ($("#Title").val().length < 2) return;
            if (Editor.txt.html().length < 10) return;
            FormSubmitClick();
            event.preventDefault();
        });

        $("#_ContentEditor").on("click", function () {
            $(".w-e-text").focus();
        });

        $("#VideoSelectEle").on("click", function () {

            // console.log(">>>>>>>>"+$("#video_row_div input:last").val());
            if (IsVideoFileSelected) return;
            var _LastVideoInputVal = $("#video_row_div input:last").val();
            //  console.log("Value of last video file input >_ " + _LastVideoInputVal + "\t" + _LastVideoInputVal.length);
            if (_LastVideoInputVal == undefined|| _LastVideoInputVal.length > 0) {

                let _LVideoFileInput = LVideoFileInput(_Data_.NewGuid());
                $(_LVideoFileInput).attr("form", "EArticles_Form");
                $("#video_row_div").append(_LVideoFileInput);

            }
            $("#video_row_div input:last").click();

            event.preventDefault();
        });
        $("#AttachmentSelectBtn").on("click", function () {

            var _LastAttachmentInputVal = $("#attachment_row_div input:last").val();
            if (_LastAttachmentInputVal == undefined || _LastAttachmentInputVal.length > 0) {
                let _LAttachmentFileInput = LAttachmentFileInput(_Data_.NewGuid());
                $(_LAttachmentFileInput).attr("form", "EArticles_Form");
                $("#attachment_row_div").append(_LAttachmentFileInput);
            }
            $("#attachment_row_div input:last").click();

            event.preventDefault();
        });

        $("#attachment_div").mouseover(function () {
            $("#attachment_list_div").show();
        });


        $("#attachment_div").mouseout(function () {

            $("#attachment_list_div").hide();
        });

        $("#video_div").mouseover(function () {

            $("#video_list_div").show();
        });

        $("#video_div").mouseout(function () {

            $("#video_list_div").hide();
        });
        $("#_ContentEditor *").blur(function () {
            if (Editor.txt.html().length < 20) {
                $("#ContentValidation").html("@Localizer["The content of the article should be more than 20 characters"]!");
            } else {
                $("#ContentValidation").html("");
            }
        });

    });



    var IsVideoFileSelected =@(IsVideoFileUploaded?"true":"false");
    var LAttachmentFileInputId = (id) => `LAttachments_${id}`;
    var LVideoFileInputId = (id) => `LVideos_${id}`;
    var LAttachmentFileInput = (id) => `<input type='file' hidden name='LAttachments' id='${this.LAttachmentFileInputId(id)}' onchange='LAttachmentsOnChange("${id}")'/>`;

    var LVideoFileInput = (id) => `<input type='file'  hidden name='LVideos' id='${this.LVideoFileInputId(id)}' accept='video/*'  onchange='LVideosOnChange("${id}")'/>`;
    //  var FileRemoveId = (id) => `FileRemove_${id}`;
    var FileRemoveEleId = (id) => `@FileRemoveEleString${id}`;
    var FileRemoveSpanId = (id) => `FileRemoveSpan_${id}`;

    /**
    *  public Guid EArticleId { get; set; }
    *  public string FileName { get; set;}
    *  public string MD5 { get; set; }
    *  public bool IsEArticleVideo { get; set; } = false;
    * */
    function SubmitForm(Editor) {
        // console.log(">>>>>>>><<<<<<<");
        //  $("#Content").val(Editor.txt.html());
        let _EArticles_Form_Data_ = new FormData();
        _EArticles_Form_Data_.append("@(nameof(Model.Title))", $("#@nameof(Model.Title)").val());
        _EArticles_Form_Data_.append("@(nameof(Model.Content))", Editor.txt.html());
        _EArticles_Form_Data_.append("@(nameof(Model.Id))", "@Model.Id");
        _EArticles_Form_Data_.append("@(nameof(Model.CategoryId))", $("#CategoryId option:selected").val().toString().split('_')[0]);
        _EArticles_Form_Data_.append("@(nameof(Model.ComplexityRank))", $("#ComplexityRank option:selected").val());
        _EArticles_Form_Data_.append("@(nameof(Model.AdditionalCategory))", $("#AdditionalCategory").val());
        $("input[name='LAttachments']").each(function (index, elem) {
            // console.log($(elem).val());
            if ($(elem).val() == "") return true;
            let _id = this.id;
            // console.log(_id);
            let _File = document.getElementById(_id).files[0];
            _EArticles_Form_Data_.append("LAttachments", _File, _File.name);
        });
        $("input[name='LVideos']").each(function (index, elem) {
            // console.log($(elem).val());
            if ($(elem).val() == "") return true;
            let _id = this.id;
            // console.log(_id);
            let _File = document.getElementById(_id).files[0];
            _EArticles_Form_Data_.append("LVideos", _File, _File.name);
        });
        $.ajax({
            //
            url: "@(Url.Action(IsEdit?"Edit":"Create"))",
            type: "POST",
            data: _EArticles_Form_Data_,
            processData: false,
            contentType: false,
            async: true,
            //  contentType: "multipart/form-data",
            headers: {
                "L-XSRF-TOKEN": "@(csrf.GetAndStoreTokens(Context).RequestToken)"
            },
            /**
             * REFERENCE    https://www.jianshu.com/p/eb119affdc25
             * THANK        https://www.jianshu.com/u/9ca9c65ce397
             */
            xhr: function () {
                var xhr = $.ajaxSettings.xhr();
                if (xhr.upload) {
                    xhr.upload.addEventListener("progress", function (e) {
                        var loaded = e.loaded;
                        var tot = e.total;
                        //  // console.log(">>"+Id_);
                        var per = Math.floor(100 * loaded / tot);
                        $("#SaveProgressEle").html(per + "%");
                    }, false);
                    return xhr;
                }
            },
            /**
             * Retuen the id
             * @@param {number} Id The id
             */
            success: function () {
                history.go(-1);
                //  window.location.href = "@Url.Action("Index")";
            }
            //
        });


    }

    //

    //    DATA
      var _CategoryId = "@Model.CategoryId";
        var _GuidEmpty = "@(Guid.Empty)";
        var _IsEdit =@(IsEdit?"true":"false");
    function HandleCategorySelect() {

        if (_CategoryId != _GuidEmpty) {
            var _SecondCategoryCode = $("#CategoryId option:selected").val().toString().split('_')[1];
            $("#FirstCategorySelect option").each((index, element) => {
                var _FirstCategoryCode = $(element).val().toString().split('_')[1];
                if (_SecondCategoryCode.startsWith(_FirstCategoryCode)) {

                    $(element).attr("selected", true);
                    return false;
                }
            });
        } else {
            var _FirstCategoryCode = $("#FirstCategorySelect option:selected").val().toString().split('_')[1];
            var IsSetSelected = false;
            $("#CategoryId option").each((index, element) => {
                var _SecondCategoryCode = $(element).val().toString().split('_')[1];
                if (_SecondCategoryCode.startsWith(_FirstCategoryCode)) {
                    $(element).show();
                    if (!IsSetSelected) {
                        $(element).attr("selected", true);
                        IsSetSelected = true;
                    }
                } else {
                    $(element).hide();
                }
            });
        }

    }

    /**
    *
    * @@param {string} id -The id
    * @@param {boolean} IsVideoFileInput -Flag a file input is video input for article
    * @@param {boolean} IsUploadedFile -Flag a file input is uploaded(from Edit)
    */
    function RemoveFile(id, IsVideoFileInput = false, IsUploadedFile = false) {
        if (IsUploadedFile) {
            $.ajax({
                url: "@Url.Action("RemoveArticleFile")",
                type: "POST",
                data: { "id": id },
                headers: {
                    "L-XSRF-TOKEN": "@(csrf.GetAndStoreTokens(Context).RequestToken)"
                },
                success: function () {
                    $(`#${FileRemoveEleId(id)}`).remove();
                    IsVideoFileSelected = false;
                }
            });
        } else {
            $(`#${FileRemoveEleId(id)}`).remove();
            if (IsVideoFileInput) {
                $(`#${LVideoFileInputId(id)}`).remove();
            } else {
                $(`#${LAttachmentFileInputId(id)}`).remove();
            }
            IsVideoFileSelected = false;
        }

    }

    function LAttachmentsOnChange(id) {
        GetMD5(LAttachmentFileInputId(id), false);
        let _Value = $(`#LAttachments_${id}`).val();
        let _Content = `<div class="SelectFileShowEle" title='@Localizer["Delete"]'  id="${FileRemoveEleId(id)}" ><span>${_Value}</span><span class='FileInputRemoveEle'  id="${FileRemoveSpanId(id)}" onclick="RemoveFile('${id}')"> x</span></div>`;
        $("#attachment_list_div").append(_Content);
    }

    function LVideosOnChange(id) {
        GetMD5(LVideoFileInputId(id),true);
        let _Value = $(`#LVideos_${id}`).val();
        let _Content = `<div class="SelectFileShowEle"   title='@Localizer["Delete"]'  id="${FileRemoveEleId(id)}" ><span>${_Value}</span><span class='FileInputRemoveEle'   id="${FileRemoveSpanId(id)}" onclick="RemoveFile('${id}',true)"> x</span></div>`;
        $("#video_list_div").append(_Content);
        IsVideoFileSelected = true;
    }
    /**
    * Get MD5 of file input and execute a function
    * @@param {string} Id -The id of file input
    * @@param {Function} ToDo - Execute a function(pass Id and md5) after finishing computing md5
    * @@param {boolean} IsEArticleVideo - Flag a file is video of article or not, the default is false
    */
    function GetMD5(Id,  IsEArticleVideo = false) {

        var File_ = File_ = document.getElementById(Id).files[0];
        $("#SaveProgressEle").html("@Localizer["Read file . . ."]");


        var BlobSlice_ = File.prototype.slice || File.prototype.mozSlice || File.prototype.webkitSlice,
            ChunkSize = 20 * 1024 * 1024,
            Chunks = Math.ceil(File_.size / ChunkSize),
            CurrentChunk = 0,
            Spark_ = new SparkMD5.ArrayBuffer(),
            FileReader_ = new FileReader();
        FileReader_.onload = function (e) {
            Spark_.append(e.target.result);
            CurrentChunk++;
            if (CurrentChunk < Chunks) {
                loadNext();
            } else {
                let MD5 = String(Spark_.end());
                $("#SaveProgressEle").html("@Localizer["Read file finish"]");

                // console.log(MD5);
                if (!ID8MD5Array.some((value, index, array) => { value["ID"] == Id && value["MD5"] == MD5 })) {
                    ID8MD5Array.push({ "ID": Id, "MD5": MD5, "IsEArticleVideo": IsEArticleVideo });
                }
                setTimeout(function () {
                    $("#SaveProgressEle").html("");
                },2000);
            }
        };
        FileReader_.onerror = function () {
            console.warn('oops, something went wrong');
        };
        function loadNext() {
            var Start = CurrentChunk * ChunkSize,
                End = ((Start + ChunkSize) >= File_.size) ? File_.size : Start + ChunkSize;
            FileReader_.readAsArrayBuffer(BlobSlice_.call(File_, Start, End));
        }
        loadNext();
    }

    //
    /**
    * (Id ,MD5) ===> ID8MD5Array
    * @@param {string}Id -The id of file input element
    * @@param {string}MD5 -The MD5 string
    * @@param {boolean} IsEArticleVideo - Flag a file is video of article or not, the default is false
    */
    function AddId8MD5(Id, MD5, IsEArticleVideo = false) {
        if (!ID8MD5Array.some((value, index, array) => { value["ID"] == Id && value["MD5"] == MD5 })) {
            ID8MD5Array.push({ ID: Id, MD5: MD5, IsEArticleVideo: IsEArticleVideo });
        }
    }
    //

    function CheckMD5() {
        // console.log("<<<<>>>");
        if (ID8MD5Array.length < 1) SubmitForm(Editor);;
        // console.log(">>>>>>>>>", JSON.stringify(ID8MD5Array));
        var eArticleFileMD5s = new Array();

        ID8MD5Array.forEach((value, index, array) => {
            eArticleFileMD5s.push({
                FileInputId:"",
                EArticleId: "@Model.Id",
                FileName: $("#" + value["ID"]).val(),
                MD5: value["MD5"],
                IsEArticleVideo: value["IsEArticleVideo"]
            });
        });

        // console.log(">>>>>", eArticleFileMD5s);

        $.ajax({
            url: "@Url.Action("LCheckMD5v1")",
            type: "POST",
            data: { eArticleFileMD5s: eArticleFileMD5s },

            headers: {
                "L-XSRF-TOKEN": "@(csrf.GetAndStoreTokens(Context).RequestToken)"
            },
            dataType: "json",
            success: function (Response) {
                //  console.log(Response);
                //  console.log(ID8MD5Array);
                Response.forEach((value, index, array) => {

                    if (value["IsUploaded"] == true) {
                        ID8MD5Array.forEach((v, i, a) => {
                            if (v["MD5"] == value["FileMD5"]) {
                                //  RemoveFile(v["ID"])
                                //  console.log($(`#${v["ID"]}`).length);
                                //  console.log($(`#${v["ID"]}`).length);
                                /// if ($(`#${v["ID"]}`).length > 0) {
                                    $(`#${v["ID"]}`).remove();
                                //  } else {
                                //  $(`#${v["ID"]}`).remove();
                                //  }
                            }
                        });
                    }
                });
                SubmitForm(Editor);
            }
        });

    }

    /**
     *
     * @@param Editor
     */
    function FormSubmitClick() {
        CheckMD5();
        // console.log(">>>")
    }
    function ReadyEditor(Editor) {
        //   CONTENT_EDITOR

        //   MENU CONFIGURE
        Editor.customConfig.menus = [
            'head',
            'bold',
            'fontSize',
            'italic',
            'underline',
            'strikeThrough',
            'foreColor',
            'backColor',
            'link',
            'list',
            'justify',
            'quote',
            'emoticon',
            'image',
            'table',
            'code',
            'undo',
            'redo',
        ];

        //


        //   LANGUAGE CONFIGURE

        Editor.customConfig.lang = {

            "\u8bbe\u7f6e\u6807\u9898": "@(Localizer["Title"])",
            "\u6b63\u6587": "@(Localizer["Paragraph"])",
            "\u94fe\u63a5\u6587\u5b57": "@(Localizer["Link text"])",
            "\u56fe\u7247\u94fe\u63a5": "@(Localizer["Image link"])",
            "\u94fe\u63a5": "@(Localizer["Link"])",
            "\u4e0a\u4f20\u56fe\u7247": "@(Localizer["Upload image"])",
            "\u4e0a\u4f20": "@(Localizer["Upload"])",
            "\u521b\u5efa": "@(Localizer["Initial"])",
            "\u63d2\u5165\u4ee3\u7801": "@(Localizer["Insert code"])",
            "\u7f51\u7edc\u56fe\u7247": "@(Localizer["Image url"])",
            "\u63d2\u5165\u8868\u683c": "@(Localizer["Table"])",
            "\u884c": "@(Localizer["line"])",
            "\u5217\u7684\u8868\u683c": "@(Localizer["col"])",
            "\u63d2\u5165": "@(Localizer["Insert"])",
            "\u5bf9\u9f50\u65b9\u5f0f": "@(Localizer["Align"])",
            "\u5b57\u53f7": "@(Localizer["Font size"])",
            "\u5b57\u4f53": "@(Localizer["Font"])",
            "\u5b8b\u4f53": "@(Localizer["Simsun"])",
            "\u5fae\u8f6f\u96c5\u9ed1": "@(Localizer["Microsoft YaHei"])",
            "\u6587\u5b57\u989c\u8272": "@(Localizer["Font color"])",
            "\u80cc\u666f\u8272": "@(Localizer["background color"])",
            "\u8bbe\u7f6e\u5217\u8868": "@(Localizer["List"])",
            "\u6709\u5e8f\u5217\u8868": "@(Localizer["ordered list"])",
            "\u65e0\u5e8f\u5217\u8868": "@(Localizer["unordered list"])",
            "\u9760\u5de6": "@(Localizer["Left"])",
            "\u5c45\u4e2d": "@(Localizer["Center"])",
            "\u9760\u53f3": "@(Localizer["Right"])",
            "\u9ed8\u8ba4": "@(Localizer["Default"])",
            "\u65b0\u6d6a": "@(Localizer["Sina"])",

        };


        //

        //   UPLOAD IMAGE CONFIGURE
        Editor.customConfig.uploadImgServer = '@(Url.Action("UploadEArticleImage"))';
        Editor.customConfig.uploadImgMaxSize = 2 * 1024 * 1024;
        Editor.customConfig.uploadImgMaxLength = 8;
        Editor.customConfig.uploadImgHeaders = {
            "L-XSRF-TOKEN": "@(csrf.GetAndStoreTokens(Context).RequestToken)"
        };
        Editor.customConfig.uploadFileName = 'EArticleImages';
        Editor.customConfig.zIndex = 1;

        Editor.create();
    }
    //
</script>
<style>

    #Title {
        text-align: center;
    }

    #_ContentEditor {
        height: 500px;
        border: dotted;
        border-radius: 10px;
        overflow: hidden;
        word-wrap: break-word;
        word-break: break-all;
    }


    .w-e-text {
        overflow-y: scroll;
    }

    .w-e-toolbar {
        display: flex;
        flex-wrap: wrap;
    }

    .LookForImageIcon {
        zoom: 200%;
    }

    .SelectFileShowEle {
        border: dotted;
        border-radius: 8px;
        padding: 2px;
        max-width: 90%;
        word-break: break-all;
        word-wrap: break-word;
    }

    .FileInputRemoveEle:hover {
        color: red;
        zoom: 150%;
    }
</style>