@model POYA.Areas.EduHub.Models.EArticle

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="col offset-1">
    @Html.DisplayFor(model => model.Title)
</h4>

<div>
    <hr />
    <dl class="row">
        <dd class="col">
            @Html.Raw(Model.Content)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-info"><< @Localizer["Back"]</a>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary">@Localizer["Edit"]</a>
</div>
