@model POYA.Areas.EduHub.Models.EArticle
@using POYA.Areas.EduHub.Models;

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _EArticleFiles_ = ViewData["EArticleFiles"] as List<EArticleFile>;
    var Categories = ViewData["Categories"] as List<LEArticleCategory>;
}

<h4 class="col offset-1 col-8">
    <span style="max-width:60%;word-wrap:break-word;word-break:break-all">
        @(Html.DisplayFor(model => model.Title))
    </span>
    <span style="font-size:50%">
        <br />
        @(ViewData["Category"])
        @(new string('\u269D', Model.ComplexityRank + 1))

        @(Model.ClickCount)<span title='@(Model.ClickCount) @(Localizer["click"])'>&#128064;</span>
        @(ViewData["UserRead"])  <span title='@($"{ViewData["UserRead"]} {Localizer["people viewed"]}")'>&#128521;</span>
    </span>
</h4>
<div class="col col-12">
    <div class="float-right earticle-from">
        @(Localizer["From"]) <a asp-action="XIndex" asp-route-SetId="@(Model.SetId)" asp-route-UserId="@(Model.UserId)">@(Model.SetName)</a> | @(Localizer["By"]) 
        <a asp-area="Identity" asp-page="/Account/ViewUserInfo" asp-route-UserId="@(Model.UserId)">@(Model.UserName)</a>
    </div>
</div>

<div>
    <hr />
    <dl class="row col col-12">
        @foreach (var i in _EArticleFiles_.Where(p => p.IsEArticleVideo))
        {
            <dd class="col offset-1 col-10">
                <video style="width:100%" controls>
                    <source src='@(Url.Action("GetFile", "LUserFiles", new { id = i.Id, area = "XUserFile" }))'/>
                </video>
            </dd>
        }

    </dl>
    <dl class="row" style="word-break:break-all;word-wrap:break-word">
        <dd class="col">
            @Html.Raw(Model.Content)
            <div class="float-right" id="MailToEArticleUser">
                <a href="mailto:@(Model.UserEmail)" title="@(Localizer["Mail to the author"])" >&#128236;</a>
            </div>

        </dd>
    </dl>

    <dl class="row">
        <dd class="col">
            @if (_EArticleFiles_.Where(p => !p.IsEArticleVideo).Count() > 0)
            {
                <span>
                    @(_EArticleFiles_.Where(p => !p.IsEArticleVideo).Count() > 1 ? Localizer["The attachments of this article"] : Localizer["The attachment of this article"]) 
                </span>
                @foreach (var i in _EArticleFiles_.Where(p => !p.IsEArticleVideo))
                {
                    <br />
                    <a asp-action="GetFile" asp-route-id="@(i.Id)" asp-controller="LUserFiles" asp-area="XUserFile" title='@Localizer["Get it"]' class="GetFile">@(i.FileName)</a>
                }
            }
        </dd>
    </dl>
</div>

<div id="OperationEle">
    <a id="BackA" class="btn btn-info">&laquo; @(Localizer["Back"])</a>
    @if (Model.UserId == ViewData["UserId_"].ToString())
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">@(Localizer["Edit"])</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">@(Localizer["Delete"])</a>
    }
</div>

@section Scripts{
    <script>
    </script>
}

@section Styles{
    <style>

        .earticle-from:hover{
            
            animation: EArticleFromAnimation 0.2s linear  forwards;
        }
        
        #MailToEArticleUser {
            transform: scale(2);
            
            
        }
        #MailToEArticleUser:hover{
            animation: MailToEArticleUserAnimation 0.2s linear  forwards;
        }

        .earticle-from {
            cursor:pointer;
            background-color: rgba(255, 0, 220,0.5);
            border-radius: 8px;
            padding: 2px;
            animation: PaddingAnimation 5s linear infinite alternate;
        }

        #OperationEle {
            position: fixed;
            bottom: 80px;
        }

    </style>
}
