@model POYA.Areas.EduHub.Models.EArticle
@using POYA.Areas.EduHub.Models;

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _EArticleFiles_ = ViewData["EArticleFiles"] as List<EArticleFile>;
}

<h4 class="col offset-1">
    @(Html.DisplayFor(model => model.Title))
    <span style="font-size:60%">
        @(Model.ClickCount) <span title="@Localizer["click"]">&#128064;</span>
        @(ViewData["UserRead"])  <span title="@($"{ViewData["UserRead"]} {Localizer["people viewed"]}")">&#128521;</span>
    </span>
</h4>

<div>
    <hr />
    <dl class="row">
        @foreach (var i in _EArticleFiles_.Where(p => p.IsEArticleVideo))
        {
            <dd class="col offset-1 col-10">
                <video style="width:100%" controls>
                    <source src="@Url.Action("GetFile", "LUserFiles", new { id = i.Id, area = "XUserFile" })" type="@(i.ContentType)" />
                </video>
            </dd>
        }

    </dl>
    <dl class="row">
        <dd class="col">
            @Html.Raw(Model.Content)
        </dd>
    </dl>
    <dl class="row">
        <dd class="col">
            @if (_EArticleFiles_.Where(p => !p.IsEArticleVideo).Count() > 0)
            {
                <span>@(_EArticleFiles_.Where(p => !p.IsEArticleVideo).Count() > 1 ? Localizer["The attachments of this article"] : Localizer["The attachment of this article"]) </span>
                @foreach (var i in _EArticleFiles_.Where(p => !p.IsEArticleVideo))
                {
                    <br />
                    <a asp-action="GetFile" asp-route-id="@(i.Id)" asp-controller="LUserFiles" asp-area="XUserFile" title="@Localizer["Get it"]">@(i.FileName)</a>
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a id="BackA" class="btn btn-outline-info">&laquo; @Localizer["Back"]</a>
    @if (Model.UserId == ViewData["UserId_"].ToString())
    {
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary">@Localizer["Edit"]</a>
    }
</div>
