@model POYA.Areas.EduHub.Models.EArticle

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="col offset-1">
    @(Html.DisplayFor(model => model.Title))
    <span style="font-size:60%">
        @(Model.ClickCount) <span title="@Localizer["click"]">&#128064;</span> 
        @(ViewData["UserRead"])  <span title="@($"{ViewData["UserRead"]} {Localizer["people viewed"]}")">&#128521;</span>
    </span>
</h4>

<div>
    <hr />
    <dl class="row">
        <dd class="col">
            @Html.Raw(Model.Content)
        </dd>
    </dl>
</div>
<div>
    <a id="BackA" class="btn btn-outline-info">&laquo; @Localizer["Back"]</a>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-primary">@Localizer["Edit"]</a>
</div>
