@*
    @model IEnumerable<POYA.Areas.EduHub.Models.EArticle>
*@
@using POYA.Areas.EduHub.Models;


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var UserId = ViewData["UserId"].ToString();
    var IsIndividual = (bool)ViewData["IsIndividual"];
    var SortBy = (int)ViewData["SortBy"];
    var EArticleFiles = ViewData["EArticleFile"] as List<EArticleFile>;
}

<div class="row">
    <div class="col col-3 ">
        <img src="~/img/article.webp" class=" main-icon" title="@Localizer["Article"]" />
        @*<span style="font-size:200%">@Localizer["EduHub"]</span>*@
    </div>
    <a class="col offset-md-4 offset-sm-1 offset-md-4 offset-lg-5 col-2 col-md-1">
        @*<img src="~/img/user_earticle.webp" style="max-height:50px;" />*@
    </a>
    <a class="col col-2 col-md-1" asp-action="Index" asp-controller="UserEArticleSets" title="@Localizer["My EArticle"]">
        <img src="~/img/user_earticle.webp" style="max-height:50px;" />
    </a>
    <a class="col col-2 col-md-1" asp-action="Index" asp-route-IsIndividual="@(IsIndividual?"false":"true")"
       title="@(IsIndividual?Localizer["View all"]:Localizer["Just me"])">
        <img src="~/img/@(IsIndividual?"total.webp":"individual.webp")" style="max-height:50px;" />
    </a>
    <div class="col col-2 col-md-1 col-lg-1">
        <select id="SortBySelect" name="SortBySelect">
            <option value="0">@Localizer["buzz"]</option>
            <option value="1" selected>@Localizer["time"]</option>
        </select>
    </div>

</div>

<div class="row">
    <div class="col offset-5 offset-sm-5 offset-md-7 offset-lg-8 offset-xl-8 EArticleSearchCol">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="@(Localizer["Search"]+" . . .")" aria-label="@(Localizer["Search"]+". . .")" aria-describedby="EArticleSearchBtn" id="EArticleSearchInput">
            <div class="input-group-append">
                <button class="btn btn-outline-info" type="button" id="EArticleSearchBtn">@Localizer["Search"]</button>
            </div>
        </div>
    </div>


</div>

<div class="row">
    @foreach (var a in (ViewData["EArticles"] as IPagedList<EArticle>))
    {
        var _EArticleFiles = EArticleFiles.FirstOrDefault(p => p.EArticleId == a.Id);
        <div class="col col-4 col-lg-2 col-md-3 ">
            <div class="card" name="EArticleHomeCard" style="margin-top:6px;" onclick="GoToDetails('@a.Id')">
                @if (_EArticleFiles == null)
                {
                    <div class="card-img-top card-img-top-text" alt="@(a.Title)">
                        <span style="font-size:80%;zoom:80%;">@(Html.Raw(a.Content))</span>
                    </div>
                }
                else
                {
                    <video src="@Url.Action("GetFile", "LUserFiles", new { id = EArticleFiles.FirstOrDefault(p=>p.EArticleId==a.Id).Id, area = "XUserFile" })" class="card-img-top" alt="@(a.Title)" preload="metadata"></video>
                }
                <div class="card-body">
                    <p class="card-text">
                        <a asp-action="Details" asp-route-id="@a.Id" title="@(a.Title)" class="title">@Html.DisplayFor(modelItem => a.Title)</a>
                    </p>
                </div>
            </div>
        </div>
    }
</div>

@(Html.PagedListPager((IPagedList<EArticle>)ViewData["EArticles"], _page => Url.Action("Index", new { _page = _page }),
    PagedListRenderOptions.OnlyShowFivePagesAtATime))

@section Scripts{
    <script>
        /**
         *
         * @@param { string} Id
         */
        function GoToDetails(Id) {
            window.location.href = `/EduHub/EArticles/Details/${Id}`;
        }
        class Service {
            ChangeSort() {
                $("#SortBySelect").on("change", function () {
                    let url = _Data_.SetQueryString(window.location.href, "SortBy", $("#SortBySelect option:selected").val().toString());
                    window.location.href = url;
                });
            }

            //  #region
            /**
             * View all or just me
             * param {boolean} IsIndividual - view user's article only or view all
             */
            /*
            ChangeAuthorType(IsIndividual) {
                window.location.href = "@@(Url.Action("Index"))"+"?IsIndividual="+IsIndividual;
            }
            */
            //  #endregion
        }

        class Data {
            Initial() {
                $("#SortBySelect option[value='@(SortBy)']").attr("selected", true);
            }
        }
        var _Service = new Service();
        var _Data = new Data();

        $(document).ready(function () {
            _Service.ChangeSort();
            _Data.Initial();

            //  #region
            /*
            $("#AuthorTypeSelect option[value='@@(ViewData["IsIndividual"].ToString().ToLower())']").attr( "selected", true );
            $("#AuthorTypeSelect").on("change", function () {
                _Service.ChangeAuthorType($("#AuthorTypeSelect option:selected").val())
            });
                */
            //  #endregion
        });
    </script>
}

@section Styles{
    <link href="~/css/PagedList.css" rel="stylesheet" type="text/css" />
    <style>
        .author {
            font-size: 60%;
            color: blue;
        }

        .title {
            font-size: 80%;
            word-wrap: break-word;
            word-break: break-all;
            color: darkorchid;
        }

        .main-icon {
            max-height: 80px;
            max-width: 80px;
        }

        #SortBySelect {
            zoom: 120%;
            margin-top: 10px;
        }

        [name='EArticleHomeCard'] {
            max-height: 120px;
            overflow: hidden
        }

        .card-body {
            margin-top: -20px;
        }

        .card-img-top-text {
            overflow: hidden;
        }

        .card:hover {
            animation: AnimationBoxShadow 0.2s linear 1 forwards;
        }

        @@keyframes AnimationBoxShadow {
            0% {
                box-shadow: 1px 1px 1px #888888;
            }

            100% {
                box-shadow: 5px 5px 8px #888888;
            }
        }

        .EArticleSearchCol {
            zoom: 80%;
        }
    </style>
}

@*



    <table class="table">

        <tbody>
            @foreach (var item in ViewData["EArticles"] as IPagedList<EArticle>)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" title="@(item.Title)" class="title">@Html.DisplayFor(modelItem => item.Title)</a>
                        <span class="author">
                            @($"{item.UserName}") &#9998; @($"{item.DOPublishing.LocalDateTime.ToShortDateString()}")
                            @if (item.DOUpdating != null)
                            {
                                <span style="font-size:150%">&#10226;</span>
                                <span>@(item.DOUpdating?.LocalDateTime.ToShortDateString())</span>
                            }


                        </span>
                        @if (UserId == item.UserId)
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id" title="@Localizer["Edit"]">&#9997;</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" title="@Localizer["Delete"]">&#10008;</a>
                        }
                    </td>

                </tr>
            }
        </tbody>
    </table>


         <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubjectId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GradeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TypeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsLegal)
                </th>
                <th></th>
            </tr>
        </thead>
*@