@*
    @model IEnumerable<POYA.Areas.EduHub.Models.EArticle>
*@
@using POYA.Areas.EduHub.Models;


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Localizer["Current publishing"]</h1>

<div class="row">
    <a class="col offset-8 col-2" asp-action="Create">@Localizer["Publish new"]</a>
    <div class="col-2">
        <select id="AuthorTypeSelect">
            <option value="false">View all</option>
            <option value="true">Just me</option>
        </select>
    </div>
</div>
    

<table class="table">

    <tbody>
        @foreach (var item in ViewData["EArticles"] as IPagedList<EArticle>)
        {
            <tr>
                <td>
                    <span class="title">@Html.DisplayFor(modelItem => item.Title) </span> 
                    <span class="author">
                        (@($"{item.UserName}") &#9998; @($"{item.DOPublishing.LocalDateTime.ToShortDateString()}")
                        @if (item.DOUpdating != null)
                        {
                            <span>&#10226;</span>
                            <span>@(item.DOUpdating?.LocalDateTime.ToShortDateString())</span>
                        }
                        )
                    </span>
                </td> 
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" title="@Localizer["Edit"]">&#9997;</a>
                    <a asp-action="Details" asp-route-id="@item.Id" title="@Localizer["Details"]">&#9749;</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" title="@Localizer["Delete"]">&#10008;</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@(Html.PagedListPager((IPagedList<EArticle>)ViewData["EArticles"], _page => Url.Action("Index", new {  _page=_page }),
    PagedListRenderOptions.OnlyShowFivePagesAtATime))

@section Scripts{ 
<script>
    class Service {

        /**
         * View all or just me
         * @@param {boolean} IsIndividual - view user's article only or view all
         */
        ChangeAuthorType(IsIndividual) {
            window.location.href = "@(Url.Action("Index"))"+"?IsIndividual="+IsIndividual;
        }
    }
    var _Service = new Service();

    $(document).ready(function () {
        $("#AuthorTypeSelect option[value='@(ViewData["IsIndividual"].ToString().ToLower())']").attr( "selected", true );
        $("#AuthorTypeSelect").on("change", function () {
            _Service.ChangeAuthorType($("#AuthorTypeSelect option:selected").val())
        });
    });
</script>
}

@section Styles{
    <link href="~/css/PagedList.css" rel="stylesheet" type="text/css" />
    <style>
        .author {
            font-size: 80%;
            color:blue;
        }
        .title{
            font-size:120%;
            font-weight:bold;
            color:coral;
        }
    </style>
}

@*
     <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GradeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsLegal)
            </th>
            <th></th>
        </tr>
    </thead>
*@