@*
    @model IEnumerable<POYA.Areas.EduHub.Models.EArticle>
*@
@using POYA.Areas.EduHub.Models;


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var UserId = ViewData["UserId"].ToString();

    var SortBy = (int)ViewData["SortBy"];

    var EArticleFiles = ViewData["EArticleFile"] as List<EArticleFile>;

    var SortBySelect = new List<SelectListItem> {
        new SelectListItem{ Value="0",Text=Localizer["Buzz"]},
        new SelectListItem{ Value="1",Text=Localizer["Time"]},
    };

    SortBySelect.ForEach(p => { if (p.Value == SortBy.ToString()) p.Selected = true; });

    var _search = ViewData["_search"]?.ToString();
    var _pageSize = Context.Request.Cookies["PageSize"] ?? "8";
}

    <div class="row">
        <div class="col col-3 ">
            <img src="~/img/article.webp" class=" main-icon" title='@Localizer["Article"]'/>
        </div>
        <a class="col offset-md-4 offset-sm-1 offset-md-4 offset-lg-5 col-2 col-md-1">
        </a>
        <a class="col col-2 col-md-1" asp-action="Index" asp-controller="UserEArticleSets" title='@Localizer["My EArticle"]'>
            <img src="~/img/user_earticle.webp" style="max-height:50px;" />
        </a>
        <div class="col col-2 col-md-1 col-lg-1">
            <select id="SortBySelect" name="SortBySelect" asp-items="SortBySelect"></select>
        </div>

    </div>

    <div class="row">
        <div class="col offset-5 offset-sm-5 offset-md-7 offset-lg-8 offset-xl-8 EArticleSearchCol">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder='@(Localizer["Search"]+" . . .")' aria-label='@(Localizer["Search"]+". . .")' aria-describedby="EArticleSearchBtn" id="EArticleSearchInput" value="@_search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-info" type="button" id="EArticleSearchBtn">@(Localizer["Search"])</button>
                    </div>
                </div>
            </div>


        </div>

        <div class="row">
    @foreach (var a in (ViewData["EArticles"] as IPagedList<EArticle>))
    {
        var _EArticleFiles = EArticleFiles.FirstOrDefault(p => p.EArticleId == a.Id);
            <div class="col col-4 col-lg-2 col-md-3 ">
                <div class="card" name="EArticleHomeCard" style="margin-top:6px;" onclick="GoToDetails('@a.Id')">
                @if (_EArticleFiles == null)
                {
                    <div class="card-img-top card-img-top-text" alt="@(a.Title)">
                        <span style="font-size:80%;zoom:80%;">@(Html.Raw(a.Content))</span>
                    </div>
                }
                else
                {
                    <video src="@Url.Action("GetFile", "LUserFiles", new { id = EArticleFiles.FirstOrDefault(p=>p.EArticleId==a.Id).Id, area = "XUserFile" })" class="card-img-top" alt="@(a.Title)" preload="metadata"></video>
                }
                    <div class="card-body">
                        <p class="card-text">
                            <a asp-action="Details" asp-route-id="@a.Id" title="@(a.Title)" class="title">@Html.DisplayFor(modelItem => a.Title)</a>
                        </p>
                    </div>
                </div>
            </div>
    }
        </div>

        <div class="float-right PageEle">
            <div>
                <div class="form-inline">
                    <input type="text" style="width:70px;" class="form-control" id="_pageSize" title='@Localizer["Press ENTER to save"]' value="@_pageSize"/>
            @(Html.PagedListPager((IPagedList<EArticle>)ViewData["EArticles"], _page => Url.Action("Index", new { _page = _page }),
                PagedListRenderOptions.OnlyShowFivePagesAtATime))
                    </div>
                </div>
            </div>

@section Scripts{

            <script> //========      DATA    ========//

        function CheckKeyCode() {
            var keyCode = event.keyCode ? event.keyCode : event.which ? event.which : event.charCode;
            if (keyCode == 13) {
                _Search();
            }
        } //========    DATA_END  ========//
            </script>
            <script> //========  SERVICE     ========//


        /**
         * url.SetQueryString(url, "_search", $("#EArticleSearchInput").val());
         * */
        function _Search() {
            let _SearchValue = $("#EArticleSearchInput").val();
            _SearchValue = _SearchValue.length > 0 ? _SearchValue : "E58AE815-0CE2-469A-BD46-3C68B99547D9";
            let url = SetQueryString(window.location.href, "SortBy", $("#SortBySelect option:selected").val().toString());
            url = SetQueryString(url, "_search", _SearchValue);
            window.location.href = url;
        }

        function ChangeSort() {
            $("#SortBySelect").on("change", function () {
                let url = SetQueryString(window.location.href, "SortBy", $("#SortBySelect option:selected").val().toString());
                window.location.href = url;
            });
        }
            </script>
            <script>
        /**
         * window.location.href = `/EduHub/EArticles/Details/${Id}`;
         * @@param { string} Id
         */
        function GoToDetails(Id) {
            window.location.href = `/EduHub/EArticles/Details/${Id}`;
        }


        $(document).ready(function () {
            ChangeSort();
            //  $("#EArticleSearchInput").focus();
           
            $("#EArticleSearchBtn").on("click", function () {
                _Search();
            });
            $("#EArticleSearchInput").keypress(function () {
                CheckKeyCode();
            });
        });
            </script>
}

@section Styles{
            <link href="~/css/PagedList.css" rel="stylesheet" type="text/css" />
            <style>
        .author {
            font-size: 60%;
            color: blue;
        }

        .title {
            font-size: 80%;
            word-wrap: break-word;
            word-break: break-all;
            color: darkorchid;
        }

        .main-icon {
            max-height: 80px;
            max-width: 80px;
        }

        #SortBySelect {
            zoom: 120%;
            margin-top: 10px;
            border: none;
        } [name='EArticleHomeCard'] {
            max-height: 120px;
            overflow: hidden
        }

        .card-body {
            margin-top: -20px;
        }

        .card-img-top-text {
            overflow: hidden;
        }

        .card {
            box-shadow: 1px 1px 1px #888888;
        }

            .card:hover {
                animation: AnimationBoxShadow 0.2s linear 1 forwards;
            }

    

        .EArticleSearchCol {
            zoom: 80%;
        }
            </style>
}
