@model POYA.Areas.FunFiles.Models.FunYourFile

@{
    
}


<div class="times_funfiles_popup_close">&times;</div>

<h3>@(Localizer["Are you sure you want to delete"]) @(Model.Name)?</h3>

<div>
    <hr />
    <dl class="">
        <dt class = "">
            @(Html.DisplayNameFor(model => model.Name))
        </dt>
        <dd class = "">
            @(Html.DisplayFor(model => model.Name))
        </dd>
        <dt class = "">
            @(Html.DisplayNameFor(model => model.DOUploading))
        </dt>
        <dd class = "">
            @(Model.DOUploading.LocalDateTime)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
    </form>
</div>
