@model POYA.Areas.FunFiles.Models.FunYourFile

@{
    
}


<div class="times-funfiles-popup-close ">&times;</div>

<h3>@(Localizer["Are you sure you want to delete"]) @(Model.Name)?</h3>

<div>
    <hr />
    <dl class="col offset-sm-2 col-sm-8 offset-md-4 col-md-4">
        <dt class = "col-auto">
            @(Html.DisplayNameFor(model => model.Name))
        </dt>
        <dd class = "col-auto">
            @(Html.DisplayFor(model => model.Name))
        </dd>
        <dt class = "col-auto">
            @(Html.DisplayNameFor(model => model.DOUploading))
        </dt>
        <dd class = "col-auto">
            @(Model.DOUploading.LocalDateTime)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
    </form>
</div>
