@model POYA.Areas.FunFiles.Models.FunYourFile

@{
    
}


<div class="Times_FunFilesPopupClose ">&times;</div>

<h3>@(Localizer["Are you sure you want to delete"]) @(Model.Name)?</h3>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @(Html.DisplayNameFor(model => model.FileByteId))
        </dt>
        <dd class = "col-sm-10">
            @(Html.DisplayFor(model => model.FileByteId))
        </dd>
        <dt class = "col-sm-2">
            @(Html.DisplayNameFor(model => model.ParentDirId))
        </dt>
        <dd class = "col-sm-10">
            @(Html.DisplayFor(model => model.ParentDirId))
        </dd>
        <dt class = "col-sm-2">
            @(Html.DisplayNameFor(model => model.UserId))
        </dt>
        <dd class = "col-sm-10">
            @(Html.DisplayFor(model => model.UserId))
        </dd>
        <dt class = "col-sm-2">
            @(Html.DisplayNameFor(model => model.Name))
        </dt>
        <dd class = "col-sm-10">
            @(Html.DisplayFor(model => model.Name))
        </dd>
        <dt class = "col-sm-2">
            @(Html.DisplayNameFor(model => model.DOUploading))
        </dt>
        <dd class = "col-sm-10">
            @(Html.DisplayFor(model => model.DOUploading))
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a id="FunFilesPopupClose" class="btn btn-outline-info">&laquo; @(Localizer["Close"])</a>   
        <input type="submit" value="Delete" class="btn btn-danger" /> 
    </form>
</div>
