@model POYA.Areas.FunFiles.Models.FunYourFile

@{
    ViewData["Title"] =Localizer[ "Details"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>
    @(Localizer["Details"]) 
    &raquo;
    <span class="FileName">
        @(Model.Name)
    </span>
</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @(Html.DisplayNameFor(model => model.FilePathFunDirs))
        </dt>
        <dd class = "col-sm-10">
            @foreach (var item in Model.FilePathFunDirs)
            {
                <span class="PathSep">/</span>
                <a asp-action="Index" asp-controller="FunDirs" asp-route-ParentDirId="@(item.Id)"  class="PathName">
                    @(item.Name)
                </a>
            }
            <span class="PathSep">/</span>
            <a asp-action="DownloadFunFile" asp-controller="FunYourFiles" asp-route-Id="@(Model.Id)" class="fun_file_download">
                @(Model.Name)  <script>document.write('\u2b07');</script>
            </a>
        </dd>
        <dt class = "col-sm-2">
            @(Html.DisplayNameFor(model => model.Name))
        </dt>
        <dd class = "col-sm-10">
            <a asp-action="DownloadFunFile" asp-controller="FunYourFiles" asp-route-Id="@(Model.Id)" class="fun_file_download">
                @(Html.DisplayFor(model => model.Name))
            </a>
        </dd>
        <dt class = "col-sm-2">
            @(Html.DisplayNameFor(model => model.DOUploading))
        </dt>
        <dd class = "col-sm-10">
            @(Model.DOUploading.LocalDateTime)
        </dd>
    </dl>
</div>
<div>
    <a id="BackEle" class="btn btn-outline-info">&laquo; @(Localizer["Back"])</a>
</div>


@section Scripts
{
    <script>
        $(document).ready(()=>{
            $(document).on(`click`,`.PathName`,()=>{window});
        });
    </script>
}

@section Styles
{
    <style>
        .PathName{
            color: blueviolet;
        }
        .PathName:hover{
            color: blue;
        }
        .PathSep{
            color: blue;
            font-size: 125%;
            margin-left: 9px;
        }
        .FileName{
            cursor: default;
            font-size: 80%;
            border: solid;
            border-color: crimson;
            border-radius: 6px;
        }
        .FileName:hover{
            background-color: crimson;
        }
    </style>
}