@model POYA.Areas.LAdmin.Models.LAudit

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LAudit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOAudit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOAudit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InspectorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InspectorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuditResultId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuditResultId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
