
@using POYA.Unities.Helpers
@using Microsoft.Extensions.Configuration
@model POYA.Areas.WeEduHub.Models.WeArticle
@inject IConfiguration LConfiguration


@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    var IsEdit=Convert.ToBoolean(ViewData["IsEdit"]??false);
    
    ViewData["Title"] =IsEdit?Localizer["Edit"]:Localizer[ "Create"];

    var FirstClassId=IsEdit?ViewData["FirstClassId"].ToString():string.Empty;

    var _WeArticleFileContentType=ViewData["WeArticleFileContentType"]?.ToString()??string.Empty;
}


<h4 >@(IsEdit? Localizer["Edit"]:Localizer["Write"]) @(Localizer["Your articles and videos"])</h4>

<hr />
<div class="row">
    <div class="offset-sm-1 col-sm-10 offset-2 col-8 ">
        <form asp-action='@(IsEdit?"Edit":"Create")' enctype="multipart/form-data" id="wearticle_create_and_edit_form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="SetId" type="hidden"/>            
            <input type="file" asp-for="WeArticleFormFile" hidden accept=".pdf,video/*"/>
            <input asp-for="ClassId" type="hidden"/>
            <input asp-for="CustomClass" type="hidden"/>
            <input asp-for="Complex" type="hidden"/>
            <input asp-for="Comment" type="hidden"/>

            <div class="form-group">
                <input asp-for="Title" class="form-control" placeholder='@(Localizer["Title"])' autocomplete="off"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group operation-form-group">
                <a id="go_back" class="btn btn-info">&laquo; @(Localizer["Back"])</a>   
                <a class="btn btn-info" id="select_file">@(Localizer["Select file"])</a>   
                <a class="btn btn-primary" id="wearticle_create_and_edit_form_submit">@(Localizer["Upload"])</a>
            </div>
        </form>

    </div>
</div>

<div class="selected_file_content_parent">
</div>

<div class="row">
    <div class="col offset-sm-1 col-sm-10 offset-2 col-8" >
        <div id="wearticle_class_and_" class="row">
            <div class="col col-auto">
                <select id="first_class_select"  class="form-control" >
                </select>
            </div>
            <div class="col col-auto">
                <select id="second_class_select"  class="form-control" > 
                </select> 
            </div>
            <div class="col col-auto">
                <input  id="custom_class_input" class="form-control" value="@(Model.CustomClass)" placeholder='@(Localizer["Custom classification"])'/>
            </div>
            <div class="col col-auto">
                <select  id="complex_select" asp-items="@(Model.ComplexSelectListItems)" class="form-control" title='@(Localizer["Complex extent"])'></select>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col offset-sm-1 col-sm-10 offset-4 col-4">
        <textarea id="comment_textarea" rows="3" class="form-control" placeholder='@(Localizer["Comment"]) (@(Localizer["Optional"])). . .'></textarea>
    </div>
</div>

<div style="margin-bottom: 60px;"></div>

@section Scripts 
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/lib/js-sha256/build/sha256.min.js"></script>

    <script>

        
        var _WeArticleFileContentType=`@_WeArticleFileContentType`;
        var IsEdit=Boolean(`@(IsEdit?" ":"")`)
        var _selected_file_content_object_string=(data,type)=>` <object  id="selected_file_content" data='${data}'  type='${type}'></object>`;
        var _selected_file_content_video_string=(src,type)=>`   <video   id="selected_file_content" src='${src}'    type='${type}'  controls></video>`;
        var AllowedDocumentFileLength=Number(`@(LConfiguration["WeEduHub.WeArticle:AllowedDocumentFileLength"])`);
        var AllowedVideoFileLength=Number(`@(LConfiguration["WeEduHub.WeArticle:AllowedVideoFileLength"])`);

        
        $(document).ready(()=>{

            $(document).on(`click`,`#select_file`,()=>{ SelectFileClick(); });

            $(document).on(`change`,`#WeArticleFormFile`,(e)=>{  WeArticleFormFileChange(e); })
            
            $(document).on(`change`,`#first_class_select`,(e)=>{ FirstClassSelectChange(e); })

            $(document).on(`change`,`#second_class_select`,(e)=>{ SecondClassSelectChange(e); })

            $(document).on(`input propertychange`,`#custom_class_input`,(e)=>{ CustomClassInputPropertyChange(e); })

            $(document).on(`input propertychange`,`#comment_textarea`,(e)=>{ CommentTextareaInputPropertyChange(e); })

            $(document).on(`change`,`#complex_select`,(e)=>{ ComplexSelectChange(e);  });

            $(document).on(`click`,`#wearticle_create_and_edit_form_submit`,  (e)=>{  WearticleCreateAndEditFormSubmitOnClick(e) })
            
            if(_WeArticleFileContentType.length>0) $(`#complex_select`).find(`option[value='@(Model.Complex)']`).attr("selected",true);

            $(`#comment_textarea`).val($(`#Comment`).val());

            InitialWeArticleFirstClasses();

            InitialWeArticleContent();

        });

        
        function WearticleCreateAndEditFormSubmitOnClick(e)
        {   
            e.preventDefault();

            if( $(`#Title`).val().length<1 )
            {
                MakeLayoutAlert(
                    `@(Html.Raw(Localizer["The title is empty"]))`,
                    3500,
                    "danger"
                );
                return;
            }

            if( (!IsEdit) && ($(`#WeArticleFormFile`).val().length<1) )
            {
                MakeLayoutAlert(
                    `@(Html.Raw(Localizer["The content file of article is empty"]))`,
                    3500,
                    "danger"
                );
                return;
            }

            if(
                $(`#WeArticleFormFile`).val().endsWith(`.pdf`) && 
                (document.getElementById(`WeArticleFormFile`).files[0].size > AllowedDocumentFileLength)
            )
            {
                MakeLayoutAlert(
                    `@(Html.Raw(Localizer["The length of document should be less than "])) ${Math.round(AllowedDocumentFileLength/1048576)} M`,
                    4500,
                    "danger"
                );
                return;

            } 
            else if(
                document.getElementById(`WeArticleFormFile`).files[0].type.startsWith(`video/`) && 
                (document.getElementById(`WeArticleFormFile`).files[0].size > AllowedVideoFileLength)
            )
            {
                MakeLayoutAlert(
                    `@(Html.Raw(Localizer["The length of video should be less than "])) ${Math.round(AllowedVideoFileLength/1048576)} M`,
                    4500,
                    "danger"
                );
                return;

            }

            if(IsEdit && ($(`#WeArticleFormFile`).val().length<1))
            {
                // Edit action without file
                $.ajax({
                    url:`@(Url.Action("Edit"))`,
                    method:`POST`,
                    processData: false,
                    contentType: false,
                    data:new FormData(document.getElementById(`wearticle_create_and_edit_form`)),
                    headers: {  "@(X_DOVEValues.CustomHeaderName)": "@(CSRF.GetAndStoreTokens(Context).RequestToken)"  },
                    xhr: ()=> {
                        var xhr = $.ajaxSettings.xhr();
                        if (xhr.upload) {
                            
                            xhr.upload.addEventListener("progress",  (e)=> {
                                
                                var per = Math.floor(100 * (e.loaded /  e.total));
                                
                                MakeLayoutProgress(per);

                            }, false);

                            return xhr;
                        }
                    },
                    success:(_url)=>{  window.location.replace(_url);   }
                });
                return;
            }

            var _FileReader = new FileReader();
            
            _FileReader.readAsArrayBuffer(  document.getElementById( `WeArticleFormFile` ).files[0] );

            _FileReader.onload = ()=>{
                
                var _SHA256 = sha256(_FileReader.result).toString();

                $.get(
                    `@(Url.Action("IsFileDuplicate"))?FileSHA256HexString=`+_SHA256,
                    (result)=>{
                        if(result=="True")
                        {
                            MakeLayoutAlert(
                                `@(Html.Raw(Localizer["The content file is duplicate in POYA"]))`,
                                4500,
                                "danger"
                            );
                            return;
                        }
                        else
                        {
                            $.ajax({
                                url:`@(Url.Action(IsEdit?"Edit":"Create"))`,
                                method:`POST`,
                                processData: false,
                                contentType: false,
                                data:new FormData(document.getElementById(`wearticle_create_and_edit_form`)),
                                headers: {  "@(X_DOVEValues.CustomHeaderName)": "@(CSRF.GetAndStoreTokens(Context).RequestToken)"  },
                                xhr: ()=> {
                                    var xhr = $.ajaxSettings.xhr();
                                    if (xhr.upload) {
                                        
                                        xhr.upload.addEventListener("progress",  (e)=> {
                                            
                                            var per = Math.floor(100 * (e.loaded /  e.total));
                                            
                                            MakeLayoutProgress(per);

                                        }, false);

                                        return xhr;
                                    }
                                },
                                success:(_url)=>{  window.location.replace(_url);   }
                            });
                        }
                    }
                );

            };
        }

        function CommentTextareaInputPropertyChange(e)
        {
            $(`#Comment`).val($(e.target).val());
        }

        function InitialWeArticleContent()
        {
            if(_WeArticleFileContentType.length>0)
            {
                AddSelectedFileContentEleParentHtml(
                    _WeArticleFileContentType,
                    `@(Url.Action("GetWeArticleFile",new{Id=Model.WeArticleContentFileId,area="WeEduHub"}))`
                );
            }
        }

        function ComplexSelectChange(e) {   $(`#Complex`).val( $(`#complex_select`).val() );     }

        function CustomClassInputPropertyChange(e) {  $(`#CustomClass`).val($(`#custom_class_input`).val());    }

        function SecondClassSelectChange(e) { $(`#ClassId`).val($(e.target).val());  }

        function FirstClassSelectChange(e)
        {
            $(`#second_class_select`).load(`@(Url.Action("GetSecondClassesByFirstClassCode"))?FirstClassCode=`+$(e.target).find("option:selected").attr(`itemcode`));
        }

        function AfterFillFirstClassSelect(){
            if(_WeArticleFileContentType.length>0)
            {
                $(`#first_class_select`).find(`option[value='@(FirstClassId)']`).attr("selected",true);
                $.get(
                    `@(Url.Action("GetSecondClassesByFirstClassCode"))?FirstClassCode=`+$(`#first_class_select option[value='@(FirstClassId)']`).attr(`itemcode`),
                    (data)=>{
                        $(`#second_class_select`).html(data);
                        $(`#second_class_select`).find(`option[value='@(Model.ClassId)']`).attr("selected",true);
                    }
                );
            }
            else
            {
                $(`#second_class_select`).load(`@(Url.Action("GetSecondClassesByFirstClassCode"))?FirstClassCode=`+$(`#first_class_select option:first`).attr(`itemcode`));
            }
        }

        function InitialWeArticleFirstClasses()
        {
            $.get(
                `@(Url.Action("GetAllFirstClasses"))`,
                (data)=>{ 
                    $(`#first_class_select`).html(data);

                    AfterFillFirstClassSelect();
                }
            );
        }

        function WeArticleFormFileChange(e)
        {
            var _file=document.getElementById(`WeArticleFormFile`).files[0];
        
            var _reader = new FileReader();

            _reader.readAsDataURL(_file);
            
            _reader.onload = function()
            {
                
                AddSelectedFileContentEleParentHtml(
                    _file.type,
                    this.result
                );
     
            }
            
        }

        function AddSelectedFileContentEleParentHtml(FileType, SrcOrData)
        {
            if(FileType.endsWith("/pdf"))
            {
                $(`.selected_file_content_parent`).html(
                    _selected_file_content_object_string(
                        SrcOrData,
                        FileType
                    )
                );
            }
            else if(FileType.startsWith("video/"))
            {
                $(`.selected_file_content_parent`).html(
                    _selected_file_content_video_string(
                        SrcOrData,
                        FileType
                    )
                );
            }
        }

        function SelectFileClick()  {  $(`#WeArticleFormFile`).click();   }
        
    </script>
}


@section Styles
{
    <style>

        #selected_file_content{
            width: 100%;
            height: 100%;
        }
        #GoToTop{
            display: none;
        }
        .selected_file_content_parent{
            width:100%;
            height: 70%;
            padding: 8px;
            border: solid;
            border-color: rgba(89, 99, 34, 0.4);
            border-radius: 8px;
            overflow-x: auto;
            overflow-y: auto;
            zoom: 0.8;
        }
        #wearticle_class_and_{
            margin-top: 10px;
            border: solid;
            border-color: rgba(89, 99, 200, 0.4);
            border-radius: 10px;
            text-align: center;
            padding:10px;
        }
        #Title{
            text-align: center;    
        }
        
        .operation-form-group{
            position: fixed;
            bottom: 50px;
            z-index: 99;
        }

        .operation-form-group .btn{
            margin: 8px;
        }
    </style>
}