@model POYA.Areas.WeEduHub.Models.WeArticle

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@(ViewData["Title"])</h1>

<h3>@(Localizer["Are you sure you want to delete"]) @(Model.Title)?</h3>

<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a id="go_back" class="btn btn-info">&laquo; @(Localizer["Back"])</a>   
        <input type="submit" value="Delete" class="btn btn-danger" />   
    </form>

    <a id="go_back" class="btn btn-info">&laquo; @(Localizer["Back"])</a>   
</div>

<div class="row">
    <div class="col col-12">
        <hr/>
        <div class="wearticle_content"></div>
    </div>
</div>



@section Scripts
{
    <script>
        $(document).ready(()=>{
            $(`.wearticle_content`).append(`@(Html.Raw(Model.Content))`);
        });
    </script>
}

@section Styles
{
    <style>
        .wearticle_title,.wearticle_content{
            text-align: center;
        }
        .wearticle_content{
            margin-bottom: 20%;
        }
        #go_back{
            position: fixed;
            bottom: 8%;
        }
    </style>
}
    