@model POYA.Areas.WeEduHub.Models.WeArticle

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var AuthorUserId=ViewData["AuthorUserId"]?.ToString()??string.Empty;
    var AuthorUserEmail=ViewData["AuthorUserEmail"]?.ToString()??string.Empty;
    var _WeArticleFileContentType=ViewData["WeArticleFileContentType"]?.ToString()??string.Empty;
}

<div class="row">
    <div class="col col-12">
        <div class="wearticle_title">@(Model.Title)</div>
        <span class="wearticle_class_and_">
            @(Localizer[ Model.FirstClassName]) > @(Localizer[Model.SecondClassName]) > @(Model.CustomClass) | @(new string('\u269D',Model.Complex))
        </span>

        <div class="float-right content_check_and_">
            <a href="mailto:@(AuthorUserEmail)" title='@(Localizer["Mail to the author"])' >@(Html.Raw("\ud83d\udcec"))</a> | 
            <a asp-action="Create" asp-area="FunAdmin" asp-controller="FContentChecks" asp-route-_ContentId="@(Model.Id)" title='@(Localizer["Tip-off"])'>
                @(Html.Raw("\u2696"))
            </a>
        </div>

    </div>
</div>

<hr/>

<div class="wearticle_content">
    @if(_WeArticleFileContentType.EndsWith("/pdf"))
    {
        <object 
            id="selected_file_content" 
            data='@(Url.Action("GetWeArticleFile",new{Id=Model.WeArticleContentFileId,area="WeEduHub"}))' 
            type='@_WeArticleFileContentType'>
        </object>  
    }
    else if(_WeArticleFileContentType.StartsWith("video/"))
    {
        <video 
            id="selected_file_content" 
            src='@(Url.Action("GetWeArticleFile",new{Id=Model.WeArticleContentFileId,area="WeEduHub"}))' 
            type='@_WeArticleFileContentType' 
            controls >
        </video> 
    }
    <hr/>
    <div class="wearticle_comment">@(Model.Comment)</div>
</div>


<div class="wearticle_details__">
    <a id="go_back" class="btn btn-info">&laquo; @(Localizer["Back"])</a>   
    @if(AuthorUserId==Model.AuthorUserId)
    {
        <a class="wearticle_edit btn btn-info" asp-action="Edit" asp-route-id="@Model.Id">@(Localizer["Edit"])</a>    
        <a class="wearticle_delete btn btn-info" asp-action="Delete" asp-route-id="@Model.Id">@(Localizer["Delete"])</a>
    }
</div>

@section Scripts
{
    <script>
        $(document).ready(()=>{
            
        });
    </script>
}

@section Styles
{
    <style>
        .wearticle_comment{
            text-align: left;
        }
        .content_check_and_{
            transform: scale(1.6);
        }
        .content_check_and_:hover{
            transform: scale(1.8);
        }
        .content_check_and_ :hover{
            text-decoration: none;
        }

        .wearticle_content object{
            border-radius: 5px;
            width: 100%;
            height: 100%;
            background-color: transparent;
        }
        .wearticle_content video{
            width: 90%;
        }
        .wearticle_class_and_{
            font-size: 80%;
        }
        .wearticle_content{
            text-align: center;
        }
        .wearticle_title{
            font-size: 160%;
            width: 80%;
            word-wrap: break-word;
            word-break: break-all;
        }
        .wearticle_content{
            margin-bottom: 20%;
        }
        .wearticle_details__{
            position: fixed;
            bottom: 8%;
        }
    </style>
}