@model IEnumerable<POYA.Areas.WeEduHub.Models.WeArticle>
@using POYA.Areas.WeEduHub.Controllers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    var SetId=ViewData["SetId"]?.ToString()??string.Empty;

    var SetName=ViewData["SetName"]?.ToString()??string.Empty;
    
    var _UserId=ViewData["UserId"]?.ToString()??string.Empty;

    var SetBelongToCurrentUser=Convert.ToBoolean(ViewData["SetBelongToCurrentUser"]);

    var _WeEduHubHelper=new WeEduHubHelper();

    var WEARTICLE_SORT_BY=ViewData[_WeEduHubHelper.WEARTICLE_SORT_BY_String]?.ToString();
    
    var IS_WEARTICLE_ORDER_BY_ASC=Convert.ToBoolean(ViewData[_WeEduHubHelper.IS_WEARTICLE_ORDER_BY_ASC_String]??false);
    
    WEARTICLE_SORT_BY= WEARTICLE_SORT_BY==_WeEduHubHelper.SortByDate?Localizer["Date"]:
            WEARTICLE_SORT_BY==_WeEduHubHelper.SortByTitle?Localizer["Title"]:
            Localizer["Modifying"];
}
@if((SetId?.Length??0)>1)
{
    <span class="set-name">@(SetName)</span> 
    <span class="articles-and-videos">@(Localizer["Articles and videos"])</span>
}
else
{
    <h4>@(Localizer["Articles and videos"])</h4>
}

<div class="row">
    <div class="col col-12">
        @if(SetId==string.Empty)
        {
            <a asp-action="Index" asp-controller="WeArticleSet" class="btn btn-outline-info float-right">@(Localizer["My sets"]) &raquo;</a>
            <div class="btn-group  float-right">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @(WEARTICLE_SORT_BY) @(Html.Raw(IS_WEARTICLE_ORDER_BY_ASC?"\u2b06\ufe0f":"\u2b07\ufe0f"))
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item sort-by" sort_by="@(_WeEduHubHelper.SortByDate)">@(Localizer["Date"])</a>
                    <a class="dropdown-item sort-by" sort_by="@(_WeEduHubHelper.SortByTitle)">@(Localizer["Title"])</a>
                    <a class="dropdown-item sort-by" sort_by="@(_WeEduHubHelper.SortByModifying)">@(Localizer["Modifying"])</a>
                </div>
            </div>
        }

        @if(SetBelongToCurrentUser)
        {
            <a asp-action="Create" asp-controller="WeArticle" asp-route-SetId="@(SetId)" class="btn btn-outline-info float-right">@(Localizer["Add"]) &raquo;</a>
        }
        
        @if(SetId!=string.Empty)
        {
            <a id="go_back" class="btn btn-info">&laquo; @(Localizer["Back"])</a> 
        }
    </div>
</div>

<div class="row">
    <div class="col col-10">
        <table class="table wearticles_table" aria-describedby="">  

            <tbody>
                <tr><th id="841555b0-cacc-43d3-88c2-fa109951e66b"></th></tr>
                @foreach (var item in ViewData["WeArticles"] as IPagedList<WeArticle>) 
                {
                    <tr>
                        <td>
                            <a class="wearticle_details" asp-action="Details" asp-route-id="@item.Id">@(item.Title)</a> 
                            @if((DateTimeOffset.Now-item.DOPublishing).Days<1)
                            {
                                <sup>
                                    <span class="badge badge-success">@(Localizer["Newest"])</span>
                                </sup>
                            }
                            @if(item.AuthorUserId==_UserId)
                            {
                                <a class="wearticle_edit"  asp-action="Edit" asp-route-id="@item.Id">@(Html.Raw("\u2712\ufe0f"))</a>    
                                <a class="wearticle_delete"  asp-action="Delete" asp-route-id="@item.Id">@(Html.Raw("\u274c"))</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="paged_list">
    @(Html.PagedListPager((IPagedList)ViewData["WeArticles"], Apage => Url.Action("Index", new { Apage = Apage,SetId=SetId }),PagedListRenderOptionsBase.ClassicPlusFirstAndLast))
</div>


@section Scripts
{
    <script>
        $(document).ready(()=>{
            $(document).on(`click`,`.sort-by`,(e)=>{ SortByClick(e) })
        });
        
        /**
         * @@param {Event}e
         */
        function SortByClick(e)
        {
            var _SortBy_=$(e.target).attr(`sort_by`);
            var IS_WEARTICLE_ORDER_BY_ASC=Boolean(`@(IS_WEARTICLE_ORDER_BY_ASC?" ":"")`);
            if(Cookies.set("@(_WeEduHubHelper.WEARTICLE_SORT_BY_String)")==_SortBy_)
            {
                Cookies.set("@(_WeEduHubHelper.IS_WEARTICLE_ORDER_BY_ASC_String)",!IS_WEARTICLE_ORDER_BY_ASC);
            }
            
            Cookies.set("@(_WeEduHubHelper.WEARTICLE_SORT_BY_String)",_SortBy_);
            window.location.reload();
        }
    </script>
}

@section Styles
{
    <style>
        .set-name{
            font-size: 320%
        }
        .articles-and-videos{
            font-size: 80%;
        }
        td{
            border: 0px solid transparent !important;
        }
        .paged_list{
            text-align:center;
        }
        .wearticle_details{
            font-size: 190%;
            text-decoration: none;
            word-break: break-all;
            word-wrap: break-word;
        }
        .wearticle_details:hover{
            text-decoration: none;
            color: violet;
        }
        #go_back{
            position: fixed;
            bottom: 8%;
            z-index: 99;
        }
        table *{
            border-color: transparent;
        }
    </style>
}
