@model IEnumerable<POYA.Areas.WeEduHub.Models.WeArticle>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@(Localizer["Your articles and videos"])</h4>

<div class="row">
    <div class="col col-12">
        <a asp-action="Create" asp-route-SetId='@(ViewData["SetId"])' class="btn btn-outline-info float-right">@(Localizer["Add"]) &raquo;</a>
        <a id="go_back" class="btn btn-info">&laquo; @(Localizer["Back"])</a> 
    </div>
</div>



<table class="table">
    <tbody>
        @foreach (var item in Model) 
        {
            <tr>
                <td>
                    <a class="wearticle_details" asp-action="Details" asp-route-id="@item.Id">@(item.Title)</a>  
                    <a class="wearticle_edit"  asp-action="Edit" asp-route-id="@item.Id"><script>document.write(`\u2712\ufe0f`);</script></a>    
                    <a class="wearticle_delete"  asp-action="Delete" asp-route-id="@item.Id"><script>document.write(`\u274c`);</script></a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts
{
    <script>

    </script>
}

@section Styles
{
    <style>
        .wearticle_details{
            font-size: 190%;
            text-decoration: none;
        }
        #go_back{
            position: fixed;
            bottom: 8%;
        }
        td{
            border: none;
        }
    </style>
}
