@model IEnumerable<POYA.Areas.WeEduHub.Models.WeArticle>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@(Localizer["Your articles and videos"])</h4>

<div class="row">
    <div class="col col-12">
        <a asp-action="Create" asp-route-SetId='@(ViewData["SetId"])' class="btn btn-outline-info float-right">@(Localizer["Add"]) &raquo;</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @(Html.DisplayNameFor(model => model.UserId))
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.Title))
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.Content))
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.DOPublishing))
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.DOModifying))
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{
        <tr>
            <td>
                @(Html.DisplayFor(modelItem => item.UserId))
            </td>
            <td>
                @(Html.DisplayFor(modelItem => item.Title))
            </td>
            <td>
                @(Html.DisplayFor(modelItem => item.Content))
            </td>
            <td>
                @(Html.DisplayFor(modelItem => item.DOPublishing))
            </td>
            <td>
                @(Html.DisplayFor(modelItem => item.DOModifying))
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
