@page
@using POYA.Models
@using POYA.Unities.Helpers;
@model UserInfoModel
@{
    ViewData["Title"] = Localizer["Your information"];
    ViewData["ActivePage"] = ManageNavPages.UserInfo;
}
<h4>@(ViewData["Title"])</h4>

<partial name="_StatusMessage" for="StatusMessage" />

<div class="row user-info-row" 
    data-extension-limit_='@(Localizer["The extension of the file can only be"])'
    data-custom-header-name="@(X_DOVEValues.CustomHeaderName)"
    data-csrf='@(CSRF.GetAndStoreTokens(HttpContext).RequestToken)'
    data-upload-successfully='@Localizer["Uploaded successfully"]'
    data-error='@Localizer["An error has occurred. . . , engineers are on their way"]'
    data-extension-limit='@Localizer["The extension of the file can only be jpg, jpeg or png"]' 
    data-avatar-size-limit='@Localizer["Oops...., the size of avatar should be less than 1M"]'>
    <div class="col col-4 col-sm-4 col-md-3 User-Avatar">
        <form id="_UserAvatarForm">
            <img name="User_Avatar_Img" id="User_Avatar_Img" class="rounded-circle ZoomAvatar" title='@Localizer["The extension of the file can only be jpg, jpeg or png"]'
                 src='/Home/GetAvatar' />
            <input id="_UserAvatarInput" type="file" accept=".jpg,.gif,.jpeg" hidden />
        </form>
        <h6 id="_UploadAvatarMsgEle"></h6>
    </div>
    <div class=" col col-10 col-sm-8 col-md-9">
        <form id="profile-form" method="post">
            <div style="border-radius:10px;border:solid;border-color:#EE7AE9;padding:20px;box-shadow: 4px 4px 10px #EE7AE9;">
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.DOBirth"></label>
                        <label asp-for="Input.IsDOBirthOvert">
                            <input asp-for="Input.IsDOBirthOvert" />
                            @(Html.DisplayNameFor(m => m.Input.IsDOBirthOvert))
                        </label>
                    </div>
                    <input asp-for="Input.DOBirth" class="form-control" type="date" value='@(Model.Input.DOBirth==null?DateTimeOffset.Now.ToString("yyyy-MM-dd"):Model.Input.DOBirth?.ToString("yyyy-MM-dd"))' />
                    <span asp-validation-for="Input.DOBirth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.Hobby"></label>
                        <label asp-for="Input.IsHobbyOvert">
                            <input asp-for="Input.IsHobbyOvert" />
                            @(Html.DisplayNameFor(m => m.Input.IsHobbyOvert))
                        </label>
                    </div>
                    <input asp-for="Input.Hobby" class="form-control" />
                    <span asp-validation-for="Input.Hobby" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.GraduatedFrom"></label>
                        <label asp-for="Input.IsGraduatedFromOvert">
                            <input asp-for="Input.IsGraduatedFromOvert" />
                            @(Html.DisplayNameFor(m => m.Input.IsGraduatedFromOvert))
                        </label>
                    </div>
                    <input asp-for="Input.GraduatedFrom" class="form-control" />
                    <span asp-validation-for="Input.GraduatedFrom" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.Occupation"></label>
                        <label asp-for="Input.IsOccupationOvert">
                            <input asp-for="Input.IsOccupationOvert" />
                            @(Html.DisplayNameFor(m => m.Input.IsOccupationOvert))
                        </label>
                    </div>
                    <input asp-for="Input.Occupation" class="form-control" />
                    <span asp-validation-for="Input.Occupation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.Address"></label>
                        <label asp-for="Input.IsAddressOvert">
                            <input asp-for="Input.IsAddressOvert" />
                            @(Html.DisplayNameFor(m => m.Input.IsAddressOvert))
                        </label>
                    </div>
                    <input asp-for="Input.Address" class="form-control" />
                    <span asp-validation-for="Input.Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.OriginalAddress"></label>
                        <label asp-for="Input.IsOriginalAddressOvert">
                            <input asp-for="Input.IsOriginalAddressOvert" />
                            @(Html.DisplayNameFor(m => m.Input.IsOriginalAddressOvert))
                        </label>
                    </div>
                    <input asp-for="Input.OriginalAddress" class="form-control" />
                    <span asp-validation-for="Input.OriginalAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.MaritalStatus"></label>
                        <label asp-for="Input.IsMaritalStatusOvert">
                            <input asp-for="Input.IsMaritalStatusOvert" />
                            @(Html.DisplayNameFor(m => m.Input.IsMaritalStatusOvert))
                        </label>
                    </div>
                    <input asp-for="Input.MaritalStatus" class="form-control" />
                    <span asp-validation-for="Input.MaritalStatus" class="text-danger"></span>
                </div>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-outline-info col col-4" style="margin-top:20px">@(Localizer["Save"])</button>
        </form>
    </div>
</div>
@section Scripts 
{
    <partial name="_ValidationScriptsPartial" />

}
