@page
@model CreateSuperUserModel
@{
    ViewData["Title"] = Localizer["Create super user"];
    
}
<h2>@(ViewData["Title"])</h2>
<hr/>

<div class="row">
    <div class="col offset-sm-2 col-sm-8  offset-md-2 col-md-8 offset-lg-4 col-lg-4">
        <section>
            <form id="account" asp-route-returnUrl="@Model.ReturnUrl" method="post">

                <div class="form-group">
                    <label asp-for="Input.UserName"></label>
                    <input asp-for="Input.UserName" class="form-control" placeholder='@Localizer["Type your email here"]' />
                    <span asp-validation-for="Input.UserName" data-interval="5000" class="text-danger"></span>
                </div>
                
                <div class="form-group">

                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" placeholder='@Localizer["Type your email here"]' />
                    <span asp-validation-for="Input.Email" data-interval="5000" class="text-danger"></span>
                </div>

                <div class="form-group">

                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" placeholder='@Localizer["Type your password here"]' />
                    <span asp-validation-for="Input.Password" data-interval="5000" class="text-danger"></span>
                    
                </div>

                <div class="form-group">

                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" placeholder='@Localizer["Type your password again"]' />
                    <span asp-validation-for="Input.ConfirmPassword" data-interval="5000" class="text-danger"></span>
                </div>

                <div class="form-group">

                    <label asp-for="Input.PhoneNumber"></label>*
                    <input asp-for="Input.PhoneNumber" class="form-control" placeholder='@(Localizer["Type your email here"])(@Localizer["optional"])' />
                    <span asp-validation-for="Input.PhoneNumber" data-interval="5000" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-outline-primary">@(Localizer["Create"])</button>
            </form>
        </section>
    </div>
</div>

@section Scripts 
{
    <partial name="_ValidationScriptsPartial" />
}
