@page
@model RegisterModel
@{
    ViewData["Title"] = Localizer["Sign up"];
    var IsSuperUserCreated = Convert.ToBoolean( ViewData["IsSuperUserCreated"]);
}
<h1>@(ViewData["Title"])</h1>
<hr/>
<div class="row">
    <div class="col offset-sm-2 col-sm-8  offset-md-2 col-md-8 offset-lg-4 col-lg-4 register-col">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>@(Localizer["Create a new account"])</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" placeholder='@Localizer["Type your email here"]' />
                <span asp-validation-for="Input.Email" data-interval="5000" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" placeholder='@Localizer["Type your password here"]' />
                <span asp-validation-for="Input.Password" data-interval="5000" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" placeholder='@Localizer["Type your password again"]' />
                <span asp-validation-for="Input.ConfirmPassword" data-interval="5000" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">@(Localizer["Sign up"])</button>
        </form>

        @if(!IsSuperUserCreated)
        {

            <div class="align-content-center">
                <a asp-page="../SuperManage/CreateSuperUser" asp-route-returnUrl="@(HttpContext.Request.Path)" >@(Localizer["Create super user"])</a>    
            </div>

        }
    </div>
</div>


@section Scripts 
{
    <partial name="_ValidationScriptsPartial" />
}
