@page
@model POYA.Areas.Identity.Pages.Account.ViewUserInfoModel
@using POYA.Models;
@{
    var X_doveUserInfo = ViewData["X_doveUserInfo"] as X_doveUserInfo;  //  = await _context.X_DoveUserInfos.Select(p => new X_doveUserInfo
    var _UserName = ViewData["UserName"];
    ViewData["Title"] = _UserName + "'s " + Localizer["Information"];
    var _UserId = ViewData["UserId"];//  = _User.Id;
    var _UserEmail = ViewData["UserEmail"];//    = _User.Email;

}
<div class="row">
    <div class="col col-auto text-center view-user-info">
        <img src="/Home/GetAvatar?UserId=@(_UserId)" id="_UserAvatar" data-mailto='@(_UserEmail)' onclick='mailto:@(_UserEmail)' class="rounded-circle user-avatar" title='@Localizer["Send a email"]' /><br />
        <span>@(_UserName)</span>
    </div>
    <div class="col col-auto" id="UserInfoEle">
        <table class="table">

            <tbody>
                @if (!(X_doveUserInfo.IsAddressOvert || 
                    X_doveUserInfo.IsDOBirthOvert || 
                    X_doveUserInfo.IsGraduatedFromOvert || 
                    X_doveUserInfo.IsHobbyOvert ||
                    X_doveUserInfo.IsMaritalStatusOvert || 
                    X_doveUserInfo.IsOccupationOvert ||
                    X_doveUserInfo.IsOriginalAddressOvert ))
                {
                    <tr><td>@_UserName @(Localizer["hid his information"])</td></tr>
                }
                else
                {
                    @if (X_doveUserInfo.IsAddressOvert)
                    {
                        <tr>
                            <th scope="row">@(Localizer["Address"])</th>
                            <td>@(X_doveUserInfo.Address)</td>
                        </tr>
                    }
                    @if (X_doveUserInfo.IsOriginalAddressOvert)
                    {
                        <tr>
                            <th scope="row">@(Localizer["Hometown"])</th>
                            <td>@(X_doveUserInfo.OriginalAddress)</td>
                        </tr>
                    }
                    @if (X_doveUserInfo.IsDOBirthOvert && X_doveUserInfo.DOBirth != null)
                    {
                        <tr>
                            <th scope="row">@(Localizer["Birth date"])</th>
                            <td>@(X_doveUserInfo.DOBirth?.LocalDateTime.ToString("MM-dd-yyyy"))</td>
                        </tr>
                    }
                    @if (X_doveUserInfo.IsHobbyOvert)
                    {
                        <tr>
                            <th scope="row">@(Localizer["Hobby"])</th>
                            <td>@(X_doveUserInfo.Hobby)</td>
                        </tr>
                    }
                    @if (X_doveUserInfo.IsMaritalStatusOvert)
                    {
                        <tr>
                            <th scope="row">@(Localizer["Marital status"])</th>
                            <td>@(X_doveUserInfo.MaritalStatus)</td>
                        </tr>
                    }
                    @if (X_doveUserInfo.IsGraduatedFromOvert)
                    {
                        <tr>
                            <th scope="row">@(Localizer["Graduated from"])</th>
                            <td>@(X_doveUserInfo.GraduatedFrom)</td>
                        </tr>
                    }
                    @if (X_doveUserInfo.IsOccupationOvert)
                    {
                        <tr>
                            <th scope="row">@(Localizer["Occupation"])</th>
                            <td>@(X_doveUserInfo.Occupation)</td>
                        </tr>
                    }
                }

            </tbody>
        </table>

    </div>
</div>
<div class="row">
    <div class="col col-auto">
        <a class="btn btn-outline-info" id="BackEle">&laquo; @(Localizer["Back"])</a>
    </div>
</div>

@section Scripts{
    
}

