

@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"]=Localizer["Role index"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@(ViewData["Title"])</h2>
<hr/>
<table class="table">
    <tr>
        <th>@(Localizer["Role ID"])</th>
        <th>@(Localizer["Role name"])</th>
        <th>@(Localizer["Role NormalizedName"])</th>
    </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(item.Id)</td>
                <td>@(item.Name)</td>
                <td>@(item.NormalizedName)</td>
            
            </tr>    
        }
    
</table>