@model POYA.Models.LDir


<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Date of making"]
        </dt>
        <dd class="col-sm-10">
            @(Model.DOCreate.LocalDateTime)
        </dd>
        <dt class="col-sm-2">
            @(Localizer["In directory"])
        </dt>
        <dd class="col-sm-10">
            @(Html.DisplayFor(model => model.InDirName)) ( <span class="InFullPathSpan">@Model.InFullPath</span> )
        </dd>
    </dl>
</div>