@model IEnumerable<POYA.Models.LDir>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ReturnUrl = Context.Request.Path;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOCreate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InDirId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOCreate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InDirId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" asp-route-ReturnUrl="@ReturnUrl">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id"  asp-route-ReturnUrl="@ReturnUrl">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id"  asp-route-ReturnUrl="@ReturnUrl">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
