@model POYA.Areas.FunFiles.Models.FunDir

@{
}

<div class="Times_FunFilesPopupClose ">&times;</div>

<h3>@(Localizer["Are you sure you want to delete"]) @(Model.Name)?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-auto">
            @(Html.DisplayNameFor(model => model.Name))
        </dt>
        <dd class = "col-auto">
            @(Html.DisplayFor(model => model.Name))
        </dd>
        <dt class = "col-auto">
            @(Html.DisplayNameFor(model => model.DOCreating))
        </dt>
        <dd class = "col-auto">
            @(Model.DOCreating.LocalDateTime)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a id="FunFilesPopupClose" class="btn btn-outline-info">&laquo; @(Localizer["Close"])</a>    
        <input type="submit" value="Delete" class="btn btn-danger" /> 
    </form>
</div>
