@model IEnumerable<POYA.Areas.FunFiles.Models.FunDir>
@using POYA.Areas.FunFiles.Controllers;

@{
    ViewData["Title"] =Localizer[ "Folder"]+" & "+Localizer["Files"];
    Layout = "~/Views/Shared/_Layout.cshtml";

    var FunYourFiles=ViewData[nameof(FunYourFile)+"s"] as List<FunYourFile>;
        
    var FunYourFilesUnionFunDirs=Model
        .Select(
            p=>new{
                DOXXX=p.DOCreating, 
                Name=p.Name, 
                Id=p.Id, 
                Size=string.Empty,
                IsFile=false})
        .Union(
            FunYourFiles.Select(
                p=>new{
                    DOXXX=p.DOUploading, 
                    Name=p.Name, 
                    Id=p.Id, 
                    Size=p.FileSize,
                    IsFile=true,
                }
            )
        );
    
    var ParentDirId=Guid.Parse(ViewData["ParentDirId"].ToString());

    var FunDirPath=ViewData["FunDirPath"] as List<FunDir>;
}

<h1>@(ViewData["Title"])</h1>

<p>
    <a class="btn btn-outline-info" asp-action="Create" asp-route-ParentDirId='@(ParentDirId)'>@(Localizer["New directory"])</a>
    <a class="btn btn-outline-info" asp-action="FunUploadFiles" asp-controller='FunYourFiles' asp-route-ParentDirId='@(ParentDirId)'>
        @(Localizer["Upload files"])
    </a>

    <nav aria-label="breadcrumb" class="PathBreadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
            </li> 
            @foreach (var item in FunDirPath)
            {
                <li class="breadcrumb-item">
                    <a href='@(Url.Action("Index",new{ParentDirId=item.Id}))'>@(item.Name)</a>
                </li> 
            } 
            <li class="breadcrumb-item">
            </li> 
        </ol>
    </nav>
</p>


@if(FunYourFilesUnionFunDirs.Count()>0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @(Html.DisplayNameFor(model => model.Name))
                </th>
                <th>@(Localizer["Size"])</th>
                <th>
                    @(Html.DisplayNameFor(model => model.DOCreating))
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="FileAndDir">
            @foreach (var item in FunYourFilesUnionFunDirs) 
            {
                <tr item_id="@(item.Id)" class='FileAndDirTr @(item.IsFile?"file":"dir")'>
                    <td class="ItemName">
                        @if(item.IsFile)
                        {
                            <a asp-action="Details" asp-controller="FunYourFiles" asp-route-Id='@(item.Id)'>
                                @(Html.DisplayFor(modelItem => item.Name))
                            </a>  
                            <a asp-action="DownloadFunFile" asp-controller="FunYourFiles" asp-route-Id="@(item.Id)" class="fun_file_download">
                                <script>document.write('\u2b07');</script>
                            </a>
                        }
                        else
                        {
                            <a asp-action="Index" asp-route-ParentDirId='@(item.Id)'>
                                @(Html.DisplayFor(modelItem => item.Name))
                            </a>  
                        }
                    </td>
                    <td>@(item.Size)</td>
                    <td>
                        @(item.DOXXX.LocalDateTime)
                    </td>
                    <td class="OperationEle">
                        <button id="item_operation_button_@(item.Id)"  item_id='@(item.Id)' class='item_operation_button'>
                            ...
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="DirectoryIsEmptyTip">
        @(Localizer["Directory is empty"])
        <span><script>document.write('[T_T]');</script>></span>
    </div>
}

@section Scripts
{

    <script>

        $(document).ready(()=>{  
          
            ItemOperationButton_ContextMenu();

        });

        function ItemOperationButton_ContextMenu(){  

            $(document).on(`click`,`.item_operation_button`,(e)=>{ 
                $(e.target).contextMenu({x:e.pageX,y:e.pageY}); 
            });

            $.contextMenu({
                selector: '#FileAndDir tr.file',
                items: {
                    'Download': {
                        name: '@(Html.Raw( Localizer["Download"]))',
                        callback: (itemKey, opt, e)=> { 
                            window.location.href=`@(Url.Action("DownloadFunFile","FunYourFiles"))/`
                                +opt.$trigger.attr('item_id'); 
                        }    
                    },
                    "Rename": {
                        name: '@(Html.Raw(Localizer["Rename"]))',
                        callback:(itemKey, opt, e)=>{
                            window.location.href=`@(Url.Action("Edit","FunYourFiles"))/`
                                +opt.$trigger.attr('item_id');
                        },
                    },
                    "copy": {name: "Copy"},
                    "delete": {name: "Delete",  },
                    "sep1": "---------",
                    "quit": {name: "Quit",  }
                }
            });  
            
            $.contextMenu({
                selector: '#FileAndDir tr.dir',
                items: {
                    "Rename": {
                        name: '@(Html.Raw(Localizer["Rename"]))',
                        callback:(itemKey, opt, e)=>{
                            window.location.href=`@(Url.Action("Edit","FunDirs"))/`
                                +opt.$trigger.attr('item_id');
                        },
                    },
                    "cut": {name: "Cut",  },
                    "copy": {name: "Copy",  },
                    "paste": {name: "Paste",  },
                    "delete": {name: "Delete",  },
                    "sep1": "---------",
                    "quit": {name: "Quit", }
                },
            });
          
        }


    </script>
}

@section Styles
{

    <style>

        .DirectoryIsEmptyTip{
            width:100%;
            text-align:center;
            color:blue;
            font-size:200%;
        }

        .fun_file_download{
            color: red;
            text-decoration: underline;
            text-decoration-color: red;
        }

        .item_operation_button{
            cursor: pointer;
            transform: scale(1.5);
        }

        .ItemName{
            word-wrap: break-word;
            word-break: break-all;
        }


        .item_operation_button{
            border: none;
            background-color: transparent;
        }
        

    </style>
}