@model IEnumerable<POYA.Areas.FunFiles.Models.FunYourFile>

@{

}


@foreach (var item in Model) 
{
    <tr  item_id="@(item.Id)"  class="FileAndDirTr">
        <td>
            <a asp-action="Details" asp-route-Id='@(item.Id)' asp-controller="FunYourFiles">
                @(Html.DisplayFor(modelItem => item.Name))
                <span style="color: red;font-size: 70%">@(Localizer["file"])</span>
            </a>
        </td>
        <td>
            @(item.DOUploading.LocalDateTime)
        </td>
        <td class="OperationEle">
        </td>
    </tr>
}