@model IEnumerable<POYA.Areas.FunFiles.Models.FunDir>
@using POYA.Areas.FunFiles.Controllers;

@{
    ViewData["Title"] =Localizer[ "Folder"]+" & "+Localizer["Files"];
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    var ParentDirId=Guid.Parse(ViewData["ParentDirId"].ToString());
}

<h1>@(ViewData["Title"])</h1>

<p>
    <a class="btn btn-outline-info" asp-action="Create" asp-route-ParentDirId='@(ParentDirId)'>@(Localizer["New directory"])</a>
    <a class="btn btn-outline-info" asp-action="FunUploadFiles" asp-controller='FunYourFiles' asp-route-ParentDirId='@(ParentDirId)'>
        @(Localizer["Upload files"])
    </a>

    <nav aria-label="breadcrumb" class="PathBreadcrumb">
        <ol class="breadcrumb">
        </ol>
    </nav>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @(Html.DisplayNameFor(model => model.Name))
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.DOCreating))
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
            <tr>
                <td>
                    <a asp-action="Index" asp-route-ParentDirId='@(item.Id)'>
                        @(Html.DisplayFor(modelItem => item.Name))
                    </a>
                </td>
                <td>
                    @(Html.DisplayFor(modelItem => item.DOCreating))
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts
{
    <script>
        $(document).ready(()=>{
            $(`.PathBreadcrumb>ol`).load(`@(Url.Action(nameof(POYA.Areas.FunFiles.Controllers.FunDirsController.GetPathBreadcrumb),new{ParentDirId}))`);
        });
    </script>
}

@section Styles
{
    <style>
    </style>
}