@model IEnumerable<POYA.Areas.FunFiles.Models.FunDir>
@using POYA.Areas.FunFiles.Controllers;

@{
    ViewData["Title"] =Localizer[ "Folder"]+" & "+Localizer["Files"];
    Layout = "~/Views/Shared/_Layout.cshtml";

    var FunYourFiles=ViewData[nameof(FunYourFile)+"s"] as List<FunYourFile>;
        
    var FunYourFilesUnionFunDirs=Model
        .Select(
            p=>new{
                DOXXX=p.DOCreating, 
                Name=p.Name, 
                Id=p.Id, 
                Size=string.Empty,
                IsFile=false})
        .Union(
            FunYourFiles.Select(
                p=>new{
                    DOXXX=p.DOUploading, 
                    Name=p.Name, 
                    Id=p.Id, 
                    Size=p.FileSize,
                    IsFile=true,
                }
            )
        );
    
    var ParentDirId=Guid.Parse(ViewData["ParentDirId"].ToString());

    var FunDirPath=ViewData["FunDirPath"] as List<FunDir>;
}

<h1>@(ViewData["Title"])</h1>

<p>
    <a class="btn btn-outline-info" id="FunDirsCreate" >@(Localizer["New directory"])</a>
    <a class="btn btn-outline-info" asp-action="FunUploadFiles" asp-controller='FunYourFiles' asp-route-ParentDirId='@(ParentDirId)'>
        @(Localizer["Upload files"])
    </a>

    <nav aria-label="breadcrumb" class="PathBreadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
            </li> 
            @foreach (var item in FunDirPath)
            {
                <li class="breadcrumb-item">
                    <a href='@(Url.Action("Index",new{ParentDirId=item.Id}))'>@(item.Name)</a>
                </li> 
            } 
            <li class="breadcrumb-item">
            </li> 
        </ol>
    </nav>
</p>


@if(FunYourFilesUnionFunDirs.Count()>0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @(Html.DisplayNameFor(model => model.Name))
                </th>
                <th>@(Localizer["Size"])</th>
                <th>
                    @(Html.DisplayNameFor(model => model.DOCreating))
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="FileAndDir">
            @foreach (var item in FunYourFilesUnionFunDirs) 
            {
                <tr item_id="@(item.Id)" item_name="@(item.Name)" class='FileAndDirTr @(item.IsFile?"file":"dir")'>
                    <td class="ItemName">
                        @if(item.IsFile)
                        {
                            <a asp-action="Details" asp-controller="FunYourFiles" asp-route-Id='@(item.Id)'>
                                @(Html.DisplayFor(modelItem => item.Name))
                            </a>  
                            <a asp-action="DownloadFunFile" asp-controller="FunYourFiles" asp-route-Id="@(item.Id)" class="fun_file_download">
                                @(Html.Raw("\u2b07"))
                            </a>
                        }
                        else
                        {
                            <a asp-action="Index" asp-route-ParentDirId='@(item.Id)'>
                                @(Html.DisplayFor(modelItem => item.Name))
                            </a>  
                        }
                    </td>
                    <td>@(item.Size)</td>
                    <td>
                        @(item.DOXXX.LocalDateTime)
                    </td>
                    <td class="OperationEle" item_id='@(item.Id)' is_file='@(item.IsFile?"true":"false")'>
                        <div class="btn-group dropleft">
                            <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                ...
                            </button>
                            <div class="dropdown-menu">
                                @if(item.IsFile)
                                {
                                    <a class="dropdown-item download" >@(Localizer["Download"])</a>
                                    <div class="dropdown-divider"></div>
                                }
                                <a class="dropdown-item rename" >@(Localizer["Rename"])</a>
                                <a class="dropdown-item copy_to" >@(Localizer["Copy to"])</a>
                                <a class="dropdown-item move_to" >@(Localizer["Move to"])</a>
                                <a class="dropdown-item delete" >@(Localizer["Delete"])</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="DirectoryIsEmptyTip">
        @(Localizer["Directory is empty"])
        <span>
            <script>document.write('[T_T]');</script>
        </span>
    </div>
}

<div class="row">
    <div class="col offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-4 col-lg-4">
        <div  class="FunFilesPopup">

        </div>

    </div>
</div>


@section Scripts
{

    <script>

        var CurrentMovingId=``;
        var IsCopying=true;
        var get_item_id=(e)=>$(e.target).parents(`.OperationEle`).attr(`item_id`);

        $(document).ready(()=>{  
          
            $(document).on(`click`,`.download`, (e)=>{  DownloadFunFileClick(e);  });
            $(document).on(`click`,`.rename`,   (e)=>{  RenamingClick(e);  });
            $(document).on(`click`,`.copy_to`,  (e)=>{  CopyingClick(e);  });
            $(document).on(`click`,`.move_to`,  (e)=>{  MovingClick(e);  });
            $(document).on(`click`,`.delete`,   (e)=>{  DeletingClick(e);  });

            $(document).on(`click`,`#FunFilesPopupClose`,   (e)=>{  FunFilesPopupBlur(e);  });

            $(document).on(`click`,`.GetDirIndex`,  (e)=>{ GetDirIndexClick(e); });

            $(document).on(`click`,`.times_funfiles_popup_close`,   (e)=>{  FunFilesPopupBlur(e); });

            $(document).on(`click`,`.CopyOrMoveTo`,     (e)=>{ CopyOrMoveToClick(e); });

            $(document).on(`click`,`#FunDirsCreate`,    (e)=>{ FunDirsCreateClick(e)});

            $(document).on(`submit`,`#FunDir_Edit_Form`,        (e)=>{return FunDir_Edit_FormOnSubmit(e);});
            $(document).on(`submit`,`#FunYourFile_Edit_Form`,   (e)=>{return FunYourFile_Edit_FormOnSubmit(e);});
            
        });

        function FunDir_Edit_FormOnSubmit(e)
        {

            if(
                $(`.dir[item_id!='${$(e.target).attr(`item_id`)}'][item_name='${$(`.FunDir_Edit_Name`).val()}']`).length>0
            )
            {
                MakeLayoutAlert(`danger`,`@(Localizer["The name of directory is repeated"])`, 3000);
                return false;
            }
        }

        function FunYourFile_Edit_FormOnSubmit(e)
        {

            if(
                $(`.file[item_id!='${$(e.target).attr(`item_id`)}'][item_name='${$(`.FunYourFile_Edit_Name`).val()}']`).length>0
            )
            {
                MakeLayoutAlert(`danger`,`@(Localizer["The name of file is repeated"])`, 3000);
                return false;
            }
        }


        function DownloadFunFileClick(e){
            window.location.href=`@(Url.Action("DownloadFunFile","FunYourFiles"))/`+get_item_id(e); 
        }



        function DeletingClick(e)
        {
            var item_id=get_item_id(e);
            $(`.FunFilesPopup`).load(
                $(e.target).parents(`.OperationEle`).attr(`is_file`)==`true`?`@(Url.Action("Delete","FunYourFiles"))/${item_id}`: `@(Url.Action("Delete","FunDirs"))/${item_id}`); 
            $(`.FunFilesPopup`).show(); 
        }

        function CopyingClick( e)
        {
            IsCopying=true;
            CurrentMovingId=get_item_id(e);
            $(`.FunFilesPopup`).load(
                `@(Url.Action("DirIndex",new{ ParentDirId = ParentDirId}))`,
                ()=>{ ChangeCopyOrMoveToHtmlAndAttr(); }
            );
            $(`.FunFilesPopup`).show(); 
        }
        
        function MovingClick(e)
        {
            IsCopying=false;
            CurrentMovingId=get_item_id(e);
            $(`.FunFilesPopup`).load(
                `@(Url.Action("DirIndex",new{ ParentDirId = ParentDirId}))&CurrentMovingDirId=${CurrentMovingId}`,
                ()=>{ChangeCopyOrMoveToHtmlAndAttr(); }
            );

            $(`.FunFilesPopup`).show(); 
        }

        function RenamingClick(e){
            var _item_id=get_item_id(e);
            if($(e.target).parents(`.OperationEle`).attr(`is_file`)==`true`)
            {   
                $(`.FunFilesPopup`).load(`@(Url.Action("Edit","FunYourFiles"))/`  +_item_id);  
            }
            else
            {
                $(`.FunFilesPopup`).load(`@(Url.Action("Edit","FunDirs"))/`  +_item_id); 
            }
            $(`.FunFilesPopup`).show(); 
        } 


        /**
         * @@param {Event} e
         */
        function FunDirsCreateClick(e)
        {
            $(`.FunFilesPopup`).load(`@(Url.Action("Create","FunDirs", new{ ParentDirId }))`); 
            $(`.FunFilesPopup`).show(); 
        }

        /**
         *@@param {Event} e
         */ 
        function CopyOrMoveToClick(e)
        {
            var item_id=$(e.target).attr("item_id");
            if(IsCopying)
            {
                window.location.href=`@(Url.Action("CopyDirOrFile"))?ParentDirId=${item_id}&Id=`+CurrentMovingId;
            }
            else
            {
                window.location.href=`@(Url.Action("MoveDirOrFile"))?ParentDirId=${item_id}&Id=`+CurrentMovingId;
            }
        }


        /**
         *@@param {Event}e
         */
        function  GetDirIndexClick(e) 
        {
            $(`.FunFilesPopup`).load(
                `@(Url.Action("DirIndex"))?ParentDirId=`+$(e.target).attr(`item_id`),
                ()=>{ ChangeCopyOrMoveToHtmlAndAttr();  }
            );
        }

        function ChangeCopyOrMoveToHtmlAndAttr()
        {
             $(`.CopyOrMoveTo`).html(IsCopying? `@(Html.Raw("\ud83d\udd03"))`:`@(Html.Raw("\ud83d\udccc"))`); 
             $(`.CopyOrMoveTo`).attr("title",IsCopying?`@(Html.Raw(Localizer["Copy"]))`:`@(Html.Raw(Localizer["Move"]))`);
        }



        function FunFilesPopupBlur(e){
            $(`.FunFilesPopup`).hide(); 
            $(`.FunFilesPopup`).html(``); 
        }

    </script>
}

@section Styles
{

    <style>
        
        dd,dt{
            word-wrap: break-word;
            word-break: break-all;
        }

        .CopyOrMoveTo{
            cursor: pointer;
            margin-left: 8px;
        }
    
        .times_funfiles_popup_close{
            font-size: 300%;
            position: absolute;
            right: 5px;
            top: 19px;
            color: violet;
        }

        .times_funfiles_popup_close:hover{
            color: red;
            transform: scale(1.1);
        }


        .MoveTo{
            color: red;
        }

        .GetDirIndex{
            color: blue;
        }
        .MoveTo,.GetDirIndex{
            cursor: pointer;
            padding: 1px;
            border-radius: 2px;
        }
        .MoveTo:hover,.GetDirIndex:hover{
            box-shadow: 1px 1px 2px palevioletred;
        }

        .FunFilesPopup{
            display: none;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            background-color: white;
            width: max-content;
            height:min-content;
            border-radius: 8px;
            border-color: red;
            border: solid;
            border-color: violet;
            box-shadow: 2px 2px 20px violet;
            text-align:center;
            padding:10px;
        }


        .DirectoryIsEmptyTip{
            width:100%;
            text-align:center;
            color:blue;
            font-size:200%;
        }

        .fun_file_download{
            color: red;
            zoom: 1.2;
            margin-left: 8px;
            text-decoration: underline;
            text-decoration-color: red;
        }

        .item_operation_button{
            cursor: pointer;
            transform: scale(1.5);
        }

        .ItemName{
            word-wrap: break-word;
            word-break: break-all;
        }


        .item_operation_button{
            border: none;
            background-color: transparent;
        }
        

    </style>
}
