@model IEnumerable<POYA.Areas.FunFiles.Models.FunDir>
@using POYA.Areas.FunFiles.Controllers;

@{
    ViewData["Title"] =Localizer[ "Folder"]+" & "+Localizer["Files"];
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    var ParentDirId=Guid.Parse(ViewData["ParentDirId"].ToString());
}

<h1>@(ViewData["Title"])</h1>

<p>
    <a class="btn btn-outline-info" asp-action="Create" asp-route-ParentDirId='@(ParentDirId)'>@(Localizer["New directory"])</a>
    <a class="btn btn-outline-info" asp-action="FunUploadFiles" asp-controller='FunYourFiles' asp-route-ParentDirId='@(ParentDirId)'>
        @(Localizer["Upload files"])
    </a>

    <nav aria-label="breadcrumb" class="PathBreadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                / <a href='@(Url.Action("Index",new{ParentDirId=new FunFilesHelper().RootDirId}))'>@(Localizer["root"])</a>
            </li>
        </ol>
    </nav>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @(Html.DisplayNameFor(model => model.Name))
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.DOCreating))
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="FileAndDir">
        @foreach (var item in Model) 
        {
            <tr>
                <td class="ItemName">
                    <a asp-action="Index" asp-route-ParentDirId='@(item.Id)'>
                        @(Html.DisplayFor(modelItem => item.Name))
                    </a>
                </td>
                <td>
                    @(item.DOCreating.LocalDateTime)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script>
        $(document).ready(()=>{
            $.get(`@(Url.Action("GetPathBreadcrumb",new{ParentDirId}))`,(data)=>{$(`.PathBreadcrumb>ol`).append(data)});
            $.get(`@(Url.Action("IndexFunYourFiles",new{ParentDirId}))`,(data)=>{$(`#FileAndDir`).append(data)});
        });
    </script>
}

@section Styles
{
    <style>
        .ItemName{
            width: 20%;
            word-wrap: break-word;
            word-break: break-all;
        }
    </style>
}