@model IEnumerable<POYA.Areas.FunFiles.Models.FunDir>
@using POYA.Areas.FunFiles.Controllers;

@{
    ViewData["Title"] =Localizer[ "Folder"]+" & "+Localizer["Files"];
    Layout = "~/Views/Shared/_Layout.cshtml";

    var FunYourFiles=ViewData[nameof(FunYourFile)+"s"] as List<FunYourFile>;
        
    var FunYourFilesUnionFunDirs=Model
        .Select(
            p=>new{
                DOXXX=p.DOCreating, 
                Name=p.Name, 
                Id=p.Id, 
                Size=string.Empty,
                IsFile=false})
        .Union(
            FunYourFiles.Select(
                p=>new{
                    DOXXX=p.DOUploading, 
                    Name=p.Name, 
                    Id=p.Id, 
                    Size=p.FileSize,
                    IsFile=true,
                }
            )
        );
    
    var ParentDirId=Guid.Parse(ViewData["ParentDirId"].ToString());

    var FunDIrPath=ViewData["FunDIrPath"] as List<FunDir>;
}

<h1>@(ViewData["Title"])</h1>

<p>
    <a class="btn btn-outline-info" asp-action="Create" asp-route-ParentDirId='@(ParentDirId)'>@(Localizer["New directory"])</a>
    <a class="btn btn-outline-info" asp-action="FunUploadFiles" asp-controller='FunYourFiles' asp-route-ParentDirId='@(ParentDirId)'>
        @(Localizer["Upload files"])
    </a>

    <nav aria-label="breadcrumb" class="PathBreadcrumb">
        <ol class="breadcrumb">/ &nbsp;
            @foreach (var item in FunDIrPath)
            {
                <li class="breadcrumb-item">
                    <a href='@(Url.Action("Index",new{ParentDirId=item.Id}))'>@(item.Name)</a>
                </li> 
            }
        </ol>
    </nav>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @(Html.DisplayNameFor(model => model.Name))
            </th>
            <th>
                @(Localizer["Size"])
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.DOCreating))
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="FileAndDir">
        @foreach (var item in FunYourFilesUnionFunDirs) 
        {
            <tr item_id="@(item.Id)" class='FileAndDirTr @(item.IsFile?"file":"dir")'>
                <td class="ItemName">
                    <a asp-action="Index" asp-route-ParentDirId='@(item.Id)'>
                        @(Html.DisplayFor(modelItem => item.Name))
                      
                    </a>  
                    @if(item.IsFile)
                    {
                        <a asp-action="DownloadFunFile" asp-controller="FunYourFiles" asp-route-Id="@(item.Id)" class="fun_file_download">
                            <script>document.write('\u2b07');</script>
                        </a>
                    }
                </td>
                <td>
                    @(item.Size)
                </td>
                <td>
                    @(item.DOXXX.LocalDateTime)
                </td>
                <td class="OperationEle">
                    <button id="item_operation_button_@(item.Id)"  item_id='@(item.Id)' class='item_operation_button'>
                        ...
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{

    <script>

        $(document).ready(()=>{  
          
            ItemOperationButton_ContextMenu();

        });

        function ItemOperationButton_ContextMenu(){  

            $(document).on(`click`,`.item_operation_button`,(e)=>{ 
                $(e.target).contextMenu({x:e.pageX,y:e.pageY}); 
            });

            $.contextMenu({
                selector: '#FileAndDir tr.file',
                items: {
                    'Download': {
                        name: '@(Localizer["Download"])',
                        callback: (itemKey, opt, e)=> { 
                            window.location.href=`@(Url.Action("DownloadFunFile","FunYourFiles"))/`
                                +opt.$trigger.attr('item_id'); 
                        }    
                    },
                    "Rename": {
                        name: '@(Localizer["Rename"])',
                        callback:(itemKey, opt, e)=>{
                            window.location.href=`@(Url.Action("Edit","FunYourFiles"))/`
                                +opt.$trigger.attr('item_id');
                        },
                    },
                    "copy": {name: "Copy"},
                    "delete": {name: "Delete",  },
                    "sep1": "---------",
                    "quit": {name: "Quit",  }
                }
            });  
            
            $.contextMenu({
                selector: '#FileAndDir tr.dir',
                items: {
                    "Rename": {
                        name: '@(Localizer["Rename"])',
                        callback:(itemKey, opt, e)=>{
                            window.location.href=`@(Url.Action("Edit","FunDirs"))/`
                                +opt.$trigger.attr('item_id');
                        },
                    },
                    "cut": {name: "Cut",  },
                    "copy": {name: "Copy",  },
                    "paste": {name: "Paste",  },
                    "delete": {name: "Delete",  },
                    "sep1": "---------",
                    "quit": {name: "Quit", }
                },
            });
          
        }


    </script>
}

@section Styles
{

    <style>

        .fun_file_download{
            color: red;
            text-decoration: underline;
            text-decoration-color: red;
        }

        .item_operation_button{
            cursor: pointer;
            transform: scale(1.5);
        }
        .ItemName{
            width: 20%;
            word-wrap: break-word;
            word-break: break-all;
        }

        .item_operation_card{
            display: none;
            position: absolute;
            text-align: center;
            color: blue;
            border-color: chocolate;
            font-size: 18px;
            z-index: 99;
            width: auto;
            height: auto;
            border-radius: 8px;
        }

        .item_operation_card div{
            border-radius: 6px;
            cursor: pointer;
            padding: 4px;
        }
        .item_operation_card div:hover{
            background-color: rgba(238,73,151,0.5);
            transform: scale(1.08);
        }

        .item_operation_button,.item_operation_button:hover{
            border: none;
            background-color: transparent;
        }
        

    </style>
}