@model POYA.Models.X_doveDirectory

@{
    ViewData["Title"] =Localizer[ "Create"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Localizer[ "Create directory"]</h1>
 <h5>@Localizer["for"] @ViewData["DirName"]</h5>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <a href="javascript:history.go(-1);" class="btn btn-outline-info"><< @Localizer["Back"]</a>
                <input type="submit" value="@Localizer[ "Create"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
 

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
