@model POYA.Models.X_doveDirectory

@{
    ViewData["Title"] =Localizer[ "Details"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Localizer["Details"]</h1>

<div> 
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InDirId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InDirId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOCreate)
        </dt>
        <dd class="col-sm-10">
            @(Model.DOCreate.LocalDateTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-info"><< @Localizer[ "Back"]</a>
    <a asp-action="Edit" asp-route-id="@Model.Id">@Localizer["Edit"]</a> 
</div>
