@model IEnumerable<POYA.Models.X_doveDirectory>

@{
    ViewData["Title"] =Localizer[ "Index"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Localizer["Your directory"]</h1>

<p>
    <a asp-action="Create">@Localizer[ "Create New"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InDirId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOCreate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InDirId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DOCreate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">@Localizer[ "Edit"]</a> |
                <a asp-action="Details" asp-route-id="@item.Id">@Localizer[ "Details"]</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">@Localizer[ "Delete"]</a>
            </td>
        </tr>
}
    </tbody>
</table>
