@model POYA.Areas.FunAdmin.Models.FContentCheck

@{
    ViewData["Title"] =Localizer["Report"];
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _IsAdmin=Convert.ToBoolean(ViewData["IsAdmin"]);
}

<h1>@(ViewData["Title"])</h1>

<hr />
<div class="row">
    <div class="col-md-7 offset-md-1 LContentEle">
        <div id="LContentTitle"></div>
        <div id="LContent"></div>
    </div>
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ContentId" hidden/>
            @if(_IsAdmin)
            {
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsLegal" /> 
                        @(Html.DisplayNameFor(model => model.IsLegal))
                    </label>
                </div>
                <div class="form-group">
                    <label class="control-label">Comment</label>
                    <textarea asp-for="ReceptionistComment" class="form-control" ></textarea>
                    <span asp-validation-for="ReceptionistComment" class="text-danger"></span>
                </div>
            }else
            {
                <div class="form-group">
                    <label class="control-label">Comment</label>
                    <textarea asp-for="AppellantComment" class="form-control" placeholder='@(Localizer["Type some comments"]). . .'></textarea>
                    <span asp-validation-for="AppellantComment" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="IllegalityType" class="control-label"></label>
                <select asp-for="IllegalityType"  asp-items="@(Model.IllegalityTypeSelectListItems)" asp- class="form-control" ></select>
            </div>
            <div class="form-group">
                <a class="btn btn-outline-info" id="BackEle">&laquo; @(Localizer["Back"])</a>
                <input type="submit" value='@(_IsAdmin?Localizer["Mark"]:Localizer["Report"])' class="btn btn-outline-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(()=>{
            IllegalityTypeChangedListener();
            $(`#@(_IsAdmin?"ReceptionistComment":"AppellantComment")`).attr("placeholder",'@(Localizer["Type some comments"]). . .');
            $(`#LContent`).load(`@(Url.Action("GetContent","FContentChecks",new{ContentId=Model.ContentId,area="FunAdmin"}))`);
            $(`#LContentTitle`).load(`@(Url.Action("GetContentTitle","FContentChecks",new{ContentId=Model.ContentId,area="FunAdmin"}))`);
        });

        function IllegalityTypeChangedListener(){
            $(`#IllegalityType`).change(()=>{
                if($(`#IllegalityType`).val()==`110`){
                    $(`#@(_IsAdmin?"ReceptionistComment":"AppellantComment")`).attr("placeholder",'@(Localizer["Type some comments like:"]) (@(Localizer["reason"])) >  (@(Localizer["description"])) . . .');
                }else{
                    $(`#@(_IsAdmin?"ReceptionistComment":"AppellantComment")`).attr("placeholder",'@(Localizer["Type some comments"]). . .');
                }
            });
        }
    </script>
}

@section Styles{
    <style>

        .LContentEle{
            word-wrap: break-word;
        }

        #LContent,#LContentTitle{
            width: 100%;
            cursor:default;
        }

        #LContentTitle{
            font-size: 150%;
            color:blue;
            text-align:center;
        }

        .form-check-label{
            cursor: pointer;
        }
    </style>
}