@model POYA.Areas.FunAdmin.Models.FContentCheck

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>FContentCheck</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppellantId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppellantId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceptionistId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceptionistId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOSubmitting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOSubmitting)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOHandling)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOHandling)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppellantContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppellantContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceptionistContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceptionistContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsLegal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsLegal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContentTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContentTitle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
