@model IEnumerable<POYA.Areas.FunAdmin.Models.FContentCheck>
@using POYA.Areas.FunAdmin.Controllers;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _IsAdmin=Convert.ToBoolean(ViewData["IsAdmin"]);
}

<table class="table">
    <thead>
        <tr>
            <th>
                @(Html.DisplayNameFor(model => model.ContentId))
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.AppellantId))
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.ReceptionistId))
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.DOSubmitting))
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.DOHandling))
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.AppellantComment))
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.ReceptionistComment))
            </th>
            <th>
                @(Html.DisplayNameFor(model => model.IsLegal))
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) 
    {
        <tr>
            <td class="ContentTitle" content_id='@(item.ContentId)'>
            </td>
            <td class="AppellantName" user_id='@(item.AppellantId)'>
            </td>
            <td class="ReceptionistName" user_id='@(item.ReceptionistId)'>
            </td>
            <td>
                @(item.DOSubmitting?.LocalDateTime)
            </td>
            <td>
                @(item.DOHandling?.LocalDateTime)
            </td>
            <td>
                @((item.AppellantComment?.Length>0)?item.AppellantComment:"N/A")
            </td>
            <td>
                @((item.ReceptionistComment?.Length>0)?item.ReceptionistComment:"N/A")
            </td>
            <td>
                @(Html.DisplayFor(modelItem => item.IsLegal))
            </td>
            <td>
                @if((item.ReceptionistId?.Length??0)<1 || _IsAdmin)
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>   
                }
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>     
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@section Scripts{
    <script>
        $(document).ready(()=>{
            GetUserName();
            GetContentTitle();
           
        });

        function GetContentTitle(){
            $(`.ContentTitle`).each((index,elem)=>{
                var _ContentId=$(elem).attr(`content_id`);
                $(elem).load(`@(Url.Action(nameof(FContentChecksController.GetContentTitle),"FContentChecks",new{area="FunAdmin"}))?ContentId=${_ContentId}`);
            });
        }

        function GetUserName(){
             $(`.AppellantName,.ReceptionistName`).each((index,elem)=>{
                var _UserId=$(elem).attr(`user_id`);
                if(_UserId==undefined||_UserId.length<1){
                    $(elem).text($(elem).hasClass(`ReceptionistName`)?`@(Localizer["Wait"]) . . .`:"N/A");
                    return;
                }
                $(elem).load(`@(Url.Action(nameof(FContentChecksController.GetUserName),"FContentChecks",new{area="FunAdmin"}))?UserId=${_UserId}`);
            });
        }
    </script>
}

@section Styles{
    <style>
        .ContentTitle{
            width: 10%;
            word-wrap: break-word;
            word-break: break-all;
        }
        .AppellantName,.ReceptionistName{
            width: 8%;
            word-wrap: break-word;
            word-break: break-all;
        }
    </style>
}