@model POYA.Areas.WeEduHub.Models.WeArticle

@{
    ViewData["Title"] = "Details";
    Layout = "";
    var AuthorUserId=ViewData["AuthorUserId"]?.ToString()??string.Empty;
    var AuthorUserEmail=ViewData["AuthorUserEmail"]?.ToString()??string.Empty;
    var _WeArticleFileContentType=ViewData["WeArticleFileContentType"]?.ToString()??string.Empty;
    var GetWeArticleFileUrl=Url.Action("GetWeArticleFile","WeArticle",new{Id=Model.WeArticleContentFileId,area="WeEduHub"});
}

<span class="wearticle_class_and_">
    @(Localizer[ Model.FirstClassName]) > @(Localizer[Model.SecondClassName]) > @(Model.CustomClass) | @(new string('\u269D',Model.Complex))
</span>

<hr/>

<div class="wearticle_content">
    @if(_WeArticleFileContentType.EndsWith("/pdf"))
    {
        <object 
            id="selected_file_content" 
            data='@GetWeArticleFileUrl' 
            type='@_WeArticleFileContentType'>
        </object>  
    }
    else if(_WeArticleFileContentType.StartsWith("video/"))
    {
        <video 
            id="selected_file_content" 
            src='@GetWeArticleFileUrl' 
            type='@_WeArticleFileContentType' 
            width="100%"
            controls >
        </video> 
    }
    <hr/>
    <div>@(Model.Comment)</div>
</div>


@section Scripts
{
    <script>
        $(document).ready(()=>{
            
        });
    </script>
}

@section Styles
{
    <style>
        
        .wearticle_content{
            width: 100%;
        }

        .wearticle_content object{
            border-radius: 5px;
            width: 100%;
            height: 100%;
        }
        
        .wearticle_class_and_{
            font-size: 80%;
        }
    </style>
}