@model IEnumerable<POYA.Areas.DeveloperZone.Models.XDeveloper>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = Localizer["DeveloperZone"];
}

<div class="row Donate8Story">
    <div class="col col-auto"><a asp-action="Donate" asp-controller="Home">@(Localizer["Donate"])</a></div>|
    <div class="col col-auto"><a>@(Localizer["The story of the developers"])</a> </div>
</div>
<hr />



<div class="row text-center">
    @foreach (var i in Model)
    {
        <div class="col col-4 col-sm-4 col-md-3 col-lg-2">
            <img src="@(Url.Action("GetAvatar","Home",new {id=i.UserId }))" class="rounded-circle DeveloperAvatar" />
        </div>
    }

    <div class="col col-4 col-sm-4 col-md-3 col-lg-2">
        <img src="~/img/add0.webp" class="rounded-circle DeveloperAvatar" id="add_developer" title="@Localizer["Become a developer"]"/>
    </div>

</div>

@section Scripts{ 
<script>
    $(document).on("click", "#add_developer", function () {
        location.href = "@Url.Action("Create","XDevelopers", new { area="DeveloperZone"})";
    });
</script>
}

@section Styles{
    <style type="text/css">
        .Donate8Story {
            font-size: 200%;
        }

        .DeveloperAvatar {
            height: 60px;
            width: 60px;
            position: absolute;
            box-shadow: 0px 0px 0px 0.5px #ff6a00;
            zoom:100%;
        }

            .DeveloperAvatar:hover {
                animation: DeveloperAvatarZoomIn 0.2s linear 1 forwards;
            }

     
        @@keyframes DeveloperAvatarZoomIn {

            100% {
                box-shadow: 0px 0px 0px 8px #ff00dc;
            }
        }
    </style>
}

@*
    <div class="row" style="margin-top:2%">
        <div class="col offset-1 col-2">
            <img src="~/img/wechat_pay.webp" class="PayImg" title='@Localizer["Thank you very much"] !' />
        </div>
        <div class="col offset-3 col-3">
            <img src="~/img/alipay_pay.webp" class="PayImg" title='@Localizer["Thank you very much"] !' />
        </div>
    </div>




        <h1>Index</h1>

        <p>
            <a asp-action="Create">Create New</a>
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HomeCoverImgMD5)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DOJoining)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HomeCoverImgMD5)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DOJoining)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
*@