@model POYA.Areas.XAd.Models.XAdCustomer
@using POYA.Areas.XAd.Controllers;
@using Newtonsoft.Json;
@using POYA.Areas.XAd.Models;

@{
    ViewData["Title"] = Localizer["Become our advertiser"];
    Layout = "~/Views/Shared/_Layout.cshtml";
    var RandomFormId = Guid.NewGuid();
    var IsEdit=Convert.ToBoolean( ViewData["IsEdit"]??false);
    var _XAdCustomerLicenses = IsEdit? (ViewData["XAdCustomerLicenses"] as List<XAdCustomerLicense>):null;
}


<h4>@(ViewData["Title"])</h4>

<hr />
<div class="row">
    <div class="col-12">
        <form asp-action='@(IsEdit?"Edit":"Create")' id="@RandomFormId" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group col col-5">
                <label asp-for="StoreIconFile" class="control-label"></label><sup class="Upload-Tip">@(Localizer["Click image to select store icon"])</sup>
                <div class="col col-12 text-center">
                    <span class="Default-Icon-Tip">
                        @(Localizer["The default image is disabled"])
                    </span>
                    <img id="_StoreIconFile_Img_" src="~/img/earticle_home_default_img.webp" 
                         title='@Localizer["Click to select store icon"]' />
                </div>
                <input asp-for="StoreIconFile" hidden accept="image/*"/>
                <span asp-validation-for="Name" class="text-danger"></span>
                <span id="StoreIconFileValidation" class="text-danger"></span>
            </div>

            <div class="form-group col col-5">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" autocomplete="off" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group col col-5">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" autocomplete="off" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group col col-5">
                <label asp-for="Intro" class="control-label"></label>
                <textarea asp-for="Intro" class="form-control" autocomplete="off"></textarea>
                <span asp-validation-for="Intro" class="text-danger"></span>
            </div>


            <div class="form-group col col-12">
                <label asp-for="LicenseImgFiles" class="control-label"></label><sup class="Upload-Tip Image-Count-Tip">@(Localizer["Image count"]) => 3~5</sup>
                <div id="LicenseImgFileEle" class="row">
                </div>
                <span asp-validation-for="LicenseImgFiles" class="text-danger"></span><br />
                <a id="SelectLicenseImgFileEle" class="btn btn-outline-info">
                    @(Localizer["Select license image files"]) &#128449;
                </a>
                <div id="LicenseImgFilevalidation"></div>
            </div>

            <div class="form-group">
                <a id="BackEle" class="btn btn-outline-info">&laquo; @(Localizer["Back"])</a>
                <a id="XAdCustomerRegisterEle" class="btn btn-outline-success">@(IsEdit?Localizer["Save"]: Localizer["Register"])</a>
                <span id="Common-Tip"></span>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var _IsEdit= Boolean(`@(IsEdit?"1":"")`);
        var _DefaultStoreIconUrl="~/img/earticle_home_default_img.webp";
        var _EditLicenseImgUrlPrefix=`@(Url.Action(nameof( XAdCustomersController.GetXAdCustomerFilesAsync)))`;
        var SizeOfFileHint = (xMByte) => `@(Localizer["The size of file should be not more than"]) ${xMByte}M`;
        var ClickToDelete = `@(Localizer["Click to delete"])`;
        var _RandomFormId = `@(RandomFormId)`;
        var _DefaultImageIsDisabled = `@Localizer["The default image is disabled"]`;
        var LicenseImgPrefix = "LicenseImg_";
        var LicenseImgFileInput = (id) => `<input id='${id}' type='file' name='LicenseImgFiles' form='${_RandomFormId}' class='XLicenseImgFiles' accept='image/*' hidden/>`;
        var LicenseImgTag = (_LicenseImgFileInputId) => `<img id='${LicenseImgPrefix + _LicenseImgFileInputId}' class='XLicenseImg col col-auto' title='${ClickToDelete}'/>`;
        var WillBeDeletedLicenseImgIds=new Array(); 
        var EditLicenseImgFileIds= 
                $.parseJSON(`@(Html.Raw(IsEdit?JsonConvert.SerializeObject(_XAdCustomerLicenses.Select(p=>new{Id=p.Id,MD5=p.ImgFileMD5}).ToArray()):"[]"))`);
        var WillBeDeleteTitle=`@(Html.Raw( Localizer["It will be deleted when you save, cancel by clicking again"]))`;
        var WIllBeDeletedIdInput=(_value)=>`<input name='WillBeDeletedLicenseImgIds' class='WillBeDeletedLicenseImgIds' value='${_value}' form='${_RandomFormId}' hidden />`;

        $(document).ready(function () {
            EditReady();
            setTimeout(function () {
                $(".Default-Icon-Tip").hide();
            },4000);
        });

        $(document).on(`click`, `#XAdCustomerRegisterEle`, function () {
            
            if($(`#_StoreIconFile_Img_`).attr(`src`)==_DefaultStoreIconUrl){
                $(`#Common-Tip`).html(_DefaultImageIsDisabled);
                $(`#Common-Tip`).css(`animation`, `CommonTipAnimation 0.5s 3 linear`);
                $(`#_StoreIconFile_Img_`).css(`animation`, `StoreIconFileImgAnimation 0.2s  linear infinite alternate`);
                setTimeout(function () {
                    $(`#Common-Tip`).html(_DefaultImageIsDisabled + ` &#9757;`);
                    $(`#_StoreIconFile_Img_`).css(`animation`, ``);
                }, 1500);

                setTimeout(function () {
                    $(`#Common-Tip`).html('');
                    $(`#Common-Tip,#_StoreIconFile_Img_`).css(`animation`, ``);
                }, 3000);
                return;
            }
            $(`input[name='LicenseImgFiles']`).each(function (index, element) {
                if ($(element).val().length < 1) $(element).remove();
            });
            if (!IsFileCountValid()) return;
         
            $(`#${_RandomFormId}`).submit();
        });

        $(document).on("click", "#SelectLicenseImgFileEle", function () {

            if (!IsFileCountValid(true)) return;

            if ($(`#LicenseImgFileEle input:last`).val()!="") {
                var _id = NewGuid();
                $(`#LicenseImgFileEle`).append(LicenseImgFileInput(_id));
                $(`#${_id}`).click();
            } else {
                $(`#LicenseImgFileEle input:last`).click();System.Reflection.AssemblyCopyrightAttribute
            }
            event.preventDefault();
        });
        $(document).on("change", ".XLicenseImgFiles", function () {
            var LicenseImgFileInputId = $(this).attr("id");
            var _File = document.getElementById(LicenseImgFileInputId).files[0];
            if (_File.size > 2*1024 * 1024) {
                $("#LicenseImgFilevalidation").html(SizeOfFileHint(2));

                $(`#${LicenseImgFileInputId}`).remove();

                setTimeout(function () {
                    $("#LicenseImgFilevalidation").hide();
                }, 2500);
                return;
            }
            $(`#${LicenseImgFileInputId}`).after(LicenseImgTag(LicenseImgFileInputId));
            var reader = new FileReader();
            reader.readAsDataURL(_File);
            reader.onload = function (e) {
                $(`#${LicenseImgPrefix + LicenseImgFileInputId}`).get(0).src = e.target.result;
            }
        });

        $(document).on('click', "#LicenseImgFileEle img", function () {
            var _this=$(this);
            var ImgSrc=_this.attr("src").toString();
            var ImgId = $(this).attr("id");
            var InputId = ImgId.split("_")[1];
            if(ImgSrc.startsWith(_EditLicenseImgUrlPrefix)){
                if(_this.is(`.WillBeDeletedIndicator`)){
                    _this.removeClass('WillBeDeletedIndicator');
                    $(`.WillBeDeletedLicenseImgIds[value=${InputId}]`).remove();
                    ttr(`title`,ClickToDelete);
                }else{
                    _this.addClass("WillBeDeletedIndicator");
                    _this.attr(`title`,WillBeDeleteTitle);

                    $(`#${_RandomFormId}`).append(WIllBeDeletedIdInput(InputId));
                }
            }else{
                $(`#${ImgId}`).css("animation", "LicenseImgFileEleDelete 0.45s forwards linear");
                setTimeout(function () {
                    $(`#${ImgId},#${InputId}`).remove();
                },450);
            }
        });

        $(document).on("click", "#_StoreIconFile_Img_", function () {
            $("#StoreIconFile").click();
        });

        $(document).on("change", `#StoreIconFile`, function () {

            var StoreIconFileInputId = $(this).attr("id");
            var _File_ = document.getElementById(StoreIconFileInputId).files[0];
            if (_File_.size > 2048 * 1024) {
                $("#StoreIconFileValidation").text(SizeOfFileHint(2));
                setTimeout(function () {
                    $("#StoreIconFileValidation").text("");
                }, 2500);
                return;
            }

            var _reader = new FileReader();
            _reader.readAsDataURL(_File_);
            _reader.onload = function (e) {
                $(`#_StoreIconFile_Img_`).get(0).src = e.target.result;
            }
        });

        function IsFileCountValid(IsSelectEleClick = false) {
            var _FileCount = $(`.XLicenseImg:not(.WillBeDeletedIndicator)`).length;
            if (IsSelectEleClick && _FileCount < 3) return true;
            if (_FileCount >4 ||  _FileCount < 3) {
                $(`.Image-Count-Tip`).css(`animation`, `GlintBackgroundColor 0.5s 2 linear`);
                setTimeout(function () {
                    $(`.Image-Count-Tip`).css(`animation`, ``);
                }, 1000);
                return false
            }
            return true;
        }

        function EditReady(){
            if (!_IsEdit) return;
            $(`#_StoreIconFile_Img_`).attr(`src`,`${_EditLicenseImgUrlPrefix}?MD5=@(Model?.StoreIconMD5)`);
            EditLicenseImgFileIds.forEach((value,index,array)=>{
                $(`#LicenseImgFileEle`).append(LicenseImgTag(value["Id"]));
                var _EditImgTag=$(`#${LicenseImgPrefix}${value["Id"]}`);
                _EditImgTag.attr(`src`,`${_EditLicenseImgUrlPrefix}?MD5=${value["MD5"]}`);
            });
        }
    </script>
}



@section Styles{
    <style>
        .WillBeDeletedIndicator{
            opacity: 0.5;
            background-color: rgba(255, 0, 0, 0.5);
        }
        .Default-Icon-Tip{
            position:fixed;
            z-index:999;
            font-size: 80%;
            color:honeydew;
            border: dotted;
            border-color:aliceblue;
            border-radius: 5px;
        }
        .Upload-Tip {
            font-size: 80%;
            color: blue;
            border: dotted;
            border-color: coral;
            border-radius: 5px;
        }

        #_StoreIconFile_Img_ {
            max-height: 90%;
            max-width: 100%;
            object-fit: cover;
        }

            #_StoreIconFile_Img_:hover {
                animation: StoreIconFileImgAnimation 0.2s linear forwards;
            }

        #SelectLicenseImgFileEle {
            margin-top: 8px;
            transform: scale(1.2);
        }

        .XLicenseImg {
            animation: XLicenseImgAnimation 0.2s forwards linear;
            max-width: 80%;
            max-height: 200px;
            margin-top: 8px;
        }

    

        #DeleteLicenseImgFile {
            position: absolute;
            z-index: 999;
            color: red;
            transform: scale(4);
        }   
    </style>
}