@model POYA.Areas.XAd.Models.XAdCustomer

@{
    ViewData["Title"] = Localizer["Become our advertiser"];
    Layout = "~/Views/Shared/_Layout.cshtml";
    var RandomFormId = Guid.NewGuid();
}


<h4>@ViewData["Title"]</h4>

<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Create" id="@RandomFormId" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group col col-5">
                <label asp-for="StoreIconFile" class="control-label"></label>
                <div class="col col-12">
                    <img id="_StoreIconFile_Img_" src="@(Url.Action("GetLAppContent","Home",new {ContentNmae= "img/earticle_home_default_img.webp"}))" class="rounded-circle" />
                </div>
                <input asp-for="StoreIconFile" hidden />
                <span asp-validation-for="Name" class="text-danger"></span>
                <span id="StoreIconFileValidation" class="text-danger"></span>
            </div>

            <div class="form-group col col-5">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" autocomplete="off" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group col col-5">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" autocomplete="off" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group col col-12">
                <label asp-for="LicenseImgFiles" class="control-label"></label>
                <div id="LicenseImgFileEle" class="row">
                </div>
                <a id="SelectLicenseImgFileEle" class="btn btn-outline-info">@Localizer["Select license image files"]</a>
                <div id="LicenseImgFilevalidation"></div>
            </div>

            <div class="form-group">
                <a id="BackEle" class="btn btn-outline-info">&laquo; @Localizer["Back"]</a>
                <input type="submit" value="@Localizer["Register"]" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var SizeOfFileHint = (xMByte) => `@(Localizer["The size of file should be not more than"]) ${xMByte}M`;
        var ClickToDelete = `@(Localizer["Click to delete"])`;
        var _RandomFormId = `@(RandomFormId)`;
        var LicenseImgPrefix = "LicenseImg_";
        var LicenseImgFileInput = (id) => `<input id='${id}' type='file' name='LicenseImgFiles' form='${_RandomFormId}' class='XLicenseImgFiles' accept='image/*' hidden/>`;
        var LicenseImg = (_LicenseImgFileInputId) => `<img id='${LicenseImgPrefix + _LicenseImgFileInputId}' class='XLicenseImg col col-auto' title='${ClickToDelete}'/>`;
        $(document).on("click", "#SelectLicenseImgFileEle", function () {
            if ($(`#LicenseImgFileEle input:last`).val()!="") {
                var _id = NewGuid();
                $(`#LicenseImgFileEle`).append(LicenseImgFileInput(_id));
                $(`#${_id}`).click();
            } else {
                $(`#LicenseImgFileEle input:last`).click();
            }
            event.preventDefault();
        });
        $(document).on("change", ".XLicenseImgFiles", function () {
            var LicenseImgFileInputId = $(this).attr("id");
            var _File = document.getElementById(LicenseImgFileInputId).files[0];
            if (_File.size > 2048 * 1024) {
                $("#LicenseImgFilevalidation").html(SizeOfFileHint(2));
                
                $(`#${LicenseImgFileInputId}`).remove();

                setTimeout(function () {
                    $("#LicenseImgFilevalidation").hide();
                }, 2500);
                return;
            }
            $(`#${LicenseImgFileInputId}`).after(LicenseImg(LicenseImgFileInputId));
            var reader = new FileReader();
            reader.readAsDataURL(_File);
            reader.onload = function (e) {
                $(`#${LicenseImgPrefix + LicenseImgFileInputId}`).get(0).src = e.target.result;
            }
        });

        $(document).on('click', "#LicenseImgFileEle img", function () {
            var ImgId = $(this).attr("id");
            var InputId = ImgId.split("_")[1];
            $(`#${ImgId}`).css("animation", "LicenseImgFileEleDelete 0.45s forwards linear");
            setTimeout(function () {
                $(`#${ImgId},#${InputId}`).remove();
            },450);
        });

        $(document).on("click", "#_StoreIconFile_Img_", function () {
            $("#StoreIconFile").click();
        });

        $(document).on("change", `#StoreIconFile`, function () {

            var StoreIconFileInputId = $(this).attr("id");
            var _File_ = document.getElementById(StoreIconFileInputId).files[0];
            if (_File_.size > 2048 * 1024) {
                $("#StoreIconFileValidation").text(SizeOfFileHint(2));
                setTimeout(function () {
                    $("#StoreIconFileValidation").text("");
                }, 2500);
                return;
            }
            var _reader = new FileReader();
            _reader.readAsDataURL(_File_);
            _reader.onload = function (e) {
                $(`#_StoreIconFile_Img_`).get(0).src = e.target.result;
            }
        });
    </script>
}



@section Styles{
    <style>
        #_StoreIconFile_Img_ {
            height: 100px;
            width: 100px;
            object-fit: cover;
        }

            #_StoreIconFile_Img_:hover {
                animation: StoreIconFileImgAnimation 0.2s linear forwards;
            }

        #SelectLicenseImgFileEle {
            margin-top: 8px;
        }

        .XLicenseImg {
            animation: XLicenseImgAnimation 0.2s forwards linear;
            max-width: 80%;
            max-height: 200px;
            margin-top: 8px;
        }

        @@keyframes StoreIconFileImgAnimation {
            100% {
                transform: scale(1.15);
            }
        }

        @@keyframes XLicenseImgAnimation {
            0% {
                transform: scale(0.5);
            }

            100% {
                transform: scale(1);
            }
        }

        @@keyframes LicenseImgFileEleDelete {
            0% {
                transform: scale(1);
            }

            10% {
                transform: scale(1.12);
            }

            100% {
                transform: scale(0.1);
            }
        }

        #DeleteLicenseImgFile {
            position: absolute;
            z-index: 999;
            color: red;
            transform: scale(4);
        }
    </style>
}


@*


        <h1>Create</h1>

        <h4>XAdCustomer</h4>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

*@