@model POYA.Areas.XAd.Models.XAdCustomer
@using POYA.Areas.XAd.Controllers;
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@using POYA.Data;
@using POYA.Areas.XAd.Models;

@{
    ViewData["Title"] =Localizer[ "Details"];
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _CurrentUserId=ViewData["CurrentUserId"].ToString();
}

<div>
    <hr />
    <img src='@Url.Action(nameof(XAdCustomersController.GetXAdCustomerFilesAsync),new { MD5=Model.StoreIconMD5})' class="Store-Icon" title='@(Model.Name)'/>
    <dl class="row">
        <dt class = "col-sm-2">
            @(Html.DisplayNameFor(model => model.Name))
        </dt>
        <dd class = "col-sm-10">
            @(Html.DisplayFor(model => model.Name))
        </dd>
        <dt class = "col-sm-2">
            @(Html.DisplayNameFor(model => model.UserName))
        </dt>
        <dd class = "col-sm-10">
            <a asp-area="Identity" asp-page="/Account/ViewUserInfo" asp-route-UserId="@(Model.UserId)">@(Model.UserName)</a>
        </dd>
        <dt class = "col-sm-2">
            @(Html.DisplayNameFor(model => model.DORegistering))
        </dt>
        <dd class = "col-sm-10">
            @(Model.DORegistering.LocalDateTime)
        </dd>
        <dt class = "col-sm-2">
            @(Html.DisplayNameFor(model => model.Address))
        </dt>
        <dd class = "col-sm-10">
            @(Html.DisplayFor(model => model.Address))
        </dd>
        <dt class = "col-sm-2">
            @(Html.DisplayNameFor(model => model.Intro))
        </dt>
        <dd class = "col-sm-10">
            @(Html.DisplayFor(model => model.Intro))
        </dd>
    </dl>
    @if(Model.UserId==_CurrentUserId){
        <span class="User-License-Images-Text">@Localizer["Your license images"]</span>
        <div class="Store-License-Container">
            @foreach(var lm in ViewData[nameof(ApplicationDbContext.XAdCustomerLicenses)] as List<XAdCustomerLicense>){
                <img src='@Url.Action(nameof(XAdCustomersController.GetXAdCustomerFilesAsync),new { MD5=lm.ImgFileMD5})' class="Store-License" title='@(Model.Name) @Localizer["license image"]'/>
            }
        </div>
    }

</div>

<div class="col-sm-2">
    <a  id="BackA" class="btn btn-outline-info">&laquo; @(Localizer[ "Back"])</a> 
    @if(Model.UserId==_CurrentUserId){
        <a asp-action="Edit" asp-route-id='@Model.Id' class="btn btn-outline-primary">@(Localizer["Edit"])</a> 
    }
</div>

@section Scripts{
    <script>

    </script>
}

@section Styles{
<style>
    .User-License-Images-Text{
        font-weight:800;
    }
    .Store-License-Container{
        padding:20px;
    }
    .Store-Icon{
        max-height: 50%;
        max-width: 50%;
    }
    .Store-License{
        max-height: 20%;
        max-width: 20%;
        margin-left: 10px;
    }
    .Store-Icon:hover,.Store-License:hover{
        animation: StoreIconHoverAnimation 0.2s linear forwards;
    }

    @@keyframes StoreIconHoverAnimation{
        0%{
            transform: scale(1);
        }
        75%{
            transform: scale(1.08);
        }
        100%{
            transform:scale(1.05);
        }
    }

</style>
}