@model POYA.Areas.XAd.Models.XAdCustomer

@{
    ViewData["Title"] =Localizer[ "Details"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @(Html.DisplayNameFor(model => model.Name))
        </dt>
        <dd class = "col-sm-10">
            @(Html.DisplayFor(model => model.Name))
        </dd>
        <dt class = "col-sm-2">
            @(Html.DisplayNameFor(model => model.UserId))
        </dt>
        <dd class = "col-sm-10">
            @(Html.DisplayFor(model => model.UserId))
        </dd>
        <dt class = "col-sm-2">
            @(Html.DisplayNameFor(model => model.DORegistering))
        </dt>
        <dd class = "col-sm-10">
            @(Html.DisplayFor(model => model.DORegistering))
        </dd>
        <dt class = "col-sm-2">
            @(Html.DisplayNameFor(model => model.Address))
        </dt>
        <dd class = "col-sm-10">
            @(Html.DisplayFor(model => model.Address))
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-info" id="BackA">&laquo;@(Localizer[ "Back"])</a> 
    <a asp-action="Edit" asp-route-id='@Model.Id' class="btn btn-outline-primary">@(Localizer["Edit"])</a> 
</div>
