@model POYA.Areas.XUserFile.Models.LDir


<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Localizer["Date of making"]
        </dt>
        <dd class="col-sm-10">
            @(Model.DOCreate.LocalDateTime)
        </dd>
        <dt class="col-sm-2">
            @(Localizer["In directory"])
        </dt>
        <dd class="col-sm-10">
            @(Html.DisplayFor(model => model.InDirName)) ( <span class="InFullPathSpan">@Model.InFullPath</span> )
        </dd>
        @if (Model.IsShared)
        {
            <dt class="col-sm-2">
            </dt>
            <dd class="col-sm-10">
                @string.Format(Localizer["It is shared, and the sharing code is {0}"], string.IsNullOrWhiteSpace(Model.SharingCode) ? "null" : Model.SharingCode)
            </dd>
        }
    </dl>
</div>