@model POYA.Areas.XUserFile.Models.LDir

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@(string.Format(Localizer["Details for {0}"], Model.Name))<span class="directorySpan">&#128448;</span></h1>

<partial name="_DetailsPartial" model="Model" />

<div>
    <a id="BackA" class="btn btn-outline-info">&laquo; @Localizer["Back"]</a>
    <a asp-action="Edit" asp-route-id="@Model.Id" title="@Localizer["Edit"]" class="btn btn-outline-primary">@Localizer["Edit"]</a>
</div>

@section Scripts{ 
<script>
    $("#BackA").on("click", function () {
        history.go(-1);
    });
</script>
}

@section Styles{
    <style>
        .InFullPathSpan {
            font-size: 80%;
            color: blue;
        }
    </style>
}