@model POYA.Areas.XUserFile.Models.LDir

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Localizer["Edit for"]<span class="directorySpan">&#128448;(@Model.InFullPath)</span></h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <div class="row">
                    <input asp-for="Name" class="form-control col-7" />
                    <select asp-for="CopyMove" asp-items="Model.CopyMoveSelectListItems" class=" form-control col-4"></select>
                </div>
                <span asp-validation-for="Name" data-interval="5000" class="text-danger"></span>
                <span asp-validation-for="CopyMove" data-interval="5000" class="text-danger"></span> @*   Should be enum  *@
                <div class="row" style="margin-top:20px">
                    <div class="col col-11" id="InDirIdEle" style="display:none">
                        <span>@(Localizer["Select a directory"])</span>
                        <select asp-for="InDirId" asp-items="Model.UserAllSubDirSelectListItems" class="form-control"></select>
                    </div>
                </div>

                <span asp-validation-for="InDirId" data-interval="5000" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="Index" asp-controller="LUserFiles" asp-route-InDirId="@(Model.InDirId)" class="btn btn-outline-info">&laquo; @(Localizer["Back"])</a>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            //  $("#InDirIdEle").hide();

            //#region
            /*
             if ("(Model.IsShared)" =="True") {
                    $("#SharingCode").show();
                } else {
                    $("#SharingCode").hide();
            }

            $("#IsShared").on("change", function () {
                if ($("#IsShared option:selected").val() =="true") {
                    $("#SharingCode").show();
                } else {
                    $("#SharingCode").hide();
                }
            });

            $("#SharingCode").on("click", function () {
                $("#SharingCode").val(parseInt(100000+Math.random()*899999));   //  100_000   999_999
            });

            */
            //#endregion


            $("#CopyMove").on("change", function () {
                if ($("#CopyMove option:selected").val() != 0) {
                    $("#InDirIdEle").show();
                } else {
                    $("#InDirIdEle").hide();
                }
            });
        });
    </script>

}

@section Styles{
    <style>
        .directorySpan {
            font-size: 50%;
        }
    </style>
}